.icon-message-page {
    position: relative;

    justify-content: center;

    text-align: center;
    // Center in @normal

    @include respond-to(desktop) {
        flex-grow: 1;

        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    &:after {
        position: fixed;
        top: 50%;
        left: 50%;
        z-index: -1;

        width: 130vw;
        height: 130vw;
        margin-top: -65vw;
        margin-left: -65vw;

        border-radius: 130vw;

        content: "";

        opacity: 0.2;
        background-color: $brand-primary;
    }

    .container--layout {
        position: relative;
        z-index: 10;
    }

    .icon-message-page--title {
        margin: 1rem 0 2rem 0;

        color: $brand-primary;

        @include fontSize2;
    }

    .text-lead {
        text-align: center;
    }
}

.catastrophic-error-page {
    background-color: $brand-danger;

    h2 {
        color: white;
    }
}

.icon-message-page::after {
    position: fixed;
}

body {
    .no-more-data {
        margin: auto;

        @include respond-to(desktop) {
            margin: 2rem auto;
        }

        .svg-big-icon {
            width: 12rem;
            height: 12rem;
        }

        .text-lead {
            text-align: center;

            opacity: 0.25;
        }
    }

    .illustration-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 6rem;
        height: 6rem;
        margin: auto;

        border-radius: 50%;

        background-color: lighten($brand-primary, 60%);

        .svg-big-icon {
            width: 4rem;
            height: 4rem;
        }
    }
}

.svg-big-icon {
    width: 15vw;
    height: 15vw;

    @include respond-to(mobile) {
        width: 35vw;
        height: 35vw;
    }
}

@include respond-to(desktop) {
    .icon-message-page {
        &::before {
            position: absolute;
            top: 50%;
            left: 0;

            width: 40%;
            padding-top: 40%;
            margin: -20% 30% auto 30%;

            border-radius: 50%;

            content: "";

            opacity: 0.2;
            background-color: $brand-primary;
        }

        .justify-content-center {
            justify-content: center;
        }

        &:after {
            content: none;
        }
    }
}