.enrollment-layout {
    @include respond-to(desktop) {
        background: url(../images/bg.gif);
        background-size: cover;

        .view-header,
        .view-header > .navbar {
            background: transparent;
        }

        .theme-auth .view-page::after {
            background: none;
        }
    }

    .app-page .justify-content-center {
        justify-content: center;
    }

    .theme-auth .form-group--composite .input-group .Select {
        z-index: 1000;

        min-width: 200px;

        border-right: none;
    }

    .btn.btn-block {
        width: 100%;
    }

    .form-content button {
        &.btn-outline {
            margin: 1rem 0;

            .svg-wrapper {
                margin-right: 0.5em;
            }
        }
    }

    .form-content .steps-path {
        display: flex;

        padding: 0;
        margin: 0 0 2em 0;

        list-style: none;

        li {
            flex-grow: 1;

            height: 10px;
            margin-right: 0.5em;

            border-radius: 3px;

            background-color: lighter($brand-primary, 60%);
        }

        li:last-child {
            margin-right: 0;
        }

        li.active {
            background-color: $color-interactive;
        }
    }

    .container-fluid .navbar-header .btn-outline {
        float: right;

        width: 15%;
        margin: 1.25rem 0rem;
    }

    .form-content h1 {
        padding: 0.5em 0;

        color: $brand-primary;
    }

    .form-content .text-lead {
        color: $gray-darker;
        text-align: center;
    }

    .first-step .form-group {
        padding-top: 1em;
    }

    .second-step button.btn.btn-primary {
        margin-top: 1.5em;
    }

    .form-content .progress-wrapper {
        margin-bottom: 1em;
    }

    .form-content .progress {
        height: 10px;
        margin-bottom: 0;
    }

    .form-content .progress-label {
        position: inherit;

        margin: 0;

        color: $ui-color-success;
    }

    .form-content .successAlert .alert-success {
        height: 5px;
        padding: 0;
        margin-bottom: 2em;

        background-color: lighter($brand-primary, 60%);
    }

    .container-images {
        margin-top: 1em;
    }

    .form-group--image-selector {
        .container-image {
            display: flex;
            align-items: center;
        }

        .btn-outline {
            width: auto;
        }

        .image {
            position: initial;

            align-items: center;
            flex-basis: 5rem;

            min-width: auto;
            margin: 0;

            @include respond-to(mobile) {
                margin-right: 1rem;
            }
            @include respond-to(mobile) {
                margin-bottom: 1rem;
            }
        }

        .image figure {
            width: 5rem;
            height: 5rem;
            margin: auto;

            img {
                background-color: transparent;
            }
        }
    }

    .image-grid {
        // margin-top: 2rem;

        .image-grid-item {
            padding-right: 0.5rem;
            padding-left: 0.5rem;
        }
    }

    .error-page {
        h2 {
            color: $list-item--color--error;
        }

        .list-icon-container .list-item--has-icon .bullet-icon .svg-wrapper svg {
            border: 3px solid currentColor;

            color: $list-item--icon-color--error;
        }
    }

    .success-page {
        h2 {
            color: $list-item--color--success;
        }
    }

    .list-icon-container {
        @include respond-to(mobile) {
            padding: 0;
        }

        .list-item--has-icon {
            margin: auto auto 1em;

            text-align: center;

            .bullet-icon {
                position: unset;

                margin-right: 0.5rem;

                font-size: 0.875em;
                line-height: 1.5;

                .svg-wrapper {
                    align-items: unset;

                    width: 1.5rem;
                    height: 1.5rem;
                    margin-top: 0.5rem;

                    border: 2px solid currentColor;
                    border-radius: 50%;

                    color: $list-item--icon-color--success;

                    svg {
                        padding: 0.1em;
                    }
                }
            }
        }
    }

    .list-text {
        margin-left: 1em;
    }

    .container-fluid {
        .btn.btn-outline {
            align-self: flex-end;

            width: auto;
            margin: 1.25rem 0rem;
        }
    }

    .security-image-enrollment {
        .image {
            flex-basis: initial;
            flex-grow: initial;

            min-width: initial;

            figure {
                width: 8rem;
                height: 8rem;
            }
        }

        .security-image > div + div {
            margin-left: 2rem;
        }
    }

    .onboarding-loading {
        h2 {
            margin-top: 60px;

            color: $brand-primary;
            text-align: center;
        }
    }

    .above-the-fold {
        justify-content: space-evenly;
    }
}

@include respond-to(mobile) {
    .enrollment-layout .onboarding-documents {
        background-color: $color-layoutLight;
    }
}

@include respond-to(mobile) {
    .onboarding-loading {
        background-color: $color-layoutLight;
    }

    .enrollment-layout {
        .view-header {
            background-color: $color-layoutLight;
        }

        .view-page {
            .view-content {
                .main-container {
                    &.onboarding-layout,
                    .above-the-fold {
                        background-color: $color-layoutLight;
                    }

                    &.camera-page {
                        .above-the-fold {
                            background-color: transparent;
                        }
                    }
                }
            }
        }

        .toolbar-item.view-title {
            text-align: left;
            justify-content: flex-start;
        }

        .list-text {
            width: 100%;
            margin-left: 0;

            text-align: left;

            p:first-child {
                font-weight: $bold;
            }
        }

        .list-icon-container {
            .list-item--has-icon {
                .bullet-icon {
                    position: static;
                    float: none;

                    width: 2.5rem;
                    margin: auto;

                    .svg-wrapper {
                        width: 2.5rem;
                        height: 2.5rem;
                        margin: auto;

                        svg {
                            align-self: center;

                            width: 1.5rem;
                            height: 1.5rem;
                        }
                    }
                }
            }
        }

        .message {
            .list-icon-container {
                display: block;
            }

            h2,
            p {
                text-align: center;
            }

            &.error-page {
                h2 {
                    color: $list-item--color--error;
                }

                .bullet-icon .svg-wrapper svg {
                    border: 3px solid $list-item--icon-color--error;

                    color: $list-item--color--error;
                }
            }

            &.success-page {
                h2 {
                    color: $list-item--color--success;
                }
            }
        }

        .check-list .c-control-label {
            font-size: 1.25rem;
            text-align: left;
        }
    }
}

.list-item--has-icon {
    position: relative;

    display: block;

    .bullet-icon {
        position: absolute;
        left: -1.5em;

        font-size: 0.875em;
        line-height: 1.5;
    }
}

.ob-text-info {
    display: flex;

    margin-bottom: 0.875em;

    .svg-wrapper {
        width: 5rem;

        color: $color-interactive;
    }
}

.video-wrapper video {
    position: fixed;
    bottom: 0;
    left: 0;

    width: auto;
    min-width: 100%;
    min-height: 100%;

    @include respond-to(desktop) {
    }
    @include respond-to(mobile) {
        left: -75%;

        height: 100%;
    }
}
