$translucent-layout: transparentize(#414042, 0.25);
$login-desktop-wrapper--background-color: $translucent-layout;

@include respond-to(desktop) {
    .view-header,
    .view-header .navbar {
        background: white;
    }

    .login-background .view-header,
    .login-background .view-header .navbar {
        background: transparent;
    }

    .footer {
        position: fixed;
        bottom: 0;
        left: 0;

        width: 100%;
    }

    .login-desktop-wrapper {
        padding: $l;
    }

    .login-desktop-cols {
        > .col .col {
            flex: 0 0 100%;

            max-width: 100%;
            padding-right: 0;
            padding-left: 0;
        }
    }

    video {
        transform: translate3d(0, 0, 0);
    }

    .panel.login-desktop-wrapper {
        position: relative;

        border-radius: 10px;

        // color: $login-desktop-wrapper--color;
        color: $color-ink;

        background-color: $login-desktop-wrapper--background-color;
        box-shadow: 0 0 50px 1px rgba(0, 0, 0, 0.05);

        /* Permite que las columnas a la mitad no se alinien de lado */
        > .container--layout > .container > .row > .col {
            margin: 0 1px;
        }

        .login-desktop-wrapper {
            padding: 0;

            color: inherit;

            background-color: transparent;
            .c-control--switch {
                padding-left: 1rem;
            }
        }
    }
}

.login-desktop-wrapper {
    .toolbar-btn {
        color: white;
    }

    .text-lead {
        &.text-left {
            margin-bottom: 3.7rem;

            font-size: 1.5rem;
        }
    }

    .image {
        margin-bottom: 1rem;
    }
}

.captcha {
    width: 310px;
    margin: auto;
}

// Login footer styles

.abs-pos {
    .app-footer {
        position: absolute;
        z-index: 999;
    }
}

.app-footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;

    padding: 0;

    background-color: $login-desktop-wrapper--background-color;

    .legal-nav {
        li a {
            line-height: $external-footer-height;
        }
    }
}

@include respond-to(desktop) {
    .login-background {
        .app > .container--layout {
            margin-top: ($l / 2);
            margin-bottom: ($l / 2);

            &.app-footer {
                height: $external-footer-height;
                margin-bottom: ($l / 2);
                margin-bottom: 0;
            }
        }

        .view-header .navbar .navbar-header {
            padding: 0;
            margin: 0;
        }

        .toolbar-item--fixed .toolbar-btn {
            margin: 0;
        }
    }
}

@include respond-to(mobile) {
    .login-background .view-header .navbar {
        background-color: transparent;
    }
}
