// Colors
$blue: #2c51a8;
$menu-blue: #091849;
$strong-blue: #244286;
$menu-primary: #091849;
$menu-secondary: #637495;
$menu-hover: #3c517a;
$third-blue: #2c51a8;
$light-blue: #4d74cd;
$blue-input: #185cf5;

$primary-focus: #b2c5f0;

// Neutral
$white: #fff;
$black: #171725;

// Greys
$gray-100: #f9f9f9;
$gray-200: #f5f6f8;
$gray-300: #f3f3f4;
$gray-400: #e1e1e1;
$gray-500: #acacac;
$gray-600: #999999;
$gray-700: #716e6e;
$gray-900: $black;
$gray-800: $gray-700;

$grey-disabled: #716e6e;
$grey-border: #919191;
$grey-background: #f9f9f9;

// Disabled
$disabled-bg: #f2f2f2;
$disabled-color: $gray-500;
$disabled-text-color: $gray-600;

// States
$states-success-color: #3a6745;
$states-success-bg: #d4f9db;
$states-error-color: #b40f0f;
$states-error-bg: #ffebed;
$states-info-color: #146e84;
$states-info-bg: #e1f5fc;
$states-caution-color: #a84101;
$states-caution-bg: #fcdcb2;
$states-disabled-color: #716e6e;
$states-disabled-bg: $disabled-bg;

$primary: $blue;
$secondary: $strong-blue;

// Fonts
$font-color-base: $black;
$font-family-base: "Lato", sans-serif;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-headings-size-lg: 1.5rem;
$font-headings-size-md: 1rem;
$font-headings-size-sm: 0.875rem;
$font-text-size-base: 0.875rem;
$font-text-size-lg: 1rem;
$font-text-size-md: 0.875rem;
$font-text-size-sm: 0.75rem;

// Shadow
$shadow-color: rgb(11, 37, 89);
$shadow: 0px 0.5rem 2rem -0.5rem rgba($shadow-color, 0.08);

$currentModule: "../assets/images/";

$bank-logo: "bank-logo.svg";
$bank-isotype: "bank-isotype.svg";

$bg-body: $gray-200;

// Breakpoints
$break-small: 768px;
$break-medium: 1024px;
$break-large: 1200px;

@function setUrl($file) {
    @return url($currentModule+$file);
}

@function setUrlFolders($file) {
    @return url("../"+$currentModule+$file);
}

@function colorOpacity($base-color, $opacity) {
    @return rgba(red($base-color), green($base-color), blue($base-color), $opacity);
}
