<link rel="shortcut icon" href="img/favicon/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png" />
<link rel="mask-icon" href="img/favicon/safari-pinned-tab.svg" color="#5bbad5" />
<script>
    !(function(doc, win) {
        doc.addEventListener("DOMContentLoaded", function() {
            var root = doc.querySelector("#root");
            root.setAttribute("id", "storybook-manager-root");
        });
    })(document, window);
</script>
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" />
<style>
    * {
        font-family: "Montserrat", sans-serif;
    }
    .Pane1.vertical {
        background: #ff822e;
    }
    .Pane1.vertical * {
        color: white;
    }
    .Pane1.vertical > div > div > div {
        padding: 0;
    }
    .Pane1.vertical > div > div > div > div {
        margin-bottom: 25px;
        background: #063346;
    }
    .Pane1.vertical > div > div > div > div + div,
    .Pane1.vertical > div > div > div > div + div + div {
        background: #ff822e;
    }
    .Pane1.vertical > div > div > div > div + div {
        padding: 0;
    }
    .Pane1.vertical > div > div > div > div {
        margin-bottom: 0;
        background: #063346;
    }
    .Pane1.vertical > div > div > div > div > a {
        background: url(img/logoOmni.svg) no-repeat;
        color: transparent;
        border: none;
        font-size: 24px;
        height: 75px;
        border-radius: 0;
        padding: 0;
    }
    .Pane1.vertical > div > div > div > div > button {
        font-size: 16px;
        padding-right: 5px;
    }
    .Pane1.vertical > div > div > div > div > input {
        height: 50px;
        border-radius: 0;
        border: 2px solid transparent;
        color: gray;
        font-size: 14px;
        background: url(img/searchSprite.svg) no-repeat;
        background-color: white;
        background-position: right -46px;
        background-size: 46px;
    }
    .Pane1.vertical > div > div > div > div > input:active,
    .Pane1.vertical > div > div > div > div > input:focus {
        border: 2px solid #063346;
        color: black;
        background: url(img/searchSprite.svg) no-repeat;
        background-color: white;
        background-position: right 0px;
        background-size: 46px;
    }
    .Pane1.vertical .clear {
        font-size: 36px;
        top: 11px;
        right: 16px;
        color: darkgray;
        display: none;
    }
    .Pane1.vertical ul {
        padding: 0;
        margin: 0;
    }
    .Pane1.vertical ul > li > div > ul > li > div {
        padding: 0 !important;
        margin: 0;
    }
    .Pane1.vertical ul > li > div > ul > li > div > div {
        border-bottom: 1px solid white;
        min-height: 42px;
    }
    /* Sidebar chevron + label */
    .Pane1.vertical ul > li > div > ul > li > div > div > div,
    .Pane1.vertical ul > li > div > ul > li > div > div > div > div {
        vertical-align: middle !important;
    }
    .Pane1.vertical ul > li > div > ul > li > div > div > div {
        margin-left: 0 !important;
    }
    .Pane1.vertical ul > li > div > ul > li > div > div > div > div {
        line-height: 42px;
    }
    .Pane1.vertical ul > li ul > li ul > li {
        border-bottom: 1px solid white;
        background: #e0601b;
    }
    .Pane1.vertical ul > li ul > li ul > li:hover,
    .Pane1.vertical ul > li ul > li ul > li:focus {
        background-color: rgba(0, 0, 0, 0.08);
    }
    .Pane1.vertical ul > li ul > li ul > li > a {
        line-height: 44px;
        padding-left: 36px;
        margin-left: 0;
        height: 44px;
    }
    .Pane1.vertical ul > li > div > ul > li > div + div > ul > li > div[role="menuitem"] {
        background: #e0601b;
        line-height: 42px;
        padding-left: 28px !important;
        margin-left: 0;
        border-bottom: 1px solid white;
    }
    .Pane1.vertical ul > li > div > ul > li > div + div > ul > li > div[role="menuitem"]:hover,
    .Pane1.vertical ul > li > div > ul > li > div + div > ul > li > div[role="menuitem"]:focus {
        background-color: rgba(0, 0, 0, 0.08);
    }
    .Pane1.vertical ul > li > div > ul > li > div + div > ul > li > div[role="menuitem"] > div {
        border-bottom: none;
    }
    .Pane1.vertical ul > li > div > ul > li > div + div > ul > li > div > ul > li > a {
        background: #ba4a11;
        border-left: 6px solid #063346;
        text-indent: 25px;
        padding-left: 0;
        padding-right: 0;
        height: 49px !important;
        line-height: 48px;
        padding-top: 0;
        padding-bottom: 0;
    }
    .Pane1.vertical ul > li > div > ul > li > div + div > ul > li > div > ul > li > a > div {
        border-bottom: 1px solid white;
    }
    .Pane1.vertical ul > li > div > ul > li > div + div > ul > li > div > ul > li > a > div:hover,
    .Pane1.vertical ul > li > div > ul > li > div + div > ul > li > div > ul > li > a > div:focus {
        background-color: rgba(0, 0, 0, 0.08);
    }
    .Pane1.vertical ul > li > div > ul > li > div + div > ul > li > div > ul > li {
        border-bottom: none;
    }
    .SplitPane .Resizer.vertical {
        width: 1px;
        margin: 0;
        border: 0;
    }
    .SplitPane .Resizer.vertical::after {
        width: 0;
        height: 0;
        border: 0;
    }
    /* Pane Horizontal Start */
    .Pane.horizontal.Pane1 > div {
        padding: 0;
    }
    .Pane.horizontal.Pane1 > div > div {
        border: 0;
        border-radius: 0;
    }
    /* Material Design Ripple Effect */
    .Pane1.vertical ul > li > div > ul > li > div > div {
        position: relative;
        overflow: hidden;
        transform: translate3d(0, 0, 0);
    }
    /* .Pane1.vertical ul > li > div > ul > li > div > div:hover,
    .Pane1.vertical ul > li > div > ul > li > div > div:focus {
        background-color: rgba(0, 0, 0, 0.08);
    }
    .Pane1.vertical ul > li > div > ul > li > div > div:hover,
    .Pane1.vertical ul > li > div > ul > li > div > div:focus {
        background-color: rgba(0, 0, 0, 0.08);
    } */
    .Pane1.vertical ul > li > div > ul > li > div > div:after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        pointer-events: none;
        background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
        background-repeat: no-repeat;
        background-position: 50%;
        transform: scale(10, 10);
        opacity: 0;
        transition: transform 0.5s, opacity 1s;
    }
    .Pane1.vertical ul > li > div > ul > li > div > div:active:after {
        transform: scale(0, 0);
        opacity: 0.3;
        transition: 0s;
    }
    /* Ripple Effect on Nested Level */
    .Pane1.vertical ul > li ul > li ul > li > a {
        position: relative;
        overflow: hidden;
        transform: translate3d(0, 0, 0);
    }
    .Pane1.vertical ul > li ul > li ul > li > a:after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        pointer-events: none;
        background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
        background-repeat: no-repeat;
        background-position: 50%;
        transform: scale(10, 10);
        opacity: 0;
        transition: transform 0.5s, opacity 1s;
    }
    .Pane1.vertical ul > li ul > li ul > li > a:active:after {
        transform: scale(0, 0);
        opacity: 0.3;
        transition: 0s;
    }
    /* End Ripple Effect */
    .Pane2.horizontal ul {
        border: none;
        background: transparent;
        bottom: 10px;
        right: 10px;
    }
    .Pane2.horizontal ul > li {
        height: 50px;
    }
    .Pane2.horizontal ul > li > button {
        background: #063346;
        color: white;
        box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
            0px 3px 1px -2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        padding-left: 20px;
        padding-right: 20px;
        margin-right: 10px;
    }
    .Pane2.horizontal form {
        padding-bottom: 70px;
    }
    .Pane2.horizontal form > label {
        padding: 0 40px 8px 40px;
        border-bottom: none;
    }
    .Pane2.horizontal div {
        padding-bottom: 0;
        padding-right: 0;
        border-left: none;
    }
    .Pane2.horizontal select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: url(img/selectArrow.svg) no-repeat right;
        background-color: rgba(0, 0, 0, 0.05);
    }
</style>
