@import "../_variables.scss";

.react-datepicker__navigation {
    &:hover,
    &:focus,
    &:active,
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled):active:focus {
        outline: none;
    }
}

.campaign-filter-icon {
    background: setUrlFolders("format-border-color.svg") no-repeat;
    width: 18px;
    height: 18px;
    display: inline-flex;
    vertical-align: middle;
    margin-left: 8px;
}

.campaign-filter-icon-read {
    @extend .campaign-filter-icon;
    background: setUrlFolders("list-check.svg") no-repeat;
}

.campaign-thumb-description {
    @extend .user-photo-description;
    height: 72px;
}

.campaign-thumb-preview {
    background: url(http://placekitten.com/400/40/) no-repeat;
    height: 226px;
}

.campaign-thumb-placeholder {
    background-color: $white;
    background-image: setUrlFolders("frame-portrait.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 24px;
    height: 229px;
}

.campaign-graphic {
    border-radius: 0;
    margin-bottom: 8px;
    border: 2px solid transparent;
    transition: 0.3s all linear;
    cursor: pointer;

    .card-body {
        padding: 0;
    }

    &:hover {
        border-color: $primary;

        .icon-edit-image-campaign {
            display: block;
        }

        .campaign-edit-image-label {
            color: $white;
        }
    }

    & + .text-link {
        color: $primary;
        font-size: 14px;
        display: inline-block;
        margin-bottom: 24px;
        cursor: pointer;
        font-weight: $font-weight-normal;
        background: setUrlFolders("images.svg") no-repeat left center;
        background-size: 20px;
        padding-left: 24px;

        &:not([href]):not([tabindex]) {
            color: $primary;

            &:hover {
                color: $secondary;
            }
        }

        &:hover {
            color: $secondary;
        }
    }

    &-read {
        @extend .campaign-graphic;
        border: 2px solid $gray-400;
        background: transparent;
        cursor: default;

        &:hover {
            border-color: $gray-400;
        }
    }
}

.icon-edit-image-campaign {
    background: setUrlFolders("edit.svg") no-repeat left center;
    background-size: 24px;
    width: 24px;
    height: 24px;
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.nav-campaign-filters {
    .card-body {
        padding: 8px 24px 24px 24px;
    }

    .campaign-added-filter {
        background: transparent;
        border: 0;
        color: $gray-900;
        border-radius: 0;
        border-bottom: 2px solid $white;
        margin-top: 16px;
        position: relative;

        &.active {
            border-color: $primary;
        }

        &:hover {
            border-color: $primary;
            cursor: pointer;
        }

        .card-body {
            padding: 8px 16px 8px 0px;
        }

        .card-content {
            width: 94%;
            display: inline-block;
            color: $gray-900;
        }

        .close {
            position: absolute;
            right: 16px;
            bottom: 8px;
            z-index: 1;
            opacity: 1;
            width: 20px;
            height: 20px;
            background: setUrlFolders("trash.svg") no-repeat center center;
            background-size: 20px;

            &.disabled {
                opacity: 0.3;
                cursor: not-allowed;
            }
        }
    }

    .btn-text,
    .btn-text-secondary {
        margin-bottom: 0;
    }

    .campaign-rule-step {
        margin-top: 32px;
        margin-bottom: 0;
    }

    .campaign-filter-info {
        margin-bottom: 0;
        font-weight: $font-weight-light;
    }
}

.campaign-filters-or-line {
    color: $gray-300;
    margin-top: 32px;
    font-weight: $font-weight-normal;
}

.campaign-select-image {
    text-align: center;
    display: block;
    margin: 0;
    font-weight: $font-weight-normal;
    font-size: 14px;
    padding: 8px 0;
    cursor: pointer;

    &-read {
        @extend .campaign-select-image;
        cursor: default;
    }
}

#campaign-preview-image {
    .modal-body {
        background: url(http://placekitten.com/g/1536/350) no-repeat center center;
        height: 350px;
    }
    .modal-dialog {
        background: transparent;
        padding: 0;
        img {
            width: 100%;
        }
    }
}

.campaign-filter-autocomplete {
    max-height: 130px;
    overflow: auto;
    background: $white;
}

.campaign-filter-autocomplete-item {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: $primary;
    padding: 8px 8px 0px 0px;
    opacity: 0.7;

    + small {
        position: absolute;
        bottom: -16px;
        color: $gray-400;
        font-size: 12px;
    }
}

.campaign-filter-autocomplete-item-box {
    display: flex;
    justify-content: flex-start;
    position: relative;
    margin-bottom: 16px;
    cursor: pointer;

    &:hover .campaign-filter-autocomplete-item,
    &:hover small {
        color: $gray-900;
        opacity: 1;
    }
}

//Detail

.campaign-added-filter {
    background: transparent;
    border: 0;
    color: #414042;
    border-radius: 0;
    border-bottom: 2px solid #fff;
    margin-top: 16px;
    position: relative;
}

.campaign-added-filter.active {
    border-bottom: 2px solid rgb(10, 37, 156);
}

.campaign-added-filter .close {
    position: absolute;
    right: 16px;
    bottom: 8px;
    z-index: 1;
    opacity: 1;
    width: 20px;
    height: 20px;
    background: setUrlFolders("trash.svg") no-repeat center center;
    background-size: 20px;
}