// AutocompleteInput
.autocomplete-added-items {
    background: white;
    margin-top: 8px;
}

.autocomplete-added-item {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #414042;
    padding: 8px 8px 0px 0px;
    opacity: 0.7;

    + small {
        position: absolute;
        bottom: -16px;
        color: #707070;
        font-size: 10px;
    }
}

.autocomplete-added-item-box {
    display: flex;
    justify-content: flex-start;
    position: relative;
    margin-bottom: 16px;
    cursor: default;
}

.autocomplete-added-items-cancel {
    background: setUrlFolders("cancel.svg") no-repeat center center;
    background-size: 16px;
    position: absolute;
    right: 16px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    top: 8px;
}

// DataTable
label.icon-checkbox {
    display: block;
    input {
        display: none;
    }
}

.user-list-table thead th.no-sort {
    background: none;
    cursor: default;
}

.pagination .page-item.active .page-link {
    z-index: initial;
}

.row-head {
    min-width: 90px;
}

.title-column {
    min-width: 150px;
}

// EditableValue
span.optional {
    text-transform: capitalize !important;
}

// Icon
.icon {
    display: inline-block;

    &.s {
        width: 0.8rem;
    }

    &.m {
        width: 1.2rem;
    }

    &.l {
        width: 1.5rem;
    }

    &.xl {
        width: 2rem;
    }
}

// Label
.font-bold {
    font-weight: bold;

    &.option {
        color: #707070;
    }
    &.option::after {
        content: "\00a0 ";
    }
}

// FiltersLoading
.sp-main-fullpage {
    z-index: 4;
    position: fixed;
    width: 100vw;
    top: 0;

    .spinner-col {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

// PageLoading
.sp-main-fullpage {
    z-index: 4;
    position: fixed;
    width: 100vw;
    top: 0;

    .spinner-col {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

// MeterChurn
.svg-space {
    padding: 0 5px;
}

.center-information {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.center-information > strong {
    font-size: 1.5rem;
}

.text-churn {
    padding: 0 3px;
    font-weight: 500;
    font-size: 2rem;
}

// Notice
// TODO: Extract ASAP
.notice {
    $noticeTextColor: white;
    $noticeColor: white;
    $noticeBg: #0a4b67;

    display: flex;
    flex-direction: column;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &.warning {
        background: $noticeBg;
        border-radius: 1ex;
        color: $noticeTextColor;
        box-shadow: 0 0 0 1em rgba(255, 255, 255, 0.5);
    }

    .title,
    .content {
        padding: 1ex;
        color: $noticeTextColor;
    }

    .title {
        font-size: 150%;
        padding: 0.75ex;
        font-weight: 800;
        text-align: center;
    }
    .content {
        margin: 0 1em;
        text-align: center;
    }

    a {
        color: $noticeTextColor;
        text-decoration: none;
        border-bottom: 1px solid currentColor;
    }

    // variants
}

// Pill
.btn-sm.pill-disabled {
    cursor: default;
}

// DualSelectList
.centered-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab-pane .invalid-feedback {
    display: flex;
    margin-bottom: 8px;
}

// Switch
.switch-disabled {
    &.encrypt-toggled-off-icon,
    &.encrypt-toggled-on-icon {
        cursor: not-allowed;
    }
}

// Tab
.column-cursor {
    cursor: pointer;
}

// UserPhoto
.with-photo {
    background-size: cover;
}

.without-photo {
    background-color: #f3f3f3 !important;
    background-image: setUrlFolders("frame-portrait.svg") !important;
    background-size: 24px !important;
}

.user-photo-box {
    + .invalid-feedback {
        display: inline-block;
        margin-top: 1.25rem;
        background-image: setUrlFolders("warning.svg");
        background-position: center right 16px;
        background-repeat: no-repeat;
    }

    margin-top: 0px;
    .btn-primary {
        margin: 15px auto;
    }
}

// WidgetBarRfm
.widget-box-flex {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    // padding: 0;
}

.text-decoration {
    padding-left: 7px;
}

span.text-decoration {
    padding: 0 3px;
    font-weight: 500;
    font-size: 2rem;
    padding-left: 18px;
}

.no-padding-col {
    padding-left: 0px;
    padding-right: 0px;
}

// WidgetChurn
.widget-box-flex {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    // padding: 0;
}

.text-decoration {
    padding-left: 7px;
}

span.text-decoration {
    padding: 0 3px;
    font-weight: 500;
    font-size: 2rem;
    padding-left: 18px;
}

.no-padding-col {
    padding-left: 0px;
    padding-right: 0px;
}

// WidgetSentimentAnalysis
.widget-box-flex {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    // padding: 0;
}

.text-decoration {
    padding-left: 7px;
}

span.text-decoration {
    padding: 0 3px;
    font-weight: 500;
    font-size: 2rem;
    padding-left: 18px;
}

.no-padding-col {
    padding-left: 0px;
    padding-right: 0px;
}

// WidgetStar
.widget-box-flex {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    // padding: 0;
}

.text-decoration {
    padding-left: 7px;
}

span.text-decoration {
    padding: 0 3px;
    font-weight: 500;
    font-size: 2rem;
    padding-left: 18px;
}

.no-padding-col {
    padding-left: 0px;
    padding-right: 0px;
}

// WidgetValue
.widget-box-flex {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    // padding: 0;
}

.text-decoration {
    padding-left: 7px;
}

span.text-decoration {
    padding: 0 3px;
    font-weight: 500;
    font-size: 2rem;
    padding-left: 18px;
}

.no-padding-col {
    padding-left: 0px;
    padding-right: 0px;
}
