.label.emphasized {
    font-weight: 500;
    font-size: 1.25rem;
    color: #414042;
}

.form-group.field-section-title {
    margin-bottom: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.engagement-summary {
    color: #707070;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 20px 0;

    .col-md-1 {
        @media (min-width: 768px) {
            flex: 0 0 10.33333%;
            max-width: 10.33333%;
        }
    }
}

.engagement-summary-center {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;

    h5 {
        margin-bottom: 1rem;
    }
}

.action-list {
    .action-item {
        list-style: none;
        text-align: right;

        a:after {
            background: setUrlFolders("action-arrow.svg") no-repeat right top 3px;
            background-size: 10px;
            display: inline-block;
            width: 15px;
            height: 15px;
            content: "";
        }
    }
}

.visual-layout {
    padding-bottom: 2rem;
}

.test {
    padding: 0 3px;
    font-weight: 500;
    font-size: 2rem;
}
.sentiment-info {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    flex-direction: row;
    padding: 0;
}

.text-decoration {
    padding-left: 20px;
}

.charts-tendency {
    display: flex;
    align-items: flex-end;
    align-content: flex-start;
    flex-direction: row;
}

div.identifier {
    padding-bottom: 0.75rem;

    label {
        display: block;
        font-size: 2rem;
        font-weight: $font-weight-light;
    }
    span {
        display: block;
        font-size: 1.25rem;
    }
}

.devices-accordion {
    .btn {
        @include flex(center, flex-start);
        @include icon($icon: "i-arrow.svg", $icon-x: center, $icon-y: right);
        background-size: 1.25rem;        
        .icon {
            display: none;
        }
    }
}

.device-header {
    align-items: flex-start;
    margin: 0;
}