.permissions-field .title,
.limits-list .title {
    @extend .card-title;
}

.limits-list {
    .list-group-item.error span {
        color: red;
    }
}

.environments-filters {
    min-width: 700px;

    .row:first-child {
        position: relative;

        .invalid-feedback.show {
            position: absolute;
            bottom: 0;
        }
    }
}

.environments-title-container {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    h1 {
        margin-bottom: 0;
    }

    h3 {
        margin-top: 1rem;
        margin-bottom: 0;
    }

    button {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.buttons-container {
    align-items: center;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;

    > button {
        margin: 0 0 0 1rem;
    }
}

.add-button-container {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

.add-button-container-footer {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;

    &.left-alignment {
        justify-content: flex-start;
    }
}

.signature-extra-actions-container {
    margin: 0 1rem;

    .signatures-extra-actions {
        margin: 2rem 0 3rem 0;
    }
}

.signatures-extra-actions {
    margin: 0 1rem 1rem 1rem;

    .form-group,
    h3 {
        margin-bottom: 0.5rem;
    }
}

.modal-list-item {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid $gray-200;
    padding: 0.5rem 0.5rem;

    .modal-list-item-col-1 {
        flex-basis: 50%;
        text-align: center;
        font-weight: $font-weight-light;

        &.title {
            font-weight: $font-weight-bold;
        }
    }

    .modal-list-item-col-2 {
        flex-basis: 50%;
        text-align: center;
        font-weight: $font-weight-light;

        &.title {
            font-weight: $font-weight-bold;
        }
    }

    .icon-checkbox {
        margin: 0;
    }
}

.permissions-list {
    cursor: pointer;

    label.field-label {
        background-color: $gray-900;
        font-weight: $font-weight-bold;
    }

    .selected-permissions {
        padding-right: 0;
        flex: 0 0 20%;

        .list-group .list-group-item {
            padding: 1rem 0 0.625rem 3.0625rem;
            margin-bottom: 0;
            @extend .selected-icons;

            @media (max-width: 2000px) {
                padding: 1rem 0 0.625rem 1.25rem;
            }

            &.item-active {
                color: $primary;
                background: $gray-100;
            }
        }
    }

    .selected-groups {
        padding: 2.5rem 0 2.5rem 2.5rem;
        flex: 1;

        &:nth-child(even) {
            background: $gray-100;

            li.item-active {
                background-color: $gray-300;
            }
        }

        &:nth-child(odd) {
            background-color: $gray-300;

            li.item-active {
                background-color: $gray-300;
            }
        }

        &:last-child {
            flex: 2;
        }

        li.list-group-item {
            @extend .selected-icons;
        }

        li.item-active {
            color: $primary;
        }

        .permissions-actions {
            display: flex;

            label,
            button {
                padding: 0;
                font-weight: $font-weight-bold;
            }

            .fields-label {
                margin-bottom: 0;
            }

            button {
                margin: 0 0 0 2rem;
                border: none;
            }
        }

        .list-group li.list-group-item {
            width: 100%;
            padding: 1rem 0;
            margin-bottom: 0;
        }
    }

    .intro-title {
        font-size: 1.25rem;
    }
}

.selected-icons {
    &:before {
        margin-right: 0.5rem;
    }

    &.none:before {
        content: setUrlFolders("none-permissions.svg");
    }

    &.all:before {
        content: setUrlFolders("full-permissions.svg");
    }

    &.some::before {
        content: setUrlFolders("some-permissions.svg");
    }
}

.group-list {
    .list-group {
        display: flex;
        flex-flow: row wrap;

        .list-group-item:first-child {
            margin-top: 0;
        }

        .list-group-item {
            flex: 1 1 30%;
            margin-right: 1rem;
            margin-bottom: 0.625rem;
            font-size: 1rem;
        }
    }
}

//  clears when html is changed
.holdings-page {
    .search-user {
        margin: 1rem 0;
        .form-group {
            padding: 0;
            flex-direction: row;
            margin: 0;
        }
    }

    .user-detail {
        background: $gray-100;
        margin-bottom: 2rem;
        padding: 2rem;
    }

    .btn-text.mb-1.align-self-end {
        margin-bottom: 2rem !important;
    }

    .btn[data-tip="Search User"] {
        margin-top: 1.75rem;
    }
}
