html,
body {
    height: 100%;
    font-family: $font-family-base;
}

body {
    font-size: $font-text-size-base;
    //background: #fafafb;
    background: $bg-body;
}

.title--h3 {
    margin-bottom: 1rem;
}

.tab-header1 {
    margin-top: 24px;
    font-size: 36px;
}

.tab-header2 {
    margin-top: 32px;
    font-size: 28px;
}

.tab-header3 {
    margin-top: 41px;
    font-size: 20px;
    margin-bottom: 36px;
    color: $gray-900;
    font-weight: $font-weight-light;
}
.underline-title2 {
    margin-bottom: 0;
}

.underline-title3 {
    margin-bottom: 0;
    margin-top: 11px;
}

.bank-logo {
    display: flex;
    align-items: center;
    background: setUrlFolders($bank-logo) no-repeat left center;
    margin-top: 24px;
    height: 58px;
    margin-bottom: 24px;
    max-width: 200px;
}

.underline-hr2 {
    margin-bottom: 32px;
}

.underline-hr3 {
    margin-bottom: 26px;
}

.underline-hr4 {
    margin-bottom: 28px;
}

.link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $gray-900;
    margin-bottom: 30px;
    position: relative;
    font-weight: $font-weight-bold;
    background: setUrlFolders("arrow-right.svg") no-repeat right 16px center;
    background-size: 24px;

    &:hover {
        color: $primary;
        text-decoration: none;
    }

    &:visited {
        color: $gray-900;
    }

    &.active {
        color: $primary;
    }

    @media (max-width: 767px) {
        margin-bottom: 40px;
    }
}

.timepicker-input {
    padding-right: 0;
}

.icon-warning-tabs {
    background: setUrlFolders("modal-icon-warning.svg") no-repeat left center;
    background-size: 18px;
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
}

.icon-search-multiselect {
    position: absolute;
    background: setUrlFolders("search-gray-900.svg");
    width: 20px;
    height: 20px;
    bottom: 10px;
    left: 0.5rem;

    @media (max-width: 767px) {
        bottom: 24px;
    }
}

.multiselect-search-box {
    position: relative;

    > input {
        padding-left: 40px;
    }
}

.added-groups {
    color: $gray-400;
}

.show-all {
    color: $primary;
}

.quick-search-label {
    margin-bottom: 2px;
    font-weight: $font-weight-bold;
    color: $gray-900;
    margin-top: 32px;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    padding: 8px;
    border: none;
    background-color: $gray-100 !important;
    box-shadow: 3px 3px 9px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 3px 3px 9px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 3px 3px 9px 0 rgba(0, 0, 0, 0.19);
}

.bootstrap-datetimepicker-widget .picker-switch td span {
    color: $primary;
}

.bootstrap-datetimepicker-widget table td span:hover,
.bootstrap-datetimepicker-widget table thead tr:first-child th:hover,
.bootstrap-datetimepicker-widget table td.day:hover,
.bootstrap-datetimepicker-widget table td.hour:hover,
.bootstrap-datetimepicker-widget table td.minute:hover,
.bootstrap-datetimepicker-widget table td.second:hover {
    background: $gray-200;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background: $primary;
}

.bootstrap-datetimepicker-widget table td.today:before {
    border-bottom-color: $primary;
}

.bootstrap-datetimepicker-widget.dropdown-menu.top:after {
    border-top: 6px solid $gray-100;
}

.bootstrap-datetimepicker-widget.dropdown-menu.top:before {
    border-top: none;
}

.content-table,
.main__content {
    position: relative;
    padding: 0;
}

.multiselect {
    margin: 0.5rem 0;
    display: flex;
    flex-wrap: wrap;

    .item {
        margin: 2px 4px 2px 0;

        &.cursor-default {
            cursor: default !important;
        }
    }

    input[type="checkbox"] {
        display: none;
    }

    .invalid-feedback {
        @include background(
            $background-img: "warning.svg",
            $background-size: 1rem,
            $background-position: right 0.5rem center
        );
        display: inline-block;
        margin: 1rem 0;
        padding-right: 2rem;
    }

    .multiselect-top-close-button {
        font-size: 0.625rem;
        vertical-align: super;
        margin-left: 10px;
    }
}

.row-spacing {
    @media (max-width: 767px) {
        margin-top: 0;
    }
}

.badge-primary {
    background: $blue-input;
    border-radius: 3px;
    color: $white;
    padding: 3px 6px;
    margin-left: 8px;
}

.groups-add-arrows-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    @media (max-width: 767px) {
        flex-direction: row;
        margin-top: -24px;
    }
}

.sys-config-validation {
    .groups-box {
        max-height: 154px;
        overflow: auto;
    }

    .groups-box-read {
        height: 122px;
        overflow: auto;
    }
}

.possible-values-box {
    label {
        display: inline-flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        margin-left: -16px;
        margin-right: 20px;
        margin-top: 8px;
    }

    .pill-remove {
        background: setUrlFolders("cancel.svg") no-repeat center center;
        background-size: 14px;
        width: 14px;
        height: 12px;
        margin-left: 16px;
        cursor: pointer;
    }
}

.last-row-mb {
    margin-bottom: 32px;
}

.checkbox-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.input-group > .input-group-prepend > .input-group-text {
    border: none;
    background: transparent;
    padding-left: 0;
}

.graphic-language {
    margin-bottom: 32px;
}

.tab-content > .active {
    padding-top: 24px;

    @media (max-width: 767px) {
        padding-top: 0;
    }
}

.scroll-box {
    max-height: 400px;
    overflow-y: auto;
    margin-bottom: 24px;
}

.list-group {
    list-style: none;

    &--workspace {
        margin: 1rem;
    }

    hr {
        @include hr-line(1px);
        margin: 2px 0;
    }
}

.list-group-item {
    background: none;
    border: none;
    padding: 0;
    margin-bottom: 16px;
    line-height: 1.25;
    display: block;
    position: relative;

    &:first-child,
    &:last-child {
        margin-bottom: 16px;
    }
}

.top-label {
    margin-top: 31px;

    @media (max-width: 767px) {
        margin-top: 0;
        margin-bottom: 24px;
    }
}

.accordion {
    .list-group {
        margin-top: 8px;
    }

    h4 {
        color: $gray-700;
        font-size: $font-text-size-base;
        margin-bottom: 2rem;
    }

    .user-photo-description {
        @extend .label;
        margin-bottom: 0.5rem;
    }

    .footer-btn-box {
        margin-top: 16px;
        margin-bottom: 40px;
    }
}

.config-tabs {
    .nav-link {
        background-color: transparent;
        padding-left: 0;
        padding-right: 0;
        border: 0;
        border-bottom: 2px solid transparent;
        font-weight: $font-weight-light;
        color: $gray-400;
        margin-right: 24px;
        font-size: 20px;
        padding-bottom: 0;
        cursor: pointer;

        &:hover {
            color: $gray-900;
        }

        &.active {
            color: $primary;
            border-bottom: 2px solid $primary;
            background-color: transparent;
        }
    }

    + .tab-content > .active {
        padding-top: 8px;
    }
}

.sys-availability-label {
    font-size: 20px;
    font-weight: $font-weight-light;
}

// Spinner

.spinner-col {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

.spinner-tab {
    margin-top: 144px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;

    .spinner {
        width: 32px;
        height: 32px;
        background-size: 32px;
    }
}

.spinner {
    background: setUrlFolders("sync.svg") no-repeat center center;
    background-size: 48px;
    width: 48px;
    height: 48px;
    -webkit-animation: spinner-rotate 3s linear infinite;
    -moz-animation: spinner-rotate 3s linear infinite;
    -ms-animation: spinner-rotate 3s linear infinite;
    -o-animation: spinner-rotate 3s linear infinite;
    animation: spinner-rotate 3s linear infinite;
}

.btn-spinner {
    background: setUrlFolders("sync-btn.svg") no-repeat center center;
    background-size: 16px;
    width: 16px;
    height: 16px;
    margin-left: 8px;
}

@keyframes spinner-rotate {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.spinner-text {
    margin-top: 16px;
    font-weight: $font-weight-light;
}

@keyframes ellipsis-dot {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

// Footer

.footer {
    font-size: $font-text-size-sm;
    padding: 0;

    @media (max-width: 767px) {
        width: 100%;
        margin-left: 0;

        .col-md-1 {
            display: none;
        }
    }
}

.hr-footer {
    display: none;
}

.footer-btn-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin-top: 1rem;

    .btn {
        margin-left: 1rem;
    }

    .dropdown-menu {
        bottom: 2.5rem;
        right: 0;
    }

    @media (max-width: 767px) {
        flex-flow: row wrap-reverse;
    }
}

.menu-date-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 8px;
}

.date-icon {
    background: setUrlFolders("calendar-date.svg") no-repeat right center;
    background-size: 16px;
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.time-icon {
    background: setUrlFolders("time.svg") no-repeat right center;
    background-size: 16px;
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.eye-icon {
    display: block;
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    background: setUrlFolders("eye.svg") no-repeat right center;
    background-size: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;

    &.disabled {
        background: setUrlFolders("eye-off.svg") no-repeat right center;
    }

    &.hide {
        display: none;
    }
}

.autocomplete-search-icon {
    background: setUrlFolders("search-gray-900.svg") no-repeat center center;
    background-size: 24px;
    width: 24px;
    height: 24px;
    position: absolute;
    left: -32px;
    top: 24px;
    opacity: 0.7;
}

.toggled-on-icon {
    background: setUrlFolders("toggle-on.svg") no-repeat center center;
    background-size: 28px;
    width: 28px;
    height: 28px;
    position: absolute;
    right: 60px;
    cursor: pointer;

    &-all {
        @extend .toggled-on-icon;
        background-size: 40px;
        width: 40px;
        height: 40px;
        position: initial;
        margin-left: 8px;
    }
}

.toggled-off-icon {
    background: setUrlFolders("toggle-off.svg") no-repeat center center;
    background-size: 28px;
    width: 28px;
    height: 28px;
    position: absolute;
    right: 60px;
    cursor: pointer;

    &-all {
        @extend .toggled-off-icon;
        background: setUrlFolders("toggle-off-all.svg") no-repeat center center;
        background-size: 40px;
        width: 40px;
        height: 40px;
        position: initial;
        margin-left: 8px;
    }
}

.encrypt-toggled-off-icon {
    @extend .toggled-off-icon;
    position: static;
}

.encrypt-toggled-on-icon {
    @extend .toggled-on-icon;
    position: static;
}

.sys-availability-box {
    display: flex;
    align-items: center;
    margin: 2rem 0;
}

.add-subtype-btn {
    font-size: 12px;
    color: $primary;
    cursor: pointer;
    line-height: 5.5;
    font-weight: $font-weight-bold;

    &.disabled {
        opacity: 0.3;
        cursor: not-allowed;
    }
}

.add-group-btn {
    font-size: 12px;
    color: $primary;
    cursor: pointer;
    line-height: 1.5;
    font-weight: $font-weight-bold;
}

.tooltip-inner {
    background-color: $white;
    color: $gray-900;
    border-radius: 0;
    box-shadow: 2px 2px 4px 0px rgba(161, 161, 161, 1);
    opacity: 1;
}

.tooltip.show {
    opacity: 1 !important;
}

.bs-tooltip-right .arrow::before {
    border-right-color: $white;
}

.bs-tooltip-left .arrow::before {
    border-left-color: $white;
}

.bs-tooltip-bottom .arrow::before {
    border-bottom-color: $white;
}

.bs-tooltip-right .arrow::after {
    content: "";
    position: absolute;
    left: 100%;
    z-index: -1;
    border: 5px solid #fff;
    transform-origin: 0 0;
    transform: rotate(45deg);
    box-shadow: 2px 2px 4px 0 rgba(161, 161, 161, 1);
}

.bs-tooltip-bottom .arrow::after {
    content: "";
    position: absolute;
    bottom: -12px;
    z-index: -1;
    border: 5px solid #fff;
    transform-origin: 0 0;
    transform: rotate(-45deg);
    box-shadow: 2px 2px 4px 0 rgba(161, 161, 161, 1);
}

.plus-minus-container {
    @include flex(center, center);
    label {
        margin: 0 1rem;
    }
    .plus-icon,
    .minus-icon {
        @extend .btn-secondary;
        border-radius: 50%;
        height: 1.75rem;
        width: 1.75rem;
        padding: 0;
    }
    .plus-icon {
        @include background(
            $background-img: "i-plus.svg",
            $background-size: 0.6rem,
            $background-position: center center
        );
    }
    .minus-icon {
        @include background(
            $background-img: "i-minus.svg",
            $background-size: 0.6rem,
            $background-position: center center
        );
    }
}

.notification-wrapper {
    position: relative;
    margin-right: 88px;
    margin-left: 88px;
}

.panel-understood {
    @extend .box;
    @extend .container;
    padding: 0.75rem 2.5rem 0.5rem;
    margin-bottom: 0.75rem;

    .text-container {
        letter-spacing: -0.18px;
        color: $gray-800;
        font-weight: $font-weight-light;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;

        label {
            text-align: center;
        }

        .title {
            font-weight: $font-weight-bold;
        }
    }

    .button-container {
        display: flex;
        justify-content: flex-end;
    }
}

.group-select-all {
    @media (max-width: 767px) {
        display: none;
    }
}

iframe {
    border: none;
}

.spinner-col-report {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}
.total-elements {
    label {
        margin: 0 0.25rem;
    }
}

.react-datepicker-wrapper {
    display: unset;

    .react-datepicker__input-container {
        position: relative;
        display: unset;
    }
}

.group-calendar {
    display: flex;
    margin-bottom: 2rem;

    &__item {
        width: 9rem;

        .top-label {
            margin: 0;
        }
    }
}

.search-user {
    > div {
        margin: 1rem 0;
        flex-direction: row;
        display: flex;
        align-items: baseline;

        .btn {
            margin: 0 2rem;
        }
    }
}

.form-group--flex {
    .row,
    .row-spacing {
        margin: 0;
    }

    .form-group {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;

        .label {
            line-height: 2;
            margin: 0;
        }
        .data-read {
            margin-left: 1rem;
        }
    }
    .response-code-container {
        margin: 0.25rem 0;
    }
}

.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
