@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&display=swap");

* {
    box-sizing: border-box;
    border: none;
    margin: 0;
    padding: 0;
}

body {
    color: $font-color-base;
    font: {
        family: $font-family-base;
        size: $font-text-size-base;
        weight: $font-weight-normal;
    }
}

h1,
h2 {
    font: {
        size: $font-headings-size-lg;
        weight: $font-weight-bold;
    }
    margin-bottom: 1rem;
}

h3,
h4 {
    @extend .card-title;
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1rem;
}

a {
    color: $primary;
    text-decoration: none;
    &:hover,
    &:focus {
        text-decoration: none;
    }
}

ul,
li {
    list-style-type: none;
}
