/* Botones */

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    white-space: initial;

    > span {
        /* esto esta bien para arreglar lo de safari? */
        text-align: center;
    }

    > * {
        margin: 0 0.3em;
    }

    .svg-wrapper,
    svg {
        width: 1em;
        height: 1em;
        min-width: initial;
    }
}

.btn.btn-primary {
    color: white;

    &.btn-circle-bg {
        border-color: #98cfde;

        background-color: #98cfde;
    }
    &:focus {
        background-color: $color-interactive;
        border: none;
    }
}

.btn.btn-primary:hover {
    color: white;
}

.btn.btn-primary.active:hover,
.btn.btn-primary.active:focus,
.btn.btn-primary.active.focus,
.open > .btn.btn-primary.dropdown-toggle:hover,
.open > .btn.btn-primary.dropdown-toggle:focus,
.open > .btn.btn-primary.dropdown-toggle.focus {
    color: white;
    background-color: $color-interactiveShade;
}

.new-modal {
    .btn.btn-primary:focus,
    .open > .btn.btn-primary.dropdown-toggle:focus {
        border: none;

        color: white;

        background-color: $color-interactive;
    }

    .btn.btn-primary {
        &:hover:active {
            background-color: $color-interactiveShade;
        }
    }
}

.btn.btn-only-icon {
    padding: 0.5rem 1rem;

    border: none;

    color: $brand-info;

    background-color: transparent;

    &:hover,
    &:focus,
    &:active,
    &:active:hover {
        color: $brand-info;

        background-color: transparent;
    }

    .svg-wrapper {
        width: 1rem;
        height: 1rem;
    }
}

.btn-block + .btn-block {
    margin-top: $m;
}

.btn.is-loading {
    position: relative;

    display: flex;

    margin: auto;

    background-color: darken($brand-info, 20%);

    transition: 0.1s ease;

    .btn-loading-text {
        @include visually-hidden;
    }

    .btn-loading-indicator {
        span:nth-child(1),
        span:nth-child(2),
        span:nth-child(3) {
            top: 0.25em;
            left: -1rem;

            display: inline-block;

            width: 0.5rem;
            height: 0.5rem;
            margin: 0 0.3em;

            border-radius: 100%;

            content: "";

            background-color: currentColor;

            animation: bouncedelay 1.4s infinite ease-in-out both;
        }

        span:nth-child(2) {
            left: 0;

            animation-delay: 0.16s;
        }

        span:nth-child(3) {
            left: 1rem;

            animation-delay: 0.32s;
        }
    }
}

.btn-facebook {
    @include button-variant($btn-facebook-color, $btn-facebook-bg, $btn-facebook-border);
}

.btn-google {
    @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
}

.btn-flex {
    display: inline-flex;
    align-items: center;
    flex-direction: row;

    &.btn-facebook .svg-icon {
        border-color: transparentize($btn-facebook-color, 0.8);
    }

    &.btn-default .svg-icon {
        border-color: transparentize(color-yiq($btn-default-color), 0.8);
    }

    &.btn-outline .svg-icon {
        border-color: currentColor;
    }

    .svg-wrapper {
        width: 2rem;
    }

    .svg-wrapper,
    svg {
        width: 2.8rem;
        height: 2.8rem;
        min-width: initial;
    }

    span {
        flex: 1;

        text-align: center;
    }
}

.btn.btn-outline {
    border-color: currentColor;

    color: $brand-info;

    background-color: transparent;

    appearance: initial;

    &:hover {
        color: $color-interactiveShade;
    }

    &:active {
        border-color: $color-interactiveShade;

        color: $color-interactiveShade;
    }

    &:focus:active {
        background-color: transparent;
    }
}

.login-desktop-wrapper,
.login-splash {
    .container--layout {
        .btn.btn-outline {
        }
    }
}

.login-desktop-wrapper .view-header .navbar .navbar-header .btn.btn-link {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 0.25rem;

    &:hover {
        border-color: transparent;

        background-color: transparent;
    }
}

.mailing .icon-tags .btn.btn-outline {
    &:focus {
        outline: none;
    }

    &:focus:active {
        color: white;

        background-color: $color-interactive;
    }
}

.btn.btn-outline-contrast {
    color: inherit;

    &:hover {
        border-color: white;

        color: inherit;

        background-color: transparentize($color: white, $amount: 0.77);
    }

    &:active {
        border-color: $color-interactive;

        box-shadow: 0 0 0 4px rgba($color-interactive, 0.4);
    }

    &:focus {
        border-color: white;

        color: white;

        box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.5);
    }

    &:focus:active {
        box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.3);
    }
}

.btn.btn-link {
    border: 1px solid transparent;

    color: $brand-info;

    background-color: transparent;

    &:hover {
        color: $color-interactiveShade;
        text-decoration: none;

        background-color: transparent;
    }
}

// Renders exactly a link in a button tag
.btn.btn-asLink {
    display: inline;

    padding: 0;

    border: none;

    color: $brand-info;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: normal;
    text-decoration: underline;
    text-transform: none;
    vertical-align: baseline;

    background-color: transparent;

    > span {
        margin: 0;

        font-family: inherit;
    }

    &:hover {
        color: darken($brand-info, 5%);

        background-color: transparent;
    }

    &:focus {
        background-color: transparent;
    }
}

.btn-close-session .svg-icon {
    width: 1.75em;
    height: 1.75em;
}

.btn.btn-ico {
    padding: 0;

    border: none;

    color: $brand-info;

    background-color: transparent;

    @include respond-to(mobile) {
        justify-content: initial;
    }

    .svg-wrapper {
        width: 3rem;
        height: 3rem;
        margin-left: 0;

        border: 1px solid $color-interactive;
        border-radius: 50%;
        // background-color: transparentize($brand-info, 0.85);

        svg {
            width: 1.75rem;
            height: 1.75rem;
        }
    }

    &:hover {
        color: darken($brand-info, 5%);
        color: $color-interactiveShade;
        background-color: transparent;

        .svg-wrapper {
            color: $color-interactiveShade;
            border-color: $color-interactiveShade;
        }
    }

    &:focus {
        box-shadow: none;
        .svg-wrapper {
            box-shadow: 0 0 0 4px rgba($color-interactive, 0.4);
        }
    }
    &:focus:active,
    &:active {
        box-shadow: none;
        background-color: transparent;
        color: $color-interactiveShade;

        .svg-wrapper {
            box-shadow: 0 0 0 4px rgba($color-interactiveShade, 0.4);
            border-color: $color-interactiveShade;
        }
    }
}

/* Botones de login paso 0 en mobile */

.btn.icon-with-border {
    padding: 0.375rem 1rem !important;

    .svg-wrapper,
    .svg-wrapper svg {
        width: 2.4rem;
        height: 2.4rem;
        min-width: initial;

        + span {
            padding-left: 1em;
        }

        .svg-icon {
            box-sizing: initial;

            padding-right: 1rem;

            border-right: 1px solid;

            > div {
                width: 2.5rem;
                height: 2.5rem;
            }
        }
    }
}

.view-title .btn-only-icon {
    > span {
        @include ellipsis;
    }
}

@include respond-to(desktop) {
    .app-page {
        .btn-only-icon {
            border: 1px solid currentColor;

            .svg-wrapper:first-child {
                margin-right: 0.5rem;
            }

            .svg-wrapper:last-child {
                margin-left: 0.5rem;
            }
        }

        .back-btn {
            padding-right: 0;
            padding-left: 0;

            border: none;

            font-size: 1.1rem;
        }

        .btn-block:not(.btn-image) {
            display: inline-flex;

            width: initial;
            margin-top: 0;

            &:not(:last-child) {
                margin-right: 1rem;
            }
        }

        .text-right .btn-block:not(.btn-image) {
            &:not(:last-child) {
                margin-right: 0;
            }

            &:not(:first-child) {
                margin-left: 1rem;
            }
        }
    }

    .enrollment-layout {
        .app-page {
            .btn-block + .btn-block:not(.btn-image) {
                margin-top: $m;
            }
        }
    }
}

.app-page td button.btn.btn-circle-bg {
    flex-flow: row wrap;

    width: 2.25em;
    padding: 0.5em;
    margin-right: 0.25rem;

    border-radius: 50%;

    .svg-wrapper,
    svg {
        width: 1.1em;
        height: 1.1em;
    }
}

p .btn.btn-quiet {
    padding: 0;

    font-size: 1em;
    vertical-align: baseline;

    span {
        font-family: $font-family-base;
    }
}

.btn.btn-quiet {
    padding: 0.5em;
    padding-right: 0;
    padding-left: 0;

    border: none;

    color: $brand-info;
    font-weight: normal;
    text-transform: none;

    background-color: transparent;

    > span {
        margin: 0;
    }

    &:hover {
        background-color: transparent;
    }

    &:focus {
        background-color: transparent;
    }
}

.btn.btn-quiet {
    @include respond-to(desktop) {
        padding: 0.5rem !important;

        font-weight: $bold;
    }

    &:hover {
        color: white;

        background-color: $brand-info;
    }

    &:active {
        color: $color-interactive;

        background-color: transparent;
    }

    &:focus,
    &:active,
    &:focus:active {
        text-decoration: none;

        box-shadow: 0 0 2px rgba(black, 0.25);
    }

    &.is-loading {
        background-color: transparent;

        .btn-loading-indicator {
            span {
                width: 0.375em;
                height: 0.375em;
            }
        }
    }
}

.theme-auth .view-header .navbar .btn.btn-only-icon.btn-cta {
    border-color: transparent;

    color: white;

    background-color: $brand-info;
}

.btn.btn-small {
    padding: 0.5rem;
}

.btn.btn-only-icon.btn-circle {
    width: 2rem;
    height: 2rem;
    min-width: 2rem;
    padding: 0;

    border-radius: 50%;

    .svg-wrapper {
        margin: 0;

        svg {
            width: 1.25em;
            height: 1.25em;
        }
    }

    > span {
        @include visually-hidden;
    }
}

.btn.is-active {
    color: $gray-darker;

    background-color: #c4e8f2;
}

.btn {
    &:focus,
    &:focus:active,
    &:active {
        box-shadow: 0 0 0 4px rgba($color-interactive, 0.4);
        outline: none;
    }

    &.btn-quiet {
        &:focus,
        &:focus:active,
        &:active {
            box-shadow: none;
            outline: initial;
        }
    }
}

.btn-link:hover,
.btn-link:focus {
    text-decoration: none;
}

.app-page .btn-list-item {
    margin-left: 1rem;

    border: none;
}

.view-close .svg-wrapper svg {
    width: 1.5rem;
    height: 1.5rem;
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    pointer-events: none;
}

.btn-login {
    .svg-wrapper {
        width: 1.5rem;
        height: 1.5rem;
    }
    svg {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 0.5rem;
    }

    span {
        @media (max-width: $screen-xs) {
            max-width: 60%;
        }
    }
}
