.data-wrapper {
    display: block;

    margin: 0;

    &.data-wrapper-inline {
        .data-label {
            display: inline;
        }
    }

    .data-label {
        display: block;
    }

    ul {
        padding: 0;
        margin: 0;

        list-style: none;
    }
}

.data-name {
    color: $brand-primary;
}

.data-wrapper-flex {
    display: flex;
    align-items: center;

    @include when-inside(".text-center") {
        justify-content: center;
    }

    > .svg-wrapper {
        width: initial;
        margin: 0 0.25rem;
    }
}

.data-title,
.data-aux {
    font-family: $font-family-base;
    font-size: 0.875rem;
}

.data-wrapper-inline .data-date-mleft {
    margin-left: 3em;
}

h3.data-title {
    padding-bottom: 0.5rem;
    margin-top: 1.5rem;

    color: $brand-primary;
    font-family: $headings-font-family;
    font-size: 1rem;
    font-weight: $bold;
}

.data-aux {
    text-transform: uppercase;

    .svg-wrapper {
        display: inline-block;

        .svg-icon {
            width: 1rem;
            height: 1rem;
        }
    }
}

.data-numeric {
    text-align: right;
}

.data-date {
    span {
        float: left;

        width: 100%;

        font-size: 0.7rem;

        @media (max-width: 859px) {
            float: none;
        }
    }
}

.data-label {
    font-family: $font-family-base;
    font-weight: $bold;

    // se cambia para alinearlo con otros textos
    // font-size: 0.875rem;
}

.data-name {
    display: block;

    color: $data-name--color;
    font-size: 1.25em;
    font-weight: $bold;

    h4 {
        overflow: hidden;

        max-width: 100%;

        font-family: $font-family-base;
        text-overflow: ellipsis;
        white-space: nowrap;

        /*
         ! siempre se va a querer esto? parece una definicion demaciado 
         ! estricta
         */
    }
}

.data-strong {
    font-size: 1.5em;
}

.data-amount-wrapper {
    flex: 1;
}

.data-amount {
    font-size: 1.5em;
    white-space: nowrap;
}

.data-amount-currency {
    font-size: 0.7em;

    opacity: 0.7;
}

.transfer-data {
    align-items: baseline;
    flex-wrap: wrap;

    margin-bottom: 1rem;
}

@include respond-to(mobile) {
    .transfer-block {
        align-items: center;
    }

    .transfer-data {
        justify-content: center;
    }

    .data-wrapper {
        display: flex;
        align-items: baseline;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;

        margin: 0.5rem 0;
    }

    .transfer-data-highlight {
        align-items: center;
        flex-direction: column;
    }

    .transfer-data {
        .data-wrapper {
            flex-direction: column;
        }
    }

    .data-amount {
        font-size: 1.25rem;
    }
}

.Select {
    .control-label,
    .data-amount,
    .data-label {
        font-family: $copyFontFamily;
        font-weight: $light;

        @include fontSize5;

        &:not(:last-child) {
            margin-right: 0.25rem;
            margin-bottom: 0;
        }
    }
}

.data-wrapper {
    margin: 0.5rem 0;

    > * {
        margin-right: 0;
        margin-left: 0;
    }

    .data-label {
        display: block;
    }
}

.main-container,
.container--layout {
    .data-amount-credit {
        color: $data-amount-credit--color;
    }

    .data-amount-debit {
        color: $data-amount-debit--color;

        .data-amount-currency {
            &::after {
                display: inline;

                content: " -";
                font-size: 1.25em;
            }
        }
    }
}

.transfer-data .data-label {
    margin-right: 0.375em;
}

.transfer-block {
    display: flex;
    flex-direction: column;

    margin-bottom: 1rem;

    @include respond-to(mobile) {
        .transfer-data {
            display: flex;
            flex-direction: row;

            &.transfer-data-highlight {
                flex-direction: column;
            }
        }

        .data-amount {
            font-size: 1.5em;
        }
    }
    .svg-wrapper {
        width: initial;
    }
}

.transfer-data-highlight {
    .data-amount {
        display: block;

        font-size: 2em;
    }
}

.data-wrapper.data-wrapper-inline {
    display: block;

    > span {
        display: inline-block;

        .data-label {
            margin-right: 0.25em;
        }
    }
}

@include respond-to(mobile) {
    .data-aux {
        .svg-wrapper {
            position: relative;
            top: 0.2rem;
            left: 0;

            .svg-icon {
                min-width: auto;
                margin-right: 0.25rem;
            }
        }
    }

    .transfer-data {
        .data-label {
            padding: 0 0.375em;
        }
    }
}

.content-data-strong {
    font-weight: normal;
    line-height: 1.4;
}

.data-tag {
    color: white;

    @include respond-to(mobile) {
        text-align: right;
    }
    @include when-inside(".is-expired") {
        > span {
            background-color: $data-tag--background-color--is-expired;
        }
    }

    > span {
        display: inline-block;

        padding: 0.25em 0.5em;

        border-radius: 5px;

        font-family: $helveticaNeue;
        font-size: 0.75rem;
        font-weight: $bold;
        text-transform: uppercase;

        background-color: $data-tag--background-color;
    }
}

.table-data > .data-tag {
    text-align: center;
}

.data-tag-blocked {
    > span {
        background-color: #707070;
    }
}

.data-product-image {
    display: flex;
    align-items: center;

    .svg-wrapper {
        margin-right: 0.5rem;

        .svg-logo {
            width: 1.5rem;
            height: 1.5rem;
        }
    }
}

.data-tag {
    text-align: inherit;
}

.data-label {
    display: inline-block;

    margin-bottom: 0.25rem;
}

.transfer-block {
    .data-wrapper:not(.transfer-data) {
        width: 100%;
    }
}

.transfer-data {
    > .flex-container {
        .transfer-data {
            width: 100%;

            .data-label:last-child {
                margin-right: 0;
            }

            @include respond-to(mobile) {
                &:last-child {
                    .data-name {
                        justify-content: flex-end;
                    }
                }
            }

            .newProduct {
                margin: 0;

                border: none;
                .newProduct-cell--ellipsis .data-name {
                    overflow: auto;

                    text-overflow: initial;
                    white-space: normal;
                }
                .data-name {
                    margin: 0;
                }
            }
        }
        .svg-wrapper {
            width: 1.5rem;
            height: 1.5rem;
            margin: 0 1rem;

            svg {
                width: 1.5rem;
                height: 1.5rem;
            }
        }
    }
}
