.show-loader {
    min-height: 400px;
}

.theme-auth .preloader {
    background-color: rgba(255, 255, 255, 0.75);
}

.preloader {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;

    width: 100%;
    height: 100%;

    border-radius: 10px;

    opacity: 1;

    animation: overlayAppear 0.5s ease;
    animation-fill-mode: forwards;
    pointer-events: all;
}

.scrollable {
    position: relative;

    .loader {
        top: initial;
        bottom: 15vh;
    }
}

.loader {
    position: absolute;
    top: calc(50% - 1.5rem);
    left: calc(50% - 1.5rem);

    width: 3rem;
    height: 3rem;

    text-align: center;

    animation: spin 2s infinite linear;
}

.loader>div:nth-child(1),
.loader>div:nth-child(2) {
    position: absolute;
    top: 0;

    display: inline-block;

    width: 60%;
    height: 60%;

    border-radius: 100%;

    content: "";

    background-color: $brand-info;

    animation: bounce 2s infinite ease-in-out;
}

.loader>div:nth-child(2) {
    top: auto;
    bottom: 0;

    animation-delay: -1s;
}

.spinner .bounce1 {
    display: inline-block;

    width: 18px;
    height: 18px;

    border-radius: 100%;

    content: "";

    background-color: #333333;

    animation: bouncedelay 1.4s infinite ease-in-out both;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    display: inline-block;

    width: 18px;
    height: 18px;

    border-radius: 100%;

    content: "";

    background-color: #333333;

    animation: bouncedelay 1.4s infinite ease-in-out both;
    animation-delay: -0.16s;
}