/* Main Container */
.view-wrapper {
    z-index: 1;
}

.main-container {
    position: relative;
    z-index: 100;

    display: flex;
    align-items: stretch;
    flex-flow: wrap row;
    // flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;

    width: 100%;
    min-height: 100%;
    margin-right: 0; // squizz elements
    margin-left: 0;
    /**
     * 1. Permite una alineacion centrada para mobile, ademas de no comprimir
     *    el contenido.
     */

    @include respond-to(mobile) {
        > * {
            margin-top: auto;
            /* [1] */
            margin-bottom: auto;
            /*  [1] */
        }
    }

    /* Usualmente solo va un elemento aqui, pero no es mandatorio */
    > * {
        width: 100%;
    }
}

/* Above the fold */

.above-the-fold {
    z-index: 1;

    display: flex;
    align-self: stretch;
    flex-basis: auto;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-evenly;

    width: 100%;
    min-height: 100%;

    /* para que settings no tenga separacion entre los contenedores, no me convence */
    &.tight-containers {
        .container--layout {
            margin: 0;

            &:last-of-type {
                margin-bottom: 1.75rem;
            }

            &:first-of-type {
                margin-top: 0.5rem;
            }
        }
    }

    &.show-on-top {
        display: block;
    }
}

.below-the-fold {
    flex-basis: 100%;

    width: 100%;
}

/* Containers */

.container {
    padding: 0 1rem;
}

/**
 * TODO arreglar esto que no se entiende que es.
 * HACK remove double margin, used to fix filters
 */

@include respond-to(mobile) {
    .container--layout:last-child .container--layout:last-child {
        margin-bottom: 0;
    }
}

@include respond-to(desktop) {
    .container--layout {
        padding: 0 ($l / 2);

        .container--layout {
            padding: 0;
        }
    }
}

.container--layout {
    display: flex;

    width: 100%;
    margin: 0.5rem 0;

    @include respond-to(mobile) {
        &:last-of-type {
            margin-bottom: $l;
        }
    }
    @include when-inside(".view-morphing") {
        margin-bottom: 0;
    }
    @include when-inside(".default-layout") {
        max-width: calc(1200px - (2rem * 2));
    }
    @include when-inside(".app-footer") {
        max-width: initial;
    }

    &.container--bottom {
        margin-top: 1.25rem;
        margin-bottom: 0;
    }
}

.container--layout .app-header,
.app-footer {
    .container--layout {
        margin-bottom: 0;
    }
}

/* Contenedor centrado */

.container--layout > .row {
    flex: auto;
    justify-content: inherit;

    min-width: 100%;
}

.container--bottom small {
    vertical-align: text-bottom;
}

@include respond-to(desktop) {
    .above-the-fold {
        justify-content: flex-start;

        margin: initial !important;
    }
}

.credit-card-steps {
    position: absolute;

    display: inline-flex;
    justify-content: flex-end;

    width: 100%;
}

.credit-card-pill {
    position: relative;

    width: 150px;
    height: 20px;
    margin: 5px;

    border: 1px solid blue;
    border-radius: 5px;

    div {
        position: absolute;
    }
}

.credit-card-main {
    display: flex;

    width: 100%;
    height: 100%;
    margin: 0 auto;
    // background-image: url("./images/gradiant-background.png");

    background-repeat: no-repeat;
    background-position: 200px;
    background-size: cover;
}

.credit-card-center {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    @include respond-to(mobile) {
        display: block;
    }
}

.credit-card-justify {
    justify-content: center;
}

.credit-card-info {
    width: 110%;
}

.credit-card-text {
    width: 70%;
}

.credit-card-step {
    position: relative;

    width: 100%;
    height: 100%;
}

.swiper-disabled {
    position: absolute;
    z-index: 1;

    width: 100%;
    height: 100%;
}

.swiper-container {
    overflow: hidden;

    width: 100%;
    height: 100%;

    .swiper-wrapper {
        height: 100%;
    }

    .swiper-slide {
        opacity: 0.7;

        transition: all 1s;

        &-active {
            position: relative;
            z-index: 10;

            opacity: 1;
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        position: absolute;
        z-index: 3000;

        justify-content: center;

        text-align: center;

        //left: 150px;
        &:hover {
            .cls-1 {
                fill: white !important;
            }
        }

        span {
            display: none;
        }

        svg {
            text-align: center;
        }
    }

    .swiper-button-hidden {
        display: none;
    }

    .swiper-button-prev {
        top: 0;
    }

    .swiper-button-next {
        bottom: 10px;
    }

    .card1,
    .card2,
    .card3,
    .card4,
    .card5 {
        background-repeat: no-repeat;
        background-size: contain;
    }

    .card1 {
        background-image: url("../images/visaTravel.png");
    }

    .card2 {
        background-image: url("../images/visaShop.png");
    }

    .card3 {
        background-image: url("../images/visaFC.png");
    }

    .card4 {
        background-image: url("../images/masterP.png");
    }

    .card5 {
        background-image: url("../images/masterB.png");
    }

    .selected {
        transform: translate(200px);
    }
}

.onboarding-warning {
    width: 10rem;
    height: 10rem;
}

.onboarding-error {
    display: flex;

    margin: auto;

    div {
        justify-content: center;

        width: 100%;
        margin: 0 5px;

        text-align: center;
    }
}

.onboarding-error-hasAccount {
    width: 300px;
    height: 100%;
    // background-image: url("./images/onboarding-hasAccount.png");

    background-repeat: no-repeat;
    background-position: center;
}

.onboarding-documents {
    padding: 10px 0;

    text-align: center;

    .onboarding-container {
        display: grid;

        width: 60%;
        margin: 20px auto;
        margin-bottom: 80px;

        gap: 100px;
        grid-template-columns: 1fr 1fr;

        .onboarding-card {
            display: flex;
            flex-direction: column;

            height: 350px;
            height: 350px;
            margin-top: 40px !important;

            border-width: 3px;
            border-radius: 0;
            border-radius: 0;

            opacity: 0.8;
            opacity: 0.8;
            background-color: $color-layoutLight;

            .svg-wrapper {
                width: auto;
                height: auto;
            }

            svg {
                width: 200px;
                height: 200px;
                margin: 20px;
            }

            &:hover {
                opacity: 0.9;
            }

            &:focus {
                opacity: 1;
            }
        }

        .oc-active {
            border-color: $color-interactive;

            background: white;
        }
    }
}

.onboarding-camera {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    text-align: center;

    div,
    h2 {
        margin: 0 0 20px 0;
    }
}

.documents-presentation {
    display: flex;
    flex-direction: row;

    img {
        width: 50%;
        height: 50%;
        padding: 1px;
    }
}

.onboarding-text-align-center {
    text-align: center;
}

.onboarding-margin {
    margin: 0 auto;
}

.productRequest {
    .productRequest-content {
        width: 100%;
    }

    nav {
        ul {
            width: 100%;
            min-height: 100px;
            padding: 0;
            margin: 0;

            background: white;

            list-style: none;

            .logo {
                padding-right: 50px;

                .navbar-brand {
                    height: 100px;
                }
            }

            .sign {
                float: right;

                padding: 0;
                margin: 20px 40px 0 0;

                line-height: 20px;

                box-shadow: none;

                div {
                    justify-content: center;

                    text-align: center;

                    a {
                        font-size: 0.6em;
                        line-height: 10px;
                        text-decoration: underline;
                        text-transform: uppercase;
                    }
                }
            }

            li {
                float: left;

                padding: 0 15px;
                margin: 0;

                border-right: solid 1px #eeeeee;

                color: $color-ink;
                line-height: 100px;
                vertical-align: middle;

                a {
                    text-decoration: none;
                }

                &:hover {
                    background-image: linear-gradient(#ffffff, #f5f5f5) !important;
                }
            }
        }
    }

    .theme-auth {
        .view-page {
            &::after {
                display: none;
            }
        }

        .view-content {
            padding-top: 0 !important;
        }
    }

    .sign-btn {
        color: white;
        text-transform: uppercase;

        background: $color-interactive;
        outline: none;

        cursor: pointer;
    }

    .title {
        position: absolute;
        top: 25%;
        left: 50%;
        z-index: 1000;

        display: flex;
        flex-direction: column;

        color: white;
        text-align: center;

        transform: translate(-50%);

        h1 {
            font-size: 7em;
            text-transform: uppercase;
        }

        p {
            width: 60%;
            margin: 0 auto;

            font-size: 1.6em;
            letter-spacing: 2px;
        }

        .sign-btn {
            width: 200px !important;
            margin: 20px auto !important;
        }
    }

    .background-image {
        position: absolute;
        top: 0;
        z-index: 1;

        width: 100%;
        height: 100%;

        background-image: url("../images/background.png");
        background-size: cover;

        object-fit: cover;
    }

    .flight-image {
        position: absolute;
        top: -5%;
        left: -10%;
        z-index: 2;

        width: 100%;
        height: 100%;

        background-image: url("../images/flight.png");
        background-repeat: no-repeat;
        background-position: 0 50px;
        background-size: 50%;
    }

    .btn-picture .svg-wrapper svg {
        width: 40px;
        height: 40px;
    }

    .btn-mb {
        margin-bottom: 2.5rem;
    }

    @media screen and (max-width: 1260px) {
        .flight-image {
            left: -120px;
        }

        .title {
            h1 {
                font-size: 5em;
            }

            p {
                font-size: 1em;
            }
        }
    }

    @media screen and (max-width: 1099px) {
        .logo {
            display: inline-block;
        }

        .flight-image {
            position: relative;
            top: 0;

            margin: 0 auto;
        }

        .title {
            position: relative;
            top: -10px;
            left: 0;

            transform: translate(0);
        }
    }

    @media screen and (max-width: 860px) {
        .flight-image {
            width: 280px;
            height: 200px;
        }

        .title {
            h1 {
                font-size: 4em;
            }
        }

        .onboarding-error {
            flex-direction: row;
        }
    }
}

// Onboarding Layout Desktop

.onboarding-layout {
    .list-icon-container {
        padding-left: 0;

        .list-item--has-icon div.bullet-icon {
            margin-right: 0;
        }
    }

    div.list-text {
        margin-top: 2px;
        margin-left: 10px;

        p > span {
            font-family: $headings-font-family;
        }

        p:nth-child(1) > span {
            font-weight: $bold;
        }
    }
}

.enrollment-layout {
    .toolbar-btn.view-back {
        padding: 0;

        border: 0;

        font-size: 1.5rem;

        @include respond-to(mobile) {
            margin: 10px 15px;
        }

        &:focus,
        &:active {
            background: transparent;
            box-shadow: none;
        }
    }

    .container-navbar {
        display: flex !important;
        justify-content: space-between;

        @media (max-width: $grid-float-breakpoint-max) {
            justify-content: center;
        }
    }

    .form-content ol.steps-path {
        li {
            width: 25%;
            margin-right: 2em;

            border: 1px solid $color-interactive;

            @include respond-to(mobile) {
                margin-right: 0.5em;
            }

            span {
                display: flex;
                justify-content: center;

                margin-top: 10px;

                font-size: 0.8rem;
                text-align: center;
            }
        }
    }

    .frontID,
    .passport,
    .reverseID,
    .LifeTest {
        width: 50%;
        height: 50%;
        margin: 60px auto;
    }

    .row h2.text-center {
        margin-top: 30px;
    }

    p.text-center {
        margin-bottom: 2em;
    }

    video {
        margin: 0 auto;
    }

    .text-lead {
        margin-top: 60px;
    }

    .list-icon-container .list-item--has-icon div.bullet-icon {
        @include respond-to(mobile) {
            margin-top: 8px;
        }

        div.svg-wrapper {
            width: 2em;
            height: 2em;

            svg {
                width: 1em;
            }
        }
    }

    .list-item--has-icon {
        display: flex;
        justify-content: center;
    }

    .ob-list-icon {
        display: flex;
        align-items: center;

        .svg-wrapper {
            width: 4em;
            height: 4em;

            svg {
                width: 3em;
                height: 3em;
            }
        }
    }

    .phone-icon > div > div {
        width: 60%;

        stroke: $ui-gray-medium;
    }
}

.productRequest {
    @include respond-to(desktop) {
        .credit-card-justify > section:first-child {
            margin-top: 100px;
        }

        .credit-card-main > form.above-the-fold {
            overflow: auto;
        }

        .onboarding-text-align-center.text-lead {
            text-align: center;
        }
    }

    ul > li {
        font-family: $brand-font-family;
        font-weight: 500;
    }

    h4 {
        font-size: 1.25rem;
    }

    h5 {
        font-size: 1rem;
        font-weight: 500;
    }

    .terms-mb {
        margin-bottom: 30px;

        font-family: $brand-font-family;
        font-weight: 500;
    }

    .description-mb {
        margin-bottom: 30px;
    }

    .terms-link {
        color: white;
        font-size: 0.9rem;

        background: $color-ink;

        &:hover {
            color: $ui-gray-ultra-light;
        }

        + p {
            padding: 5px;
            margin-top: 30px;

            border-radius: 3px;

            color: white;
            font-size: 0.8rem;
            text-align: center;

            background: $brand-color-red;
        }
    }

    .frontID,
    .passport,
    .reverseID,
    .LifeTest {
        width: 50%;
        height: 50%;
        margin: 60px auto;
    }
}

.enrollment-layout .app-page .onboarding-documents {
    .btn-block + .btn-block:not(.btn-image) {
        margin-top: 0;
    }

    .onboarding-container {
        margin-bottom: 80px;

        gap: 100px;
    }

    .container > .justify-content-center {
        display: flex;
        flex-wrap: wrap;
    }
}

.ob-step1-header {
    .view-title span {
        margin-left: -64px;
    }
}

// Onboarding Layout Mobile

@include respond-to(mobile) {
    .onboarding-documents .onboarding-container {
        display: block;

        width: 84%;

        .onboarding-card {
            flex-direction: row;
            justify-content: row;

            height: 200px;

            svg {
                width: 100px;
                height: 100px;
            }
        }
    }

    .onboarding-layout {
        .list-icon-container {
            .list-item--has-icon div.bullet-icon {
                margin-right: auto;
            }
        }
    }
}

// iPhone 6/7/8 Plus media querys

@include respond-to(mobile) {
    .productRequest {
        .credit-card-main {
            flex-direction: column;
        }

        .swiper-button-prev.btn,
        .swiper-button-next.btn {
            display: none;
        }

        .swiper-slide {
            position: relative;

            height: 166px;

            opacity: 1;
            background-position: 50%;

            transform: translate(0) !important;

            &-active {
                transform: scale(1.3) !important;
            }
        }

        .credit-card-info {
            width: 100%;
        }

        .btn-mb {
            margin-bottom: 2.5rem;
        }

        .terms-mb {
            margin-bottom: 1rem;
        }

        .onboarding-documents .onboarding-container .onboarding-card svg {
            width: 125px;
            height: 125px;
        }

        .title h1 {
            font-size: 3em;
        }

        .onboarding-container {
            display: flex;
            flex-flow: row wrap;
        }

        .onboarding-documents .onboarding-card {
            flex-direction: row;

            height: 250px;
        }

        .ID-btn {
            width: 80%;
            margin-top: 2em;
        }

        .credit-card-text {
            width: 100%;
        }

        video {
            margin: auto;
        }

        .text-uppercase {
            text-transform: none;
        }

        .documents-presentation img {
            margin-bottom: 40px;
        }
    }
}