// HEADER & NAVBAR //
// App header
$app-header--background-color: darken($brand-primary, 10%);
$app-header--padding-top: 15px;
$app-header--padding-bottom: 10px;
$app-header--margin-bottom: 10px;
$brand-logo--color: $brand-primary;

/* ---------- LOGO ---------- */

.navbar-header > div {
    display: flex;
    justify-content: space-between;
}

.navbar-brand {
    height: $m;
    padding: $m;

    svg {
        width: $m * 9;
        padding: 0;

        color: $brand-logo--color;
    }
}

/* ---------- GENERALES ---------- */

.app-header,
.view-header {
    background-color: transparent;

    @include respond-to(desktop) {
        .navbar {
            padding-right: $l;
            padding-left: $l;
        }
    }

    .navbar {
        margin-bottom: 0;
    }

    .navbar-toggle {
        top: -0.125rem;

        padding: 0.5rem;

        background-image: url("../images/styledmenu-close.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 0.875rem;
        &:hover {
            background-image: url("../images/styledmenu-close_Hover.svg");
            box-shadow: none;
        }
        &:active {
            background-image: url("../images/styledmenu-close_Hover.svg");
            box-shadow: 0 0 0 4px rgba($color-interactive, 0.5);
            border-radius: 4rem;
        }
    }

    .navbar-toggle.collapsed {
        background-image: url("../images/styledmenu-hamburger.svg");
        &:hover {
            background-image: url("../images/styledmenu-hamburger_Hover.svg");
            box-shadow: none;
        }
        &:active {
            background-image: url("../images/styledmenu-hamburger_Hover.svg");
            box-shadow: 0 0 0 4px rgba($color-interactive, 0.5);
            border-radius: 4rem;
        }
    }

    .navbar-toggle {
        .icon-bar {
            opacity: 0;
        }
    }

    .progress {
        background-color: rgba(28, 28, 29, 0.5);

        .progress-bar {
            background-color: white;
        }
    }
}

@include respond-to(mobile) {
    .view-header {
        .view-title h1 {
            margin-bottom: 1.25rem;
        }

        .navbar-collapse {
            margin: 0;
        }
    }
}

.app-header .navbar,
.view-header .navbar {
    border: none;
}

.view-header .navbar {
    color: $view-header--color;
}

// COLORING

.app,
.view-wrapper {
    color: $view--color;
}

/* ---------- HEADER DESKTOP ---------- */

.dropdown {
    ul {
        width: 100%;
        padding: 0;

        border-top: none;

        li a {
            padding: $s $l;

            text-decoration: none;

            cursor: pointer;
        }
    }

    .dropdown-toggle span.caret {
        margin-left: 0.5em;
    }
}

.app {
    .app-header {
        // transform: translate3d(0, 0, 0);

        .navbar {
            min-height: initial;
            margin-bottom: 0;

            border-bottom: 2px solid lighten($brand-primary, 60%);
            border-radius: 0;

            background-color: white;

            > .container .navbar-brand,
            > .container-fluid .navbar-brand {
                padding-right: 1rem;
                padding-left: 1rem;
            }
        }

        .navbar-header {
            width: 100%;

            .container-navbar {
                display: table;

                width: 100%;
            }

            > .col {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .navbar-nav > li > a {
                padding-top: $xs;
                padding-right: $m - ($l / 2);
                padding-bottom: ($l / 2);
                padding-left: $m - ($l / 2);

                margin-right: ($l / 2);

                background-color: transparent; //pisar bootstrap

                border-radius: $m - ($l / 2);
            }

            > .navbar-collapse {
                margin: 0 - ($l / 2); //-20px;
            }
        }
    }
}

.view-title {
    outline: none;
}

/* ---------- HEADER MOBILE ---------- */

.view-header {
    padding: 0;
    // transform: translate3d(0, 0, 0);

    @include respond-to(desktop) {
        .navbar-header {
            display: flex;
            align-items: flex-start;

            .toolbar .view-title {
                flex-grow: 1;
            }

            .toolbar-product-name {
                flex-wrap: wrap;
                justify-content: flex-start;

                .view-title {
                    flex-grow: initial;
                }
            }
        }
    }

    // background-color: white;

    .navbar {
        border-width: 0 0 1px 0;
        border-radius: 0;

        background-color: white;
    }

    .navbar-header {
        align-items: center;

        width: 100%;

        .view-back {
            border: none;

            @include respond-to(desktop) {
                padding-right: 0;
                padding-left: 0;
                margin: 0 (-$s);

                &.btn {
                    font-size: 1.5rem;
                }

                > span {
                    @include visually-hidden;
                }
            }

            .svg-wrapper {
                margin: 0 !important;
            }
        }
    }

    // problema de herencia para mobile
    .navbar-default .navbar-nav > li {
        &.open > a {
            color: white;

            background-color: #dbd7e4;

            span {
                color: inherit;
            }
        }

        > a {
            color: $brand-primary;
        }
    }

    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        background-color: $sidebar--background-color;
    }
}

@include respond-to(mobile) {
    .app-header,
    .view-header {
        text-align: center;
    }

    .view-header .navbar {
        background-color: $view-header--background-color;
    }

    .theme-auth .view-header .navbar {
        background-color: transparent;
    }
}

.app-header {
    // z-index: 100;
    z-index: 2;

    .container-fluid {
        padding: 0;
    }
}

@include respond-to(desktop) {
    .navbar > .container .navbar-brand,
    .navbar > .container-fluid .navbar-brand {
        margin-left: 0;

        .navbar-header {
            padding: 0 $l;
        }
    }
}

.navbar-right {
    margin-right: -($l / 2);
}

//--------- badge animation ---------//

.badge {
    &.animation {
        -webkit-animation: zoom-notifications 0.3s;
        /* Safari 4.0 - 8.0 */
        animation: zoom-notifications 0.3s;
        animation-iteration-count: 1;
        /* Safari 4.0 - 8.0 */
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;

        span {
            animation: fall-number 0.3s 0.2s;
            animation-iteration-count: 1;
            animation-fill-mode: both;
        }
    }
}

/*zoom of red badge */
/* Safari 4.0 - 8.0 */
@-webkit-keyframes zoom-notifications {
    from {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    75% {
        transform: scale(0.9);
    }

    to {
        transform: scale(1);
    }
}

@keyframes zoom-notifications {
    from {
        transform: scale(0.9);
    }

    50% {
        transform: scale(1.3);
    }

    75% {
        transform: scale(0.9);
    }

    to {
        transform: scale(1);
    }
}

/*fall number */
/* Safari 4.0 - 8.0 */
@-webkit-keyframes fall-number {
    from {
        transform: translateY(-20px);
    }

    50% {
        transform: translateY(5px);
    }

    75% {
        transform: translateY(-5px);
    }

    to {
        transform: translateY(0px);
    }
}

@keyframes fall-number {
    from {
        transform: translateY(-20px);
    }

    50% {
        transform: translateY(5px);
    }

    75% {
        transform: translateY(-5px);
    }

    to {
        transform: translateY(0px);
    }
}

@include respond-to(mobile) {
    .navbar-default {
        .navbar-nav {
            > li > a {
                &:focus {
                    background-color: $color-inkSelected;
                    box-shadow: none;
                    border-bottom: solid 4px rgba($color-interactive, 0.4);
                }
            }
        }
    }
}
