.view-wrapper {
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    flex-grow: 1;

    width: 100%;
    height: 100%;
    min-height: 100%;
}

.view-header {
    z-index: 99;
}

.view-page {
    z-index: 98;
    width: 100%;
    overflow: auto;
    overflow: hidden;
    overflow-x: hidden;
    z-index: 98;
    z-index: 0;

    display: flex;
    flex-grow: 1;
    justify-content: space-between;

    width: 100%;
    height: 100%;

    @include respond-to(mobile) {
        overflow: hidden;
        flex-direction: column;
    }

    -webkit-overflow-scrolling: touch;
}

.view-content {
    overflow: auto;

    display: flex;
    flex-grow: 1;
    justify-content: center;

    height: 100%;
    min-height: 100%;

    @include respond-to(mobile) {
        overflow-x: hidden;
    }
}

.view-footer {
    padding-top: 0.6em;
    padding-bottom: 0.6em;
}

/* Aplicacion desktop */

@include respond-to(desktop) {
    .main-container {
        display: block;
    }

    .main-container {
        display: flex;

        height: 100%;
    }

    .app-page {
        .view-wrapper {
            min-height: initial;
        }

        .view-title {
            margin-bottom: 0;
        }

        .view-title {
            text-align: initial;
        }

        .view-content {
            position: relative;
        }
    }

    .view-content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: flex-start;

        .container--layout {
            flex-shrink: 0;
        }
    }
    .modal-body .view-page,
    .modal-body .view-content {
        overflow: initial;
    }
}

.container--layout.flex-grow.scrollable {
    padding-bottom: 4rem;
}

.view-title {
    flex-grow: 1;

    text-align: center;

    h2 {
        display: inline-block;

        margin: 0;

        font-size: 1.25rem;
        font-weight: $title-font-weight;

        @include respond-to(desktop) {
            font-size: 1.5rem;
        }
    }

    > *:last-child {
        margin: 0;
    }
}

.view-title {
    h2 {
        margin: 0;
    }
}

@include respond-to(mobile) {
    .view-title {
        flex-wrap: wrap;
    }
}

@include respond-to(desktop) {
    .theme-auth {
        .view-page {
            position: relative;

            .view-content {
                padding: 1rem 0 0;
            }
        }

        .theme-auth {
            .view-page {
                &::after {
                    background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
                }
            }
        }
    }
}
