.messageContainer {
    padding-top: 1rem;

    &:not(:first-child) {
        border-top: 1px solid #d8d7da;
    }
}

.BANK_TO_CUSTOMER + .BANK_TO_CUSTOMER,
.CUSTOMER_TO_BANK + .CUSTOMER_TO_BANK {
    border-top: none;
}

.attachment-tag {
    display: flex;
    align-items: center;

    margin: 0.5rem 0;

    .svg-wrapper {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 0.5rem;
    }
}
