@import "colors";
@import "typos";

/** buttons **/
$buttonRadius: 4rem;

/** appLoadingIndicator **/
$appLoadingIndicator-color: $color-layoutDark;

/** widgetLoadingIndicator **/
$widgetLoadingIndicator-color: $color-layoutDark;

/** pageTitle **/
$pageTitle-font-family: $titleFontFamily;
$pageTitle-font-size: $desktopSize-1;
$pageTitle-font-size--mobile: $mobileSize-1;
$pageTitle-line-height: 1;
$pageTitle-color: $color-ink;
$pageTitle-font-weight: $light;

/** textLead **/
$textLead-font-family: $titleFontFamily;
$textLead-font-size: $desktopSize-4;
$textLead-font-size--mobile: $mobileSize-4;
$textLead-line-height: 1.4;
$textLead-font-weight: $light;
$textLead-color: $color-ink;

/** formLegend **/
$formLegend-font-family: $titleFontFamily;
$formLegend-font-weight: $light;
$formLegend-font-size: $desktopSize-3;
$formLegend-font-size--mobile: $mobileSize-3;
$formLegend-line-height: 1.5;
$formLegend-color: $color-ink;

/** widgetTitle **/
$widgetTitle-font-family: $titleFontFamily;
$widgetTitle-font-weight: $light;
$widgetTitle-font-size: $desktopSize-2;
$widgetTitle-font-size--mobile: $mobileSize-2;
$widgetTitle-line-height: 1.5;
$widgetTitle-text-transform: none;
$widgetTitle-color: $color-ink;

/** buttonLabel **/
$buttonLabel-font-family: $copyFontFamily;
$buttonLabel-font-family: $helveticaNeue;
$buttonLabel-font-weight: $bold;
$buttonLabel-font-size: $desktopSize-6;
$buttonLabel-font-size--mobile: $mobileSize-6;
$buttonLabel-line-height: 1;
$buttonLabel-text-transform: uppercase;
$buttonLabel-color: $color-interactive;

/** fieldAux **/
$fieldAux-font-family: $copyFontFamily;
$fieldAux-font-family: $helveticaNeue;
$fieldAux-font-size: $desktopSize-6;
$fieldAux-font-size--mobile: $mobileSize-6;
$fieldAux-line-height: 1;
$fieldAux-font-weight: $light;
$fieldAux-color: $color-inkTranslucent;

/** fieldLabel **/
$fieldLabel-font-family: $copyFontFamily;
$fieldLabel-font-family: $helveticaNeue;
$fieldLabel-font-size: $desktopSize-5;
$fieldLabel-font-size--mobile: $mobileSize-5;
$fieldLabel-font-weight: $bold;
$fieldLabel-line-height: 1.35;
$fieldLabel-color: $color-ink;
$fieldLabel-text-transform: uppercase;

/** fieldOptional **/
$fieldOptional-font-family: $copyFontFamily;
$fieldOptional-font-family: $helveticaNeue;
$fieldOptional-font-size: $desktopSize-6;
$fieldOptional-font-size--mobile: $mobileSize-6;
$fieldOptional-font-weight: $light;
$fieldOptional-line-height: 1.35;
$fieldOptional-color: $color-inkTranslucent;

/** fieldOutputKey **/
$fieldOutputKey-font-family: $copyFontFamily;
$fieldOutputKey-font-family: $helveticaNeue;
$fieldOutputKey-font-weight: $bold;
$fieldOutputKey-font-size: $desktopSize-5;
$fieldOutputKey-font-size--mobile: $mobileSize-5;
$fieldOutputKey-text-transform: uppercase;
$fieldOutputKey-line-height: 1.35;
$fieldOutputKey-color: $color-inkTranslucent;

/** fieldOutputValue **/
$fieldOutputValue-font-family: $copyFontFamily;
$fieldOutputValue-font-family: $helveticaNeue;
$fieldOutputValue-font-weight: $light;
$fieldOutputValue-font-size: $desktopSize-4;
$fieldOutputValue-font-size--mobile: $mobileSize-4;
$fieldOutputValue-text-transform: none;
$fieldOutputValue-line-height: 1.35;
$fieldOutputValue-color: $color-ink;

/** tableFilterTabs **/
$tableFilterTabs-font-family: $copyFontFamily;
$tableFilterTabs-font-family: $helveticaNeue;
$tableFilterTabs-font-weight: $light;
$tableFilterTabs-font-size: $desktopSize-4;
$tableFilterTabs-font-size--mobile: $mobileSize-4;
$tableFilterTabs-text-transform: none;
$tableFilterTabs-line-height: 1.35;
$tableFilterTabs-color: $color-ink;
$tableFilterTabs-highlight-border-color--hover: $color-ink;
$tableFilterTabs-highlight-border-color--active: $color-interactive;

/** menuItemLabel **/
$menuItemLabel-font-family: $copyFontFamily;
$menuItemLabel-font-family: $helveticaNeue;
$menuItemLabel-font-size: $desktopSize-5;
$menuItemLabel-font-size--mobile: $mobileSize-5;
$menuItemLabel-line-height: 1;
$menuItemLabel-font-weight: $light;
$menuItemLabel-color: $color-ink;
$menuItemLabel-color--active: $color-inkOpaque;

/** menuItemIcon **/
$menuItemIcon-stroke: $menuItemLabel-color;
$menuItemIcon-stroke-1--active: $color-interactive;
$menuItemIcon-stroke-2--active: $color-interactiveShade;

/** productBoxDesc **/
$productBoxDesc-font-family: $copyFontFamily;
$productBoxDesc-font-family: $helveticaNeue;
$productBoxDesc-font-size: $desktopSize-3;
$productBoxDesc-font-size--mobile: $mobileSize-3;
$productBoxDesc-line-height: 1;
$productBoxDesc-font-weight: $light;
$productBoxDesc-color: $color-ink;

/** productBoxName **/
$productBoxName-font-family: $titleFontFamily;
$productBoxName-font-family: $helveticaNeue;
$productBoxName-font-weight: $light;
$productBoxName-font-size: $desktopSize-4;
$productBoxName-font-size--mobile: $mobileSize-4;
$productBoxName-line-height: 1.35;
$productBoxName-color: $color-ink;

/** tableLegend **/
$tableLegend-font-family: $titleFontFamily;
$tableLegend-font-family: $helveticaNeue;
$tableLegend-font-weight: $light;
$tableLegend-font-size: $desktopSize-3;
$tableLegend-font-size--mobile: $mobileSize-3;
$tableLegend-line-height: 1.35;
$tableLegend-color: $color-ink;

/** table data **/
$tableData-font-family: $copyFontFamily;
$tableData-font-family: $helveticaNeue;
$tableData-font-size: $desktopSize-5;
$tableData-font-size--mobile: $mobileSize-5;
$tableData-line-height: 1.4;
$tableData-font-weight: $light;

/** tableDataHead **/
$tableDataHead-font-family: $copyFontFamily;
$tableDataHead-font-family: $helveticaNeue;
$tableDataHead-font-size: $desktopSize-5;
$tableDataHead-font-size--mobile: $mobileSize-5;
$tableDataHead-line-height: 1.4;
$tableDataHead-font-weight: $bold;
$tableDataHead-text-transform: uppercase;

/** badge **/
$badge-font-family: $copyFontFamily;
$badge-font-family: $helveticaNeue;
$badge-font-size: $desktopSize-6;
$badge-font-size--mobile: $mobileSize-6;
$badge-line-height: 1;
$badge-color: $color-interactive;

/** header commands **/
$headerCommandLabel-font-family: $copyFontFamily;
$headerCommandLabel-font-family: $helveticaNeue;
$headerCommandLabel-font-size: $desktopSize-5;
$headerCommandLabel-font-size--mobile: $mobileSize-5;
$headerCommandLabel-line-height: 1.125;
$headerCommandLabel-font-weight: $light;
$headerCommandLabel-color: $color-ink;
$headerCommandIcon-stroke: $headerCommandLabel-color;
$headerCommandIcon-stroke--active: $color-interactive;

/** feedback message **/
$feedbackMessageTitle-font-family: $titleFontFamily;
$feedbackMessageTitle-font-family: $helveticaNeue;
$feedbackMessageTitle-font-size: $desktopSize-1;
$feedbackMessageTitle-font-size--mobile: $mobileSize-1;
$feedbackMessageTitle-font-weight: $light;
$feedbackMessageTitle-line-height: 1.125;
$feedbackMessageTitle-color: $color-ink;
$feedbackMessageIconStroke-color: $color-layoutDarker;

/** list item description **/
$listItemDesc-font-family: $copyFontFamily;
$listItemDesc-font-family: $helveticaNeue;
$listItemDesc-font-size: $desktopSize-5;
$listItemDesc-font-size--mobile: $mobileSize-5;
$listItemDesc-font-weight: $light;
$listItemDesc-line-height: 1.35;
$listItemDesc-text-transform: none;
$listItemDesc-color: $color-ink;

/** list item title **/
$listItemTitle-font-family: $copyFontFamily;
$listItemTitle-font-family: $helveticaNeue;
$listItemTitle-font-size: $desktopSize-4;
$listItemTitle-font-size--mobile: $mobileSize-4;
$listItemTitle-font-weight: $light;
$listItemTitle-line-height: 1.2;
$listItemTitle-color: $color-ink;

/** control value label **/
$controlValueLabel-font-family: $copyFontFamily;
$controlValueLabel-font-family: $helveticaNeue;
$controlValueLabel-font-size: $desktopSize-5;
$controlValueLabel-font-size--mobile: $mobileSize-5;
$controlValueLabel-font-weight: $light;
$controlValueLabel-line-height: 1.125;
$controlValueLabel-color: $color-ink;

@mixin controlValueLabel() {
    font-family: $controlValueLabel-font-family;
    font-size: $controlValueLabel-font-size;
    font-weight: $controlValueLabel-font-weight;
    line-height: $controlValueLabel-line-height;

    @include respond-to(mobile) {
        font-size: $controlValueLabel-font-size--mobile;
    }
}

@mixin listItemTitle() {
    font-family: $listItemTitle-font-family;
    font-size: $listItemTitle-font-size;
    font-weight: $listItemTitle-font-weight;
    line-height: $listItemTitle-line-height;

    @include respond-to(mobile) {
        font-size: $listItemTitle-font-size--mobile;
    }
}

@mixin listItemDesc() {
    font-family: $listItemDesc-font-family;
    font-size: $listItemDesc-font-size;
    font-weight: $listItemDesc-font-weight;
    line-height: $listItemDesc-line-height;

    @include respond-to(mobile) {
        font-size: $listItemDesc-font-size--mobile;
    }
}

@mixin feedbackMessageTitle() {
    font-family: $feedbackMessageTitle-font-family;
    font-size: $feedbackMessageTitle-font-size;
    font-weight: $feedbackMessageTitle-font-weight;
    line-height: $feedbackMessageTitle-line-height;

    @include respond-to(mobile) {
        font-size: $feedbackMessageTitle-font-size--mobile;
    }
}

@mixin headerCommandLabel() {
    font-family: $headerCommandLabel-font-family;
    font-size: $headerCommandLabel-font-size;
    font-weight: $headerCommandLabel-font-weight;
    line-height: $headerCommandLabel-line-height;

    @include respond-to(mobile) {
        font-size: $headerCommandLabel-font-size--mobile;
    }
}

@mixin tableData() {
    font-family: $tableData-font-family;
    font-size: $tableData-font-size;
    font-weight: $tableData-font-weight;
    line-height: $tableData-line-height;

    @include respond-to(mobile) {
        font-size: $tableData-font-size--mobile;
    }
}

@mixin tableDataHead() {
    font-family: $tableDataHead-font-family;
    font-size: $tableDataHead-font-size;
    font-weight: $tableDataHead-font-weight;
    line-height: $tableDataHead-line-height;
    text-transform: $tableDataHead-text-transform;

    @include respond-to(mobile) {
        font-size: $tableDataHead-font-size--mobile;
    }
}

@mixin pageTitle() {
    font-family: $pageTitle-font-family;
    font-size: $pageTitle-font-size;
    font-weight: $pageTitle-font-weight;
    line-height: $pageTitle-line-height;

    @include respond-to(mobile) {
        font-size: $pageTitle-font-size--mobile;
    }
}

@mixin textLead() {
    font-family: $textLead-font-family;
    font-size: $textLead-font-size;
    font-weight: $textLead-font-weight;
    line-height: $textLead-line-height;

    @include respond-to(mobile) {
        font-size: $textLead-font-size--mobile;
    }
}

@mixin widgetTitle() {
    font-family: $widgetTitle-font-family;
    font-size: $widgetTitle-font-size;
    font-weight: $widgetTitle-font-weight;
    line-height: $widgetTitle-line-height;
    text-transform: $widgetTitle-text-transform;

    @include respond-to(mobile) {
        font-size: $widgetTitle-font-size--mobile;
    }
}

@mixin formLegend() {
    font-family: $formLegend-font-family;
    font-size: $formLegend-font-size;
    font-weight: $formLegend-font-weight;
    line-height: $formLegend-line-height;

    @include respond-to(mobile) {
        font-size: $formLegend-font-size--mobile;
    }
}

@mixin fieldLabel() {
    font-family: $fieldLabel-font-family;
    font-size: $fieldLabel-font-size;
    font-weight: $fieldLabel-font-weight;
    line-height: $fieldLabel-line-height;
    text-transform: $fieldLabel-text-transform;

    @include respond-to(mobile) {
        font-size: $fieldLabel-font-size--mobile;
    }
}

@mixin fieldOptional() {
    font-family: $fieldOptional-font-family;
    font-size: $fieldOptional-font-size;
    font-weight: $fieldOptional-font-weight;
    line-height: $fieldOptional-line-height;

    @include respond-to(mobile) {
        font-size: $fieldOptional-font-size--mobile;
    }
}

@mixin fieldOutputKey() {
    font-family: $fieldOutputKey-font-family;
    font-size: $fieldOutputKey-font-size;
    font-weight: $fieldOutputKey-font-weight;
    line-height: $fieldOutputKey-line-height;
    text-transform: $fieldOutputKey-text-transform;

    @include respond-to(mobile) {
        font-size: $fieldOutputKey-font-size--mobile;
    }
}

@mixin tableFilterTabs() {
    font-family: $tableFilterTabs-font-family;
    font-size: $tableFilterTabs-font-size;
    font-weight: $tableFilterTabs-font-weight;
    line-height: $tableFilterTabs-line-height;
    text-transform: $tableFilterTabs-text-transform;

    @include respond-to(mobile) {
        font-size: $tableFilterTabs-font-size--mobile;
    }
}

@mixin fieldOutputValue() {
    font-family: $fieldOutputValue-font-family;
    font-size: $fieldOutputValue-font-size;
    font-weight: $fieldOutputValue-font-weight;
    line-height: $fieldOutputValue-line-height;
    text-transform: $fieldOutputValue-text-transform;

    @include respond-to(mobile) {
        font-size: $fieldOutputValue-font-size--mobile;
    }
}

@mixin fieldAux() {
    font-family: $fieldAux-font-family;
    font-size: $fieldAux-font-size;
    font-weight: $fieldAux-font-weight;
    line-height: $fieldAux-line-height;

    @include respond-to(mobile) {
        font-size: $fieldAux-font-size--mobile;
    }
}

@mixin buttonLabel() {
    font-family: $buttonLabel-font-family;
    font-size: $buttonLabel-font-size;
    font-weight: $buttonLabel-font-weight;
    line-height: $buttonLabel-line-height;
    text-transform: $buttonLabel-text-transform;

    @include respond-to(mobile) {
        font-size: $buttonLabel-font-size--mobile;
    }
}

@mixin menuItemLabel() {
    font-family: $menuItemLabel-font-family;
    font-size: $menuItemLabel-font-size;
    font-weight: $menuItemLabel-font-weight;
    line-height: $menuItemLabel-line-height;

    @include respond-to(mobile) {
        font-size: $menuItemLabel-font-size--mobile;
    }
}

@mixin productBoxDesc() {
    font-family: $productBoxDesc-font-family;
    font-size: $productBoxDesc-font-size;
    font-weight: $productBoxDesc-font-weight;
    line-height: $productBoxDesc-line-height;

    @include respond-to(mobile) {
        font-size: $productBoxDesc-font-size--mobile;
    }
}

@mixin productBoxName() {
    font-family: $productBoxName-font-family;
    font-size: $productBoxName-font-size;
    font-weight: $productBoxName-font-weight;
    line-height: $productBoxName-line-height;

    @include respond-to(mobile) {
        font-size: $productBoxName-font-size--mobile;
    }
}

@mixin tableLegend() {
    font-family: $tableLegend-font-family;
    font-size: $tableLegend-font-size;
    font-weight: $tableLegend-font-weight;
    line-height: $tableLegend-line-height;

    @include respond-to(mobile) {
        font-size: $tableLegend-font-size--mobile;
    }
}

@mixin badge() {
    font-family: $badge-font-family;
    font-size: $badge-font-size;
    font-weight: $badge-font-weight;
    line-height: $badge-line-height;

    @include respond-to(mobile) {
        font-size: $badge-font-size--mobile;
    }
}

@mixin fontSize1 {
    font-size: $desktopSize-1;

    @include respond-to(mobile) {
        font-size: $mobileSize-1;
    }
}

@mixin fontSize2 {
    font-size: $desktopSize-2;

    @include respond-to(mobile) {
        font-size: $mobileSize-2;
    }
}

@mixin fontSize3 {
    font-size: $desktopSize-3;

    @include respond-to(mobile) {
        font-size: $mobileSize-3;
    }
}

@mixin fontSize4 {
    font-size: $desktopSize-4;

    @include respond-to(mobile) {
        font-size: $mobileSize-4;
    }
}

@mixin fontSize5 {
    font-size: $desktopSize-5;

    @include respond-to(mobile) {
        font-size: $mobileSize-5;
    }
}

@mixin fontSize6 {
    font-size: $desktopSize-6;

    @include respond-to(mobile) {
        font-size: $mobileSize-6;
    }
}

//
// BS variable overrides
// ==========================================================================

$brand-primary: $color-ink;
$brand-info: $color-interactive;
$brand-danger: $color-semantic-danger;
$brand-warning: $color-semantic-warning;
$ui-color-success: $color-semantic-success;
$gray: $color-layoutDarkest;
$gray-lighter: $color-layout;
$headings-font-family: $titleFontFamily;

/* Extra small screen / phone */
$screen-xs: 640px !default;

/* Small screen / tablet */
$screen-sm: 860px !default;

/* Medium screen / desktop */
$screen-md: 1024px !default;

/* Large screen / wide desktop */
$screen-lg: 1200px !default;

/* So media queries don't overlap when required, provide a maximum */
$screen-xs-max: ($screen-sm - 1) !default;
$screen-sm-max: ($screen-md - 1) !default;
$screen-md-max: ($screen-lg - 1) !default;
