/*
   Colors
   ========================================================================== */

$color-inkValue: #201921;
$color-paperValue: #f9f9fb;

// mix a drop of color please
// $result: mix( $base, $dropToMix, .975 )
$color-inkOpaque: $color-inkValue;
$color-ink: transparentize($color-inkOpaque, 0.15);
$color-inkHover: transparentize($color-inkOpaque, 0.3);
$color-inkTranslucent: transparentize($color-inkOpaque, 0.35);
$color-inkPlaceholder: transparentize($color-inkOpaque, 0.4);
$color-inkDisabled: transparentize($color-inkOpaque, 0.7);
$color-inkSelected: transparentize($color-inkOpaque, 0.9);
$color-inkInversedOpaque: $color-paperValue;
$color-inkInversed: transparentize($color-inkInversedOpaque, 0.15);
$color-inkInversedTranslucent: transparentize($color-inkInversedOpaque, 0.5);
$color-inkInversedDisabled: transparentize($color-inkInversedOpaque, 0.7);
$color-BkgTranslucent: transparentize($color-paperValue, 0.4);
//---
$color-layoutLight: $color-paperValue;
$color-layout: mix($color-paperValue, $color-inkValue, 85%); //#d7d9dd;
$color-layoutDark: mix($color-paperValue, $color-inkValue, 70%); //#b5b9bf;
$color-layoutMiddle: mix($color-paperValue, $color-inkValue, 50%);
$color-layoutDarker: mix($color-paperValue, $color-inkValue, 30%); //#58626f;
$color-layoutDarkest: mix($color-paperValue, $color-inkValue, 15%); //#364251;
$color-layoutBlack: $color-inkValue;
//---
$color-layoutInversedLight: $color-inkValue;
$color-layoutInversed: mix($color-inkValue, $color-paperValue, 85%); // #364251;
$color-layoutInversedDark: mix($color-inkValue, $color-paperValue, 70%); // #58626f;
$color-layoutInversedMiddle: mix($color-inkValue, $color-paperValue, 50%);
$color-layoutInversedDarker: mix($color-inkValue, $color-paperValue, 30%); // #b5b9bf;
$color-layoutInversedDarkest: mix($color-inkValue, $color-paperValue, 15%); // #d7d9dd;
$color-layoutInversedBlack: $color-paperValue;
//---
$color-semantic-danger: #e80105;
$color-semantic-warning: #a46415;
$color-semantic-success: #00833a;
$color-semantic-info: #0265b0;
$color-semantic-progress: transparentize($color-semantic-success, 0.4);
//---
$color-interactive: #c30000;
$color-decorative: #50c4d0;
$color-interactiveDesatured: desaturate($color-interactive, 62.5);
$color-interactiveShade: darken($color-interactive, 12.5);
//---
// color names extracted from coolors
$color-alternative: (
    airForceBlue: #005cd5,
    selectiveYellow: #f2b705,
    paleAqua: #bdd4f2,
    rossoCorsa: #d91604,
);

//---
