/* ==========================================================================
Branding base color
========================================================================== */
$brand-color-base: #44377b;
$brand-color-secondary: #49ccbd;
$brand-color-accent: #48b7d5; // links & buttons
$brand-color-element: #efedf7;
$brand-color-red: #ce4a4a;
$brand-color-green: #51911a;
$brand-color-yellow: #e0cc5f;

// alert colors
$alert-bg: #fcf8e3;
$alert-border: #faebcc;
$alert-color: #8a6d3b;

/* ==========================================================================
Brandin grayscale
========================================================================== */
$ui-gray-base: #484848;
$ui-gray-medium: #aeaeae;
$ui-gray-light: #dddddd;
$ui-gray-ultra-light: #eeeeee;
//  white: #ffffff;

/* ==========================================================================
Basic Spacing
========================================================================== */
$map-globalFontSize: (320px: 13px,
    375px: 16px,
    859px: 18px,
    860px: 14px,
    1024px: 15px,
    1440px: 16px,
);

/*
    10px = 0.625rem
    12px = 0.75rem
    14px = 0.875rem
    ==> 16px = 1rem (base)
    18px = 1.125rem
    20px = 1.25rem
    24px = 1.5rem
    30px = 1.875rem
    32px = 2rem
*/

$xs: 0.75rem;
$s: 1rem;
$m: 1.333rem;
$l: 2rem;

/* ==========================================================================
Typography
========================================================================== */

$font-extra-small: $xs;
$font-small: $s;
$font-medium: $m;
$font-larg: $l;
$bold: 700;
$light: 300;
$regular: 400;
$helveticaNeue: "HelveticaNeueT",
"helveticaNeue-Light",
"Helvetica Neue",
"Segoe UI",
"Roboto",
"Oxygen",
"Ubuntu",
"Cantarell",
"Fira Sans",
"Droid Sans",
sans-serif;
$brand-font-family: $helveticaNeue;
$titleFontFamily: $helveticaNeue;
$copyFontFamily: $helveticaNeue;
$ui-color-field: $ui-gray-medium;

/* ==========================================================================
Color status 
========================================================================== */

$ui-color-error: $brand-color-red;
$ui-background-color-error: lighten($brand-color-red, 30%);
$ui-color-text--error: lighten($ui-color-error, 60%);
$ui-color-success: $brand-color-green;
$ui-background-color-success: lighten($brand-color-green, 30%);
$ui-color-warning: $brand-color-yellow;
$ui-background-color-alert: lighten($brand-color-yellow, 30%);

@import "bootstrap-variables-overrides";
$app--background-color: $brand-primary;
$app--color: color-yiq($app--background-color);

// App page
$app-page--primary-color: $brand-info;
$app-page-link--color: $brand-info;

// App footer
$app-footer--background-color: darken($brand-primary, 10%);
$app-footer--color: color-yiq($app-footer--background-color);
$app-footer-link--color: $brand-info;

// Container
$container-bottom--background-color: darken($brand-primary, 10%);

// C control
$c-control--border-radius: 5px;

// Button
$btn--font-size: 0.75rem;
$btn--font-weight: $bold;
$btn--text-transform: uppercase;
$btn--padding: 1em;
$btn--border-radius: 0.375rem;
$btn-block--margin-top: 1rem;

/* Extra small screen / phone */
$screen-xs: 480px !default;

/* Small screen / tablet */
$screen-sm: 860px !default;

/* Medium screen / desktop */
$screen-md: 1024px !default;

/* Large screen / wide desktop */
$screen-lg: 1200px !default;

/* So media queries don't overlap when required, provide a maximum */
$screen-xs-max: ($screen-sm - 1) !default;
$screen-sm-max: ($screen-md - 1) !default;
$screen-md-max: ($screen-lg - 1) !default;

/* Interpolation map to acomodate font size on :root */

$external-footer-height: $l * 1.5;
$some-color: rgba(68, 55, 123, 0.75);

:export {
    brandColorBase: $brand-color-base;
    brandColorSecondary: $brand-color-secondary;
}