/*
   Fonts
   ========================================================================== */

$helveticaNeue: "HelveticaNeueT",
"helveticaNeue-Light",
"Helvetica Neue",
"Segoe UI",
"Roboto",
"Oxygen",
"Ubuntu",
"Cantarell",
"Fira Sans",
"Droid Sans",
sans-serif;
$titleFontFamily: $helveticaNeue;
$copyFontFamily: $helveticaNeue;
$light: 300;
$bold: 700;
// ---
$desktopBase: 1rem;
$desktopScale: 1.333;
$desktopSize-6: $desktopBase / $desktopScale;
$desktopSize-5: $desktopBase;
$desktopSize-4: $desktopBase * $desktopScale;
$desktopSize-3: $desktopSize-4 * $desktopScale;
$desktopSize-2: $desktopSize-3 * $desktopScale;
$desktopSize-1: $desktopSize-2 * $desktopScale;
// ---
$mobileBase: 1rem;
$mobileScale: 1.2;
$mobileSize-6: $mobileBase / $mobileScale;
$mobileSize-5: $mobileBase;
$mobileSize-4: $mobileBase * $mobileScale;
$mobileSize-3: $mobileSize-4 * $mobileScale;
$mobileSize-2: $mobileSize-3 * $mobileScale;
$mobileSize-1: $mobileSize-2 * $mobileScale;

@mixin fontSize1() {
    font-size: $desktopSize-1;

    @include respond-to(mobile) {
        font-size: $mobileSize-1;
    }
}

@mixin fontSize2() {
    font-size: $desktopSize-2;

    @include respond-to(mobile) {
        font-size: $mobileSize-2;
    }
}

@mixin fontSize3() {
    font-size: $desktopSize-3;

    @include respond-to(mobile) {
        font-size: $mobileSize-3;
    }
}

@mixin fontSize4() {
    font-size: $desktopSize-4;

    @include respond-to(mobile) {
        font-size: $mobileSize-4;
    }
}

@mixin fontSize5() {
    font-size: $desktopSize-5;

    @include respond-to(mobile) {
        font-size: $mobileSize-5;
    }
}

@mixin fontSize6() {
    font-size: $desktopSize-6;

    @include respond-to(mobile) {
        font-size: $mobileSize-6;
    }
}