/* ==========================================================================
Local variable component |
* Identificardor de variables relativas => fm
* Algunas variables estan con string porque estan localmente
========================================================================== */

$ui-grey-ultra-light: $gray-lighter;
$ui-color-type: #484848;
$ui-grey-base: gray;
$ui-white: white;
$fm--line-height: 1.4;
$form-control--border: none;
$fm-control--border-radius: 5px;
$fm-no-bg: transparent;
$fm-space--xs: $xs;
$fm-space--s: $s;
$fm-space--m: $m;
$fm-space--l: $l;
$fm-fucus--color: #484848;
$fm-fucus--bg: white;
$form-control-fucus--color: #484848;
$hasError--color: $brand-danger;
$hasError--background-color: lighten($brand-danger, 30%);

// class form boostrap overrides
.form-group {
    margin: $s 0 $m;

    font-size: 1rem;
}

.form-control {
    height: auto;
    padding: 13px $fm-space--s;

    border: $form-control--border;
    border-radius: $fm-control--border-radius;

    color: $gray-darker;
    font-size: 1em;
    line-height: $fm--line-height;

    box-shadow: none;

    &:focus {
        background-color: $fm-fucus--bg;
    }
}

.form-control-select {
    width: 100%;

    border: none;

    color: $brand-primary;

    background-color: transparent;
    box-shadow: none;

    appearance: none;
}

.form-group-box {
    margin: $s 0 $m;
}

.form-control:not(.form-control-select) .input-group {
    /* fix annoing bug in android when focus on field */
    @include respond-to(mobile) {
        z-index: 1;

        transform: translate3d(0, 0, 0);
    }
}

.input-group {
    border: 1px solid $input-border;
    border-radius: $input-border-radius;

    font-size: $fm-space--s;

    background-color: $input-bg;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);

    .btn {
        border-radius: 0;

        &:first-child {
            border-bottom-left-radius: $input-border-radius;
            border-top-left-radius: $input-border-radius;
        }

        &:last-child {
            border-top-right-radius: $input-border-radius;
            border-bottom-right-radius: $input-border-radius;
        }
    }
    .form-control {
        z-index: inherit;
    }
}

.form-group-control-list {
    margin-top: 0.5rem;

    .c-control {
        margin-right: 1em;
    }
}

.form-group-input-wrapper--select {
    max-height: 3.25rem;
    padding: 0.7rem 0.4rem;
}

.form-control-select {
    padding: 0.875rem 0.75rem;
}

.input-group textarea.form-control {
    resize: vertical;
}

.form-group-text,
.input-group {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0.5em 0;
}

.input-group {
    .form-control,
    .form-control-select {
        &:focus {
            box-shadow: none;
            outline: none;
        }
    }
    .form-control {
        background-color: transparent;
    }
}

.has-error {
    .input-group {
        border: 1px solid $color-semantic-danger;

        background-color: $form-group-error--backbround-color !important;

        .form-control {
            &:-webkit-autofill {
                box-shadow: 0 0 0 4rem $form-group-error--backbround-color inset !important;

                -webkit-text-fill-color: $form-group-error--color !important;
            }
        }
    }

    &.has-focus.input-group {
        background-color: $form-group-error--backbround-color !important;

        .form-control {
            &:-webkit-autofill {
                box-shadow: 0 0 0 4rem $form-group-error--backbround-color inset !important;

                -webkit-text-fill-color: $form-group-error--color !important;
            }
        }
    }

    .control-label:after {
        position: absolute;

        margin-left: 0.5rem;

        color: $hasError--color;
        content: "*";
    }
}

.has-error {
    .form-control {
        &:-webkit-autofill {
            -webkit-text-fill-color: $form-group-error--color !important;
        }
    }
}

.form-control {
    transition: none;

    &:-webkit-autofill {
        box-shadow: 0 0 0 4rem white inset !important;
    }
}

.has-focus {
    .form-control {
        &:-webkit-autofill {
            box-shadow: 0 0 0 4rem white inset !important;
        }
    }
}

.has-error {
    .form-group-error {
        display: flex;
        align-items: center;
        // color: $form-group-error--backbround-color;

        color: $form-group-error--color;

        .svg-wrapper {
            width: auto;
        }

        .svg-icon {
            width: 0.75rem;
            height: 0.75rem;
            min-width: 0.75rem;
            margin-right: 0.5rem;
        }
    }

    .control-label {
        color: inherit;
    }

    .form-group-error {
        font-size: 0.875rem;
    }

    .form-control {
        color: $form-group-error--color;

        background-color: $form-group-error--backbround-color;
    }

    .help-block {
        color: $form-group-error--backbround-color;
        font-weight: $bold;
    }
}

#modal,
.modal-dialog,
.theme-auth {
    .has-error {
        .form-group-error {
            color: $form-group-error--color;
        }

        .control-label {
            color: inherit;
        }

        .input-group .c-control-label {
            &,
            & > div {
                color: $form-group-error--color;
            }
        }

        .form-group-error {
            font-size: 0.875rem;
        }

        .input-group {
            border-color: $form-group-error--color;

            color: $form-group-error--color;
        }

        .help-block {
            color: $form-group-error--color;
            font-weight: $bold;
        }
    }
}

.selection-group {
    margin-bottom: 1.25rem;

    .c-control-label {
        padding: 0.5em 1em;

        font-size: 0.875rem;
        font-weight: $bold;

        &::before,
        &::after {
            content: none;
        }
    }

    .c-control-input + .c-control-label {
        color: $gray-lighter;
    }

    .c-control-input:checked + .c-control-label {
        color: $ui-grey-base;
    }
}

/* REVISAR CODIGO */

// Select en mobile para campo compuesto coloreado
.currency-selector {
    max-width: 6rem;

    font-size: 0.875rem; // position: absolute;

    .Select-control {
        font-size: 1em;
    }

    &.document {
        max-width: 14rem;

        span.Select-value-label {
            overflow: hidden;

            display: block;

            width: 160px;

            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

.Select .Select-control {
    padding-top: 12px;
    padding-bottom: 12px;

    background-color: transparent;
}

.Select .Select.is-open > .Select-control,
.Select.is-focused .Select-control {
    background-color: transparent !important;
}

.input-group-datepicker {
    .react-datepicker-wrapper {
        display: block;

        .react-datepicker__input-container {
            display: block;
        }
    }
}
.form-group--datepicker {
    // Dark layer to cover content
    @include respond-to(mobile) {
        .react-datepicker-popper {
            position: fixed !important;
            bottom: 0 !important;
            left: 0 !important;

            width: 100% !important;
            margin: 0 !important;

            transform: translateY(0) !important;
        }

        .react-datepicker-popper::after {
            position: fixed;
            top: 0;
            left: 0;
            z-index: -1;

            width: 100%;
            height: 100%;

            content: "";

            opacity: 0;
            background-color: $ui-grey-base;

            animation: appearDatePicker 0.25s forwards;
            pointer-events: none;
        }

        .react-datepicker {
            position: absolute;
            bottom: 0;

            width: 100%;

            transform: translateY(0);
            animation: slideUp 0.25s forwards;
        }

        .react-datepicker__month-container {
            float: none;
        }
    }

    .input-group {
        @include respond-to(mobile) {
            min-height: 2.875rem;
        }

        input {
            float: none;

            display: block;

            background-color: transparent;
        }
    }

    .react-datepicker-wrapper {
        padding: 0;

        .react-datepicker__input-container {
            input,
            .mobile-custom-datepicker-input {
                padding: 13px $fm-space--s;

                border: none;
            }

            &:after {
                position: absolute;
                top: 50%;
                right: 0;

                margin-top: -0.75em;
            }

            .mobile-custom-datepicker-input.expand-area-input-picker {
                width: inherit;
            }
        }
    }

    .react-datepicker-wrapper,
    .react-datepicker__input-container,
    .react-datepicker__input-container input {
        width: 100%;
    }

    .input-group {
        border: none;
    }

    .form-control {
        padding: 0;

        input {
            padding: 14px 1em;

            border: 1px solid $gray;
            border-radius: 0.15rem;
        }
    }
}
@include respond-to(mobile) {
    .enrollment-layout {
        .z_-1 {
            z-index: -1;
        }
        .form-group--datepicker {
            .react-datepicker-popper::after {
                z-index: 0;
            }
            .react-datepicker {
                z-index: 1;
            }
        }
    }
}
// react tags
.tagsClass {
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;

    border-radius: 5px !important;

    cursor: text;

    @extend .form-control;

    // Tag List
    .selectedClass {
        display: flex;
        flex-flow: wrap;

        .tagClass {
            display: flex;
            align-items: center;

            padding: 0.25rem 1rem;
            margin-right: 0.5rem;
            margin-bottom: 0.5rem;

            border: 1px solid gray;
            border-radius: 999px;

            font-size: 13px;

            cursor: default !important;
        }
    }

    .removeClass {
        width: 0.75rem;
        height: 0.75rem;
        margin-left: 0.5rem;

        border: 0;

        color: transparent;
        text-decoration: none;

        background-image: url("../../../images/cancel_red.svg");
        background-repeat: no-repeat;
    }

    .removeClass:hover {
        color: transparent;

        cursor: pointer;
    }
    .removeClass:focus {
        outline: none;
    }
    .tagInputClass {
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;

        .tagInputFieldClass {
            border: none;

            background-color: transparent;
            box-shadow: none;

            &:focus {
                outline: none;
            }
        }
    }
}

.theme-auth {
    .form-group--emailList {
    }
}

.weekday-selection {
    display: flex;
    flex-wrap: wrap;

    @include respond-to(mobile) {
        justify-content: space-between;
    }

    .c-control {
        margin: 0;
    }

    .c-control-label {
        padding: 0.5em;

        border: 1px solid currentColor;
        border-radius: 4px;

        color: $brand-info;

        + .c-control-label {
            margin-right: 0.25em;
        }

        &::before,
        &::after {
            content: none;
        }
    }

    .c-control-input:checked + .c-control-label {
        color: $ui-white;

        background-color: $brand-info;
    }
}

.scheduler-frequency-suboptions {
    width: 100%;
    padding: 0 1rem;
    .control-label {
        font-weight: normal;
    }

    .input-group {
        margin-top: 0;
        margin-bottom: 0;
    }

    .form-text-group {
        display: flex;

        label {
            display: flex;
            align-items: center;
        }
    }

    .c-control {
        display: flex;

        label {
            display: flex;
            align-items: center;

            font-family: $headings-font-family;
        }

        .form-group,
        .input-group {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}

.form-group-row {
    display: flex;

    > * + * {
        margin-left: $fm-space--s;
    }
}

.form-group--scheduler {
    .check-list .c-control-label {
        font-size: $fm-space--s;
    }
}

@include respond-to(desktop) {
    .weekday-selection {
        .c-control {
            margin-right: 0.5rem;
        }
    }
}

.field-text-optional {
    margin-left: 0.25em;

    font-size: 0.75em;

    opacity: 0.75;
}

/* This is just a text addon for a field, it may be convenient to iterate about this */

.currency {
    height: auto;
    padding: 13px 1em;

    border-right: 1px solid $form-group--border-color;
    border-radius: 0.15625rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    font-size: $fm-space--s;
    line-height: 1.4;

    box-shadow: none;

    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

    @include when-inside(has-error) {
        border-color: $form-group--border-color;
    }
    @include when-inside(has-focus) {
        border-color: $form-group-focus--border-color;
    }
}

.form-group--small .currency {
    padding-top: 7px;
    padding-bottom: 7px;
}

.has-error .currency {
    border-color: $form-group--border-color;
}

.has-focus .currency {
    border-color: $form-group-focus--border-color;
}

.security-image {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.form-group--loanPayments {
    width: 100%;
    margin-bottom: 0;

    .data-wrapper {
        padding-right: 2.5rem;
    }

    .table-row.is-expired {
        border-color: currentColor;

        color: $form-group-error--color;

        background-color: $form-group-error--backbround-color;
    }

    .table-data:first-child {
        padding-left: 0.75rem;
    }

    .table-data:last-child {
        padding-right: 2.25rem;

        @include respond-to(mobile) {
            padding-right: 2.25rem;
        }
    }

    .c-control-label {
        width: 100%;
        padding: 0.5rem 0;

        font-family: sans-serif;

        @include respond-to(mobile) {
            display: flex;
        }
    }

    .c-control-label::after,
    .c-control-label::before {
        right: 0.5rem;
        left: initial;
    }

    .c-control-label::after {
        content: "✓";
    }

    .c-control-input.disabled,
    .c-control-input[disabled] {
        ~ .c-control-label {
            opacity: initial;
            box-shadow: initial;

            cursor: pointer;
        }

        + .c-control-label {
            box-shadow: none;

            cursor: not-allowed;

            &::before,
            &::before {
                opacity: 0.3;
            }
        }
    }

    .c-control-input:checked {
        ~ .c-control-label::after {
            transform: scale(0);
        }

        + .c-control-label::after {
            transform: scale(1.6);
        }
    }
}

@include respond-to(mobile) {
    .slideFromBottom {
        // Dark layer to cover content
        &::after {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 3;

            width: 100%;
            height: 100%;

            content: "";

            opacity: 0;
            background-color: #222222;

            pointer-events: none; // display: none;
            /* Esto tendria que conseguir realizarlo de alguna forma */
            // animation: hideLayer 0.3s ease forwards;
        }

        &.is-open {
            &::after {
                opacity: 0.7;

                animation: showLayer 0.3s ease forwards;
                pointer-events: all;
            }

            .Select-menu-outer {
                animation: slideUp 0.3s ease forwards;
            }
        }

        /* Select parts */
        .Select-option {
            user-select: none;
        }

        .Select-menu-outer {
            position: fixed;
            top: initial;
            bottom: 0;
            left: 0;
            // animation: slideUp 0.3s ease;
            overflow: auto;
            overflow-y: scroll;
            z-index: 4;

            width: 100%;
            max-height: 90%;

            border: none;
            border-radius: 0;

            color: $brand-info;
            text-align: center;

            background-color: white;

            -webkit-overflow-scrolling: touch;
        }

        .Select-menu {
            overflow-y: auto;

            max-height: 100%;
        }

        .Select-option {
            box-sizing: border-box;

            display: block;

            padding: $fm-space--s ($l / 2);

            color: currentColor;

            background-color: transparent;

            cursor: pointer;

            &:last-child {
                border-radius: 0;
            }

            &.is-selected {
                color: currentColor;

                background-color: transparent;
            }

            &.is-focused {
                color: currentColor;
                font-weight: $bold;

                background-color: rgba(0, 126, 255, 0.24);
            }

            &.is-disabled {
                color: currentColor;

                opacity: 0.75;

                cursor: default;
            }
        }
    }

    .slideFromBottom::after {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3;

        width: 100%;
        height: 100%;

        content: "";

        opacity: 0;
        background-color: #222222;

        transition: 0.3s ease;
        pointer-events: none;
    }

    .is-shown.slideFromBottom::after {
        opacity: 0.7;

        pointer-events: all;
    }

    .slideFromBottom-wrapper {
        position: fixed;
        top: initial;
        bottom: 0;
        left: 0;
        z-index: 4;

        width: 100%;
        max-height: 100%;

        border: none;
        border-radius: 0;

        color: $brand-info;
        text-align: center;

        opacity: 0;
        background-color: white;

        transform: translate3d(0, 100%, 0);

        -webkit-overflow-scrolling: touch;
    }

    .is-shown .slideFromBottom-wrapper {
        animation: slideUp 0.3s ease forwards;
    }
}

.Select {
    .control-label,
    .data-label {
        margin-right: $fm-space--s;

        font-family: sans-serif;

        @include ellipsis;
    }
}

.form-section-title {
    color: $brand-primary;

    h3 {
        font-weight: normal;
    }
}

.form-group--bank-selector {
    .Select {
        min-width: 8.5rem;
    }
}

.Select {
    @include when-inside(".selector-size--small") {
        width: 4rem;
        min-width: 4rem;
    }
    @include when-inside(".selector-size--medium") {
        width: 8.5rem;
        min-width: 8.5rem;
    }
}

.input-group input:only-child,
.input-group textarea:only-child {
    border-radius: 5px !important;
}

.scheduler {
    display: block;
    .scheduler-message {
        color: $color-semantic-success;
        font-family: $headings-font-family;
    }
}

.form-title {
    color: $brand-primary;
}

.form-group-wrapper {
    display: flex;
    flex-flow: column;

    > .form-group {
        margin-bottom: 0.5em;
    }

    .form-group-wrapper-inline {
        flex-flow: row;
    }
}

.form-group-wrapper-inline {
    align-items: center;
    flex-flow: wrap;

    > .form-group {
        margin-right: 0.75rem;
        margin-bottom: 0;
    }
}

.form-group-wrapper {
    display: flex;
    flex-flow: column;

    > .form-group {
        margin-bottom: 0.5em;
    }

    .form-group-wrapper-inline {
        flex-flow: row;
    }
}

.form-group-wrapper-inline {
    align-items: center;
    flex-flow: wrap;

    > .form-group {
        margin-right: 0.75rem;
        margin-bottom: 0;
    }
}

.select-small .Select {
    width: 10rem;
}

.list-item-inner .select-small .Select {
    width: 9rem;
}

.form-group {
    .input-group {
        margin-bottom: ($fm-space--s/2);

        border: 1px solid $color-layoutMiddle;
    }

    label,
    span {
        margin-bottom: 0;
    }
}

.form-group.hasError .form-group-box {
    background-color: $hasError--background-color;

    .form-control {
        color: $hasError--color;
    }
}

.form-group-box {
    .c-control {
        align-self: center;
    }
}

.form-control:focus {
    outline: none;
}

.c-control-label::before {
    // border-color: $brand-primary;
    border-radius: 5px;
}

.control-label {
    .text-optional {
        margin-left: 0.5rem;

        color: rgba(0, 0, 0, 0.4);
    }
}

.form-group-warning {
    position: absolute;
    right: 0;
    z-index: 10;

    padding: 5px;

    border-radius: 2px;

    color: $alert-color;

    background: $alert-bg;

    &::after {
        position: absolute;
        top: -14px;
        right: 10px;
        left: auto;

        display: inline-block;

        border: 7px solid transparent;
        border-bottom-color: $alert-bg;

        content: "";
    }
}

.filepond--root {
    .filepond--drop-label label {
        color: $color-ink;
        font-size: 1em;

        cursor: pointer;
    }

    [data-filepond-item-state*="error"] .filepond--item-panel,
    [data-filepond-item-state*="invalid"] .filepond--item-panel {
        background-color: $color-semantic-danger;
    }

    [data-filepond-item-state="processing-complete"] .filepond--item-panel {
        background-color: $color-semantic-success;
    }

    .filepond--drop-label .filepond--label-action {
        text-decoration-color: $color-interactive;
    }
}

.filepond--file .filepond--file-action-button {
    background: $color-interactive;
}

.form-section-title .section-title {
    font-size: 1em;
    font-weight: $bold;
}

.intro-description {
    font-size: 1em;
    font-weight: 500;
}

.form-group--stepper-field {
    .stepper-list {
        display: flex;
        flex-flow: wrap;

        .form-group {
            width: 5rem;
            margin: 0 1rem 0 0;
        }
    }
}

.form-group-wrapper {
    margin: 1rem 0;

    .form-group {
        margin-top: 0;
    }
}

.control-label {
    display: inline-block;

    margin-bottom: 0.25rem;

    border: none;
}

.list-item-inner .form-group-wrapper {
    margin: 0;
}

// Terms & conditions

.form-group--termsAndConditions {
    // textarea for terms and conditions
    .input-group-text-area {
        overflow: auto;

        display: block;

        width: 100%;
        max-height: 50vh;
        padding: 13px 1em;

        resize: vertical;
        > * {
            margin: auto;
        }
        &:focus {
            outline: none;
            box-shadow: 0 0 0 4px rgba($color-interactive, 0.4);
        }
    }
    .c-control-label {
        &,
        & > div {
            font-family: $font-family-base;
        }
    }

    &.has-error {
        .input-group {
            border: 1px solid $ui-gray-medium;

            color: inherit;

            background-color: #ffffff !important;
        }
    }
}

.form-group.form-group--scheduler {
    .form-group-text {
        .btn-link {
            margin-left: 0.5rem;
        }
    }
}

.form-group.form-group--scheduler {
    .form-group-text {
        .flex-container {
            flex-flow: row wrap;
        }
    }
}

body {
    .Select--multi {
        .Select-value {
            align-items: center;

            padding: 0.25rem 1rem;
            margin-right: 0.5rem;
            margin-bottom: 0.5rem;

            border: 1px solid $color-ink;
            border-radius: 999px;

            color: $color-ink;
            font-size: 13px;

            background-color: white;

            cursor: default !important;
        }

        .Select-value-icon {
            order: 1;

            width: 0.75rem;
            height: 0.75rem;
            margin-left: 0.5rem;

            border: none;

            color: transparent;
            text-decoration: none;

            background-image: url(../../../images/cancel_red.svg);
            background-repeat: no-repeat;

            &:hover {
                color: transparent;

                background-color: $gray-lighter;

                cursor: pointer;
            }
        }
    }
}
.form-control--verification-code {
    font-size: 2rem;
    letter-spacing: 1.5rem;
    letter-spacing: 1.5ch;
    text-align: center;
}
.select-no-label {
    margin-top: 2rem;
}
.control-leyend {
    display: block;

    margin-bottom: 1rem;
}
input::placeholder {
    color: $color-inkPlaceholder !important;
}
