* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: "Cabin Condensed", sans-serif;
    line-height: 1.25;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title {
    margin: 0;
    padding: 0;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-size: cover;
}

.text.centered {
    text-align: center;
}
/*
.error {
    background: red;
    color: white;
}
*/
.mock-ok {
    font-size: 200%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.5);
    padding: 2em;
    box-shadow: 0 0 1em yellow;
    border-radius: 300em;
}

.shadow-box {
    margin: 50px auto;
    width: 90%;

    background: white;
    box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.25);
    padding: 2em;
}

.global-action-btn {
    border-radius: 50%;
    width: 54px;
    height: 54px;
    background: #e5f3f6;
    color: #48b7d5;
    border: none;
    font-size: 1.25em;
    margin: 0.5em;
    transition: 0.3s all;
    cursor: pointer;
}

.global-action-btn:hover {
    background: #48b7d5;
    color: white;
}

.global-action-btn.delete {
    background: #ffe1e1;
    color: #ce4a4a;
}

.text-uppercase {
    text-transform: uppercase !important;
    white-space: nowrap;
}
