// Title
$status-error-title-color:  $font-color-base;
$status-error-title-weight: $font-weight-normal;
$status-error-title-size: 3rem;

// Subtitle
$status-error-subtitle-size: $font-text-size-lg;

// Text
$status-error-text-color: $gray-800;
$status-error-text-bold:  $font-weight-bold;

// Code
$status-error-code-color: rgba($primary, 0.25);
$status-error-code-font-size: 5rem;
$status-error-code-font-weight: $font-weight-bold;


// Code
.status-error-code {
    @include flex (center, center);
   
    margin: auto;
    height: 20rem;
    width: 45rem;

    @include background(
        $background-img: '503.svg', 
        $background-size: cover, 
        $background-position: center center); 

    &__text {
        color: $status-error-code-color;
        font: {
            size:       $status-error-code-font-size;
            weight:     $status-error-code-font-weight;
        }
        margin: 2rem 0 0 0;
        line-height: 1;
    }    
}

// Text
.status-error-text {
    @include flex (center, center);
    flex-direction: column;
    text-align: center;
    margin: 4rem 0;

    &__title {
        font: {
            size: $status-error-title-size;
            weight: $status-error-title-weight;
        }
        line-height: 1;
        margin: 1rem 0 2rem 0;
    }

    &__subtitle {
        color: $status-error-text-color;    
        font-size: $status-error-subtitle-size;
        margin: 0;
    }   
}

// Info
.status-error-info {
    @include flex(flex-end, space-between);

    .version {
        margin-bottom: 1rem;
    }

    p {
        color: $status-error-text-color;
        margin: 0;

        .subtitle{
            color: $status-error-title-color;
            display: block;
            font-weight: $status-error-text-bold; 
        }
    }
}

