@use "sass:math";

.d-row {
    display: flex;
    margin: 0 -1rem;

    &__item {
        flex: 1;
        padding: 0 1rem;

        &--40 {
            flex: 0 0 40%;
        }
        &--50 {
            flex: 0 0 50%;
        }
    }
}

// Grid - Columns
$grid-columns: 12;
$grid-gutter: 1rem;

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -$grid-gutter;
    margin-right: -$grid-gutter;
}

[class*="col"] {
    position: relative;
    padding-left: $grid-gutter;
    padding-right: $grid-gutter;
}

@for $column from 1 to $grid-columns + 1 {
    .col-#{$column} {
        width: math.div(100% * $column, $grid-columns);
    }
}

@mixin grid($breakpoint, $offset) {
    @for $column from 1 to $grid-columns + 1 {
        .col-#{$breakpoint}-#{$column} {
            width: math.div(100% * $column, $grid-columns);
        }
    }

    @if $offset {
        @for $column from 1 to $grid-columns + 1 {
            .offset-#{$column} {
                margin-left: math.div(100% * $column, $grid-columns);
            }
        }
    }
}

@include grid($breakpoint: "md", $offset: true);
@include grid($breakpoint: "lg", $offset: true);
