$header-padding: 1rem 0;
$header-margin: 0 0 1rem 0;

$header-fixed-background: $bg-body;
$header-fixed-shadow: 0.5rem 2rem 2rem -2.5rem rgba($shadow-color, 0.3);

.header {
    padding: $header-padding;
    margin-bottom: $header-margin;
    @include transition(box-shadow 0.5s ease);

    &__container {
        @extend .container;
        @include flex(center, space-between);
    }

    &__breadcrumb {
        @extend .container;
    }

    &__item {
        h1 {
            margin: 0;
        }

        .dropdown-button-single-actions-big {
            top: 0;
        }

        .secondary-button-container {
            display: flex;
            justify-content: flex-end;
        }
    }
}

// Header fixed
.app-has-scroll {
    .header {
        @include position(sticky, $top: 0, $width: 100%);
        background: $header-fixed-background;
        box-shadow: $header-fixed-shadow;
        z-index: 3;
    }
}

// Footer
.footer {
    margin: 1rem auto;
    max-width: 90rem;
    &__container {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        flex: 1;
    }
}
