.main {
    @extend .container;
    min-height: 80vh;
    width: 100%;
}

.wrapper {
    display: flex;
    &__content {
        width: 100%;
    }
}

#user-form {
    margin: 0 auto;
    max-width: 90rem;
}

.container {
    margin: 0 auto;
    max-width: 90rem;
    padding: 0 2rem;
}
