// Nav general
$nav-bg: $menu-primary;
$nav-color: white;
$nav-color-highlight: $blue-input;
$nav-width: 19.75rem;
$nav-width-small: 4.5rem;
$nav-padding: 2rem 0;
$nav-padding-item: 0.75rem 1.5rem;
$nav-version-font-size: $font-text-size-sm;

// Nav logo
$nav-logo: $bank-isotype;
$nav-logo-color: white;
$nav-logo-width: 2.5rem;
$nav-logo-height: 2.5rem;
$nav-logo-span: $font-text-size-sm;

// Nav title
$nav-menu-title-font: $font-text-size-sm;
$nav-footer-font-size: $font-text-size-sm;

// Nav item
$nav-item-border-width: 0.4rem;
$nav-item-border-width-small: 0.125rem;
$nav-item-color-bg: $menu-secondary;
$nav-item-color-bg-hover: $menu-hover;
$nav-item-color: white;
$nav-item-font-size: $font-text-size-lg;
$nav-item-name-margin: 3.75rem;

// Nav icon
$nav-icon-color: white;
$nav-icon-height: 1.25rem;
$nav-icon-width: 1.25rem;

// Nav secondary
$nav-secondary-bg: $menu-secondary;
$nav-secondary-item-hover: white;
$nav-secondary-padding: 6.25rem 0;

// Icons
.i--dashboard {
    @include mask("i-dashboard.svg");
}
.i--pending {
    @include mask("i-pending.svg");
}
.i--profile {
    @include mask("i-profile.svg");
}
.i--customerManagement {
    @include mask("i-customer.svg");
}
.i--configuration {
    @include mask("i-system.svg");
}
.i--operations {
    @include mask("i-operations.svg");
}
.i--backofficeAdministration {
    @include mask("i-backoffice.svg");
}
.i--menu {
    @include mask("i-menu.svg");
}

// Menu
.menu {
    @include flex(flex-start, space-between);
    @include transition(width 0.3s ease);
    @include position(sticky, $top: 0, $height: 100vh, $width: $nav-width);

    color: $nav-color;
    background: $nav-bg;
    flex-direction: column;
    padding: $nav-padding;
    overflow: hidden;
    z-index: 5;

    &__header {
        padding: 0 0.75rem;
        span {
            font-size: $nav-logo-span;
        }
    }

    &__footer {
        @include transition(padding 0.3s ease);
        padding: 0 0.75rem;
        p {
            font-size: $nav-footer-font-size;
        }
        .version {
            font-size: $nav-version-font-size;
        }
    }

    &__actions {
        @include flex(center, center);
        cursor: pointer;
        margin: 2rem 0;
        .icon {
            background: white;
            display: block;
            height: $nav-icon-height;
            width: $nav-icon-width;
        }
    }

    &__group {
        width: 100%;
    }

    p {
        margin: 0;
    }

    &--small {
        width: $nav-width-small;

        .menu__actions {
            .icon {
                transform: rotate(180deg);
            }
        }

        .logo {
            &__name {
                display: none;
            }
        }

        .menu-title,
        .tag {
            opacity: 0;
            &.no-hide {
                opacity: 1;
            }
        }

        .menu-item {
            &:hover,
            &:focus {
                background: $nav-item-color-bg-hover;
            }

            &::after {
                border-radius: 0.5rem;
                display: block;
                content: "";
                margin-top: -0.5rem;
            }

            &__name {
                display: none;
            }

            &--active {
                &::after {
                    border-color: $nav-color-highlight;
                }
            }

            &--has-secondary {
                background: transparent;
            }

            &--focus {
                background: $nav-item-color-bg;
            }
        }

        .menu-secondary {
            left: $nav-width-small;
        }

        .menu__footer {
            p {
                opacity: 0;
            }
        }
    }
}

// Logo
.logo {
    cursor: pointer;
    display: flex;

    &__ico {
        @include background($background-img: $nav-logo, $background-size: auto, $background-position: center center);

        height: $nav-logo-height;
        width: $nav-logo-width;
    }

    &__name {
        @include position(absolute, $left: $nav-logo-width + 2rem);
    }
}

// Menu title
.menu-title {
    font-size: $nav-menu-title-font;
    text-transform: uppercase;
    padding: $nav-padding-item;
}

// Menu item
.menu-item {
    box-shadow: $nav-item-border-width 0 0 transparent inset;
    cursor: pointer;
    display: flex;
    line-height: 1.25;
    margin-bottom: 0.5rem;
    padding: $nav-padding-item;
    width: 100%;

    &__icon {
        background: $nav-icon-color;
        height: $nav-icon-height;
        width: $nav-icon-width;
    }

    &__name {
        @include position(absolute, $left: $nav-item-name-margin);
        font-size: $nav-item-font-size;
        color: $nav-item-color;
        width: 100%;
        &:hover,
        &:focus {
            color: $nav-item-color;
        }
    }
    &:hover,
    &:focus {
        background-color: $nav-item-color-bg-hover;
    }

    &--active {
        box-shadow: $nav-item-border-width 0 0 $nav-item-color-bg inset;
    }

    &--has-secondary {
        @include background(
            $background-img: "i-arror-next.svg",
            $background-size: 0.5rem,
            $background-position: right 1.5rem center
        );
    }

    &--focus {
        background-color: $nav-item-color-bg;
    }
}

// Nav secondary
.menu-secondary {
    @include position(fixed, $top: 0, $height: 100vh, $left: $nav-width);
    padding: $nav-secondary-padding;
    background: $nav-secondary-bg;
    width: $nav-width;

    .menu-item {
        background: transparent;
        border-radius: 0;
        padding: 0;
        margin: 0;

        &::after {
            display: none;
        }

        &__name {
            @include position(relative, $left: 0);
            display: block;
            padding: $nav-padding-item;
            margin: 0;
        }

        &--active {
            box-shadow: $nav-item-border-width 0 0 white inset;
        }
        &:hover,
        &:focus {
            background: white;
            * {
                color: $font-color-base;
            }
        }
    }

    &--active {
        display: block;
    }
}
