:root {
  --active-color: rgb(195, 0, 0);
  --washed-ink-color: rgba(32, 25, 33, 0.3);
  --ink-color: rgba(32, 25, 33, 0.85);
}

.wrapper {
  display: flex;

  padding: 0;
  margin: 0;
}

.wrapper.vertical {}

.wrapper li {
  list-style: none;
}

.horizontal {
  flex-direction: row;
  justify-content: space-between;
}

.vertical {
  flex-direction: column;
}

.step {
  font-size: 1.333rem;
}

.horizontal .step {
  flex: 1;

  align-self: flex-end;
}

.vertical .step {
  margin-bottom: 8px;
}

.vertical .reference {
  min-width: 3ch;
  text-align: right;
}

.horizontal .reference {
  width: 100%;
  min-width: 100%;
  display: inline-block;
  text-align: center;
}

.step {
  position: relative;
  color: var(--washed-ink-color);
}

.pill::before {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 2px;

  content: "";

  background-color: var(--washed-ink-color);
}

.done {
  color: var(--ink-color);
}

.pill.done::before {
  background-color: var(--ink-color);
}

.pill.active::before {
  border-radius: 1rem;
  height: 8px;
  bottom: -3px;

  background-color: var(--active-color);
}

.active {
  color: var(--active-color);
}