/* Color Palette */
$orange: #ff822e;
$orange_dark: #e0601b;
$orange_darker: #ba4a11;
$blue: #0a4b67;
$blue_dark: #063346;

/* Typography */
$font: "Montserrat", sans-serif;

.component-wrapper {
    display: flex;
}

.component-wrapper,
#root,
#story-root {
    position: relative;
}

.sb-show-main {
    justify-content: space-between;
    flex-direction: column;
}

#root > div > div {
    display: flex;
    flex-direction: column;
    width: 100%;
}
#story-root {
    flex: 1;
    position: relative;
    min-height: 150px;
    margin: 20px 40px 0px 40px;
    border: 1px solid gainsboro;
    margin-top: 126px;
    border: none;
}

.error-message {
    width: 50vw;
    height: 50vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pre {
        padding: 1em;
        hyphens: auto;
    }
}

#root > div > div > div:nth-child(1) {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1;
}

#root > div > div > div:nth-child(1) > div {
    border: none !important;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
        0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    margin: 0 !important;
    background: url(../../img/storybook.svg) no-repeat right !important;
    background-size: 160px !important;
    background-color: $blue !important;
    background-position: 98% !important;
    color: white !important;
    border-radius: 0 !important;
    padding: 4px 20px 0px 20px !important;
    // border-left: 1px solid white !important;
    height: 75px !important;
}

#story-root + div > div {
    background: white;
}

#story-root + div > div > div > h2 + div {
    margin-bottom: 30px;
}

#story-root + div > div > div > h2 + div + div {
    margin-bottom: 5px;
    background: url(../../img/Usage.svg) no-repeat -8px 0;
    line-height: 50px;
    height: 50px;
    text-indent: 45px;
    font-weight: bold;
    color: $blue_dark;
}

#story-root + div > div > div > h2 + div + div + pre {
    color: white;
    border: 1px solid $blue;
    background: $blue !important;
    padding: 1rem !important;
    -webkit-user-select: text; /* Safari 3.1+ */
    -moz-user-select: text; /* Firefox 2+ */
    -ms-user-select: text; /* IE 10+ */
    user-select: text; /* Standard syntax */
    cursor: text;
}

#story-root + div > div > div > h2 + div + div + pre + div {
    margin-bottom: 5px;
}

#story-root + div > div > div > h2 + div + div + pre > code {
    background: transparent !important;
}

#story-root + div > div > div > h2 + div + div + pre + div + pre {
    color: white;
    border: 1px solid $blue_dark;
    background: $blue !important;
    -webkit-user-select: text; /* Safari 3.1+ */
    -moz-user-select: text; /* Firefox 2+ */
    -ms-user-select: text; /* IE 10+ */
    user-select: text; /* Standard syntax */
    cursor: text;
}

#story-root + div > div > div > h2 + div + div + pre + div + pre > code {
    background: transparent !important;
}

#root > div > div > div > div > div {
    border-bottom: 0 !important;
    padding-top: 8px !important;
}

#root > div > div > div > div > div:nth-child(1) > h1 {
    font-size: 26px !important;
}

#root > div > div > div > div > div:nth-child(1) > h2 {
    font-size: 18px !important;
    margin-bottom: 20px !important;
}

.badge {
    z-index: 0;
}

#story-root + div h1 + div > h2 {
    font-size: 18px;
    margin-bottom: 20px !important;
}

#story-root + div h1 {
    font-size: 20px !important;
}

#story-root + div > div {
    border: none !important;
    margin-top: 0 !important;
}

#root table {
    width: 100%;
    border-collapse: collapse;
}

#root table thead > tr > th {
    border-bottom: 1px solid $blue_dark;
    background: #eee;
    padding: 10px;
}

#root table tr > td {
    padding: 5px 10px;
}

#root table tr:nth-child(even) > td {
    border-bottom: 1px solid #eeeeee;
    background: #eee;
}
