.enrollment-layout .app-header {
    .container-fluid > .navbar-header {
        float: none;

        margin: 0;
    }

    .navbar {
        padding: 0 1rem;
    }

    .navbar-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 0 1rem;
    }

    // TODO: hacerle un wrapper para que funcione el flex 1

    .navbar-brand-wrapper {
        flex: 1;
    }
}

video {
    width: 100%;
    height: 100%;
}

.enrollment-layout {
    @include respond-to(mobile) {
        h3 {
            margin-top: 0;
            margin-bottom: 2rem;
        }
    }
    .app-content .theme-auth {
        padding: 0;

        h3 {
            margin-right: 1rem;
            margin-bottom: 2rem;

            ~ a {
                vertical-align: baseline;
            }
        }
    }
    .navigational-list {
        margin: 2rem 0;
    }
}

.enrollment-layout .above-the-fold {
    justify-content: flex-start;
}

// agregar props al selector camera-layout
.camera-layout {
    .view-page .view-content .main-container .above-the-fold,
    .view-header,
    .view-header .navbar {
        background-color: transparent !important;
    }

    .view-page {
        z-index: 9999;
    }

    .view-header {
        z-index: 10000;

        .view-title {
            justify-content: flex-start;
        }
    }
}

.camera-layout {
    .camera-stream {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 0;

        width: 100%;
        height: 100%;

        &::after {
            position: fixed;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;
            padding-bottom: 6rem;

            content: "";

            background-image: url(../images/faceOverlay.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        video {
            z-index: -1;
        }

        .btn-picture {
            position: fixed;
            right: 0;
            bottom: 0;
            z-index: 1;

            display: flex;
            flex-direction: column;
            justify-content: center;

            width: 100%;
            height: 6rem;

            border: none;
            border-radius: 0;

            background-color: $color-inkOpaque;
        }
    }

    .above-the-fold {
        padding-bottom: 6rem;
    }
}

.camera-layout--landscape {
    .view-header:not(.theme-product-detail) {
        margin-top: 0;

        .navbar {
            margin-left: env(safe-area-inset-top);
        }
    }

    .view-page {
        padding-left: env(safe-area-inset-top);
    }

    h1{
        color: white;
    }
}

.mobile-native .camera-layout--landscape {
    overflow-y: initial;

    width: 100vh;
    height: 100vw;
    min-height: auto;

    transform: rotate(90deg) translate(0%, -100%);
    transform-origin: left top;

    .above-the-fold {
        padding-bottom: 0;
    }

    .navbar-header {
        padding-right: 6rem;
    }

    .above-the-fold > .container--layout {
        padding-right: 6rem;
        padding-bottom: 0;

        &.flex-grow {
            z-index: -1;

            padding-right: 0;
        }
    }

    .camera-stream {
        &::after {
            position: fixed;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;
            padding-right: 6rem;
            padding-bottom: 0;

            content: "";

            background-image: none;
            background-repeat: no-repeat;
            background-position: -3rem center;
            background-size: cover;
        }

        .btn-picture {
            top: 0;
            right: 0;
            bottom: initial;

            width: 6rem;
            height: 100%;
        }
    }
}

@media only screen and (orientation: portrait) {
    .camera-layout--landscape {
        overflow-y: initial;

        width: 100vh;
        height: 100vw;
        min-height: auto;

        transform: rotate(90deg) translate(0%, -100%);
        transform-origin: left top;

        .above-the-fold {
            padding-bottom: 0;
        }

        .navbar-header {
            padding-right: 6rem;
        }

        .above-the-fold > .container--layout {
            padding-right: 6rem;
            padding-bottom: 0;

            &.flex-grow {
                z-index: -1;

                padding-right: 0;
            }
        }

        .camera-stream {
            &::after {
                position: fixed;
                top: 0;
                left: 0;

                width: 100%;
                height: 100%;
                padding-right: 6rem;
                padding-bottom: 0;

                content: "";

                background-image: none;
                background-repeat: no-repeat;
                background-position: -3rem center;
                background-size: cover;
            }

            .btn-picture {
                top: 0;
                right: 0;
                bottom: initial;

                width: 6rem;
                height: 100%;
            }
        }
    }
}

@media only screen and (orientation: landscape) {
    .camera-layout--landscape {
        .navbar-header {
            padding-right: 6rem;
        }

        .above-the-fold > .container--layout {
            padding-right: 6rem;
            padding-bottom: 0;

            &.flex-grow {
                z-index: -1;

                padding-right: 0;
            }
        }

        .above-the-fold {
            padding-bottom: 0;
        }

        .container {
            max-width: initial;
        }

        .camera-stream {
            &::after {
                position: fixed;
                top: 0;
                left: 0;

                width: 100%;
                height: 100%;
                padding-right: 6rem;
                padding-bottom: 0;

                content: "";

                background-image: none;
                background-repeat: no-repeat;
                background-position: -3rem center;
                background-size: cover;
            }

            .btn-picture {
                top: 0;
                right: 0;
                bottom: initial;

                width: 6rem;
                height: 100%;
            }
        }
    }
}

.decision-wrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    // width: 100%;

    margin: 0 -1rem;

    @include respond-to(mobile) {
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
}

.decision {
    min-width: 50%;
    padding: 1rem;

    border: none;

    text-align: initial;

    background-color: transparent;

    @include respond-to(mobile) {
        max-width: 20rem;
    }

    .buttonLabel {
        display: block;

        padding-top: 1rem;

        border-top: 1px solid $color-ink;

        color: $color-inkTranslucent;
        font-weight: $bold;
        text-transform: uppercase;

        @include fontSize5;
    }

    small {
        color: $color-inkTranslucent;

        @include fontSize6;
    }

    svg {
        width: 14rem;
        height: 14rem;
    }
}

.enrollment-layout {
    @include respond-to(desktop) {
        .toolbar {
            flex-flow: row wrap;
        }
    }
}

.enrollment-layout,
.camera-layout {
    @include respond-to(mobile) {
        .toolbar {
            padding: 0 1rem 0 0;

            .view-note {
                justify-content: flex-start;

                text-align: left;
            }

            .view-title {
                margin: 0;

                h2 {
                    margin-bottom: 0.5rem;
                }
            }
            .toolbar-item {
                padding-left: 0;
            }
            .toolbar-item-left ~ .view-title {
                padding-left: 2.5rem;
            }
        }
    }
}

.camera-layout--landscape {
    @include respond-to(mobile) {
        .view-title {
            h2 {
                margin: 0.5rem 0;

                font-size: 1.76rem;
            }
        }
    }
}

.enrollment-layout .toolbar-btn {
    padding: 0.75rem !important;
    margin: 0 !important;

    @include respond-to(mobile) {
        padding: 0 !important;
        margin: 0.75rem 0 !important;
    }
}

.enrollment-layout {
    @include respond-to(mobile) {
        .toolbar {
            flex-flow: row wrap;

            color: $color-inkOpaque;
        }
    }

    .toolbar-item--fixed {
        top: -0.25em;
    }

    .app-content {
        display: flex;
        flex-direction: row;

        > aside {
            order: -1;
        }
    }
}

@include respond-to(desktop) {
    .enrollment-layout {
        .view-wrapper {
            max-width: 50%;
        }

        .view-page {
            position: static;
        }

        .view-content:first-child:not(:only-child) {
            position: absolute;
            top: 0;
            left: 1rem;

            width: 25%;
            padding-top: 0;

            .main-container {
                width: 100%;
            }
        }
    }
    .camera-stream {
        .camera-mask {
            position: relative;

            margin-bottom: 0.5rem;

            &::after {
                position: absolute;
                top: 0;
                left: 0;

                width: 100%;
                height: 100%;
                padding-right: 6rem;
                padding-bottom: 0;

                content: "";

                background-image: none;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }

            &.camera-mask--face::after {
                background-image: url(../images/faceOverlayDesktop.svg);
            }
        }
    }
}

.camera-stream {
    text-align: center;
}

@import "stepIndicator";

// Enrollment
.enrollment-layout {
    .icon-message-page {
        > .container > .row > .col-12 {
            flex: 0 0 100%;

            max-width: 100%;
        }
    }
}

.media-object {
    .svg-wrapper {
        width: 6rem;
        height: 6rem;

        border-radius: 50%;

        color: white;

        .svg-icon {
            width: 4rem;
            height: 4rem;
        }
    }

    .app-icon {
        display: flex;

        width: 60%;
        height: 60%;
        margin: 0 auto;
    }
}
.media-object--text {
    font-family: $copyFontFamily;
}

.onboarding-layout .illustration-wrapper {
    display: block;

    width: 100%;
    height: auto;
    .svg-wrapper .illustration-icon {
        display: flex;

        width: 12rem;
        height: 12rem;
    }
    .illustration-text p {
        text-align: center;

        @include fontSize4;
    }
}

.enrollment-layout {
    label .c-control-text {
        line-height: 1.4;
    }

    input[type="checkbox"] {
        ~ .c-control-label {
            &::before {
                top: 0.25rem;
            }
            .c-control-mark {
                align-items: flex-start;

                padding-top: 3px;
                margin: 0;
            }
        }
    }
}
