.has-error {
    .Select .Select-control,
    .form-control,
    .react-tagsinput {
        background-color: transparent;
    }

    .input-group {
        background-color: white !important;

        .form-control {
            &:-webkit-autofill {
                box-shadow: 0 0 0 4rem white inset !important;
            }
        }

        &.has-focus {
            background-color: white !important;

            .form-control {
                &:-webkit-autofill {
                    box-shadow: 0 0 0 4rem white inset !important;
                }
            }
        }
    }

    .form-control {
        &:-webkit-autofill {
        }
    }

    .form-group-error {
        @include fontSize5;
    }
}

.theme-auth {
    .preloader {
        background-color: transparent;
    }

    .react-tagsinput-tag {
        border: 1px solid $color-layout;

        color: $color-ink;

        background-color: $color-layoutLight;
    }

    .form-group .react-tagsinput {
        border-color: #aeaeae;

        &--focused {
            border-color: $color-ink;

            background-color: white;
        }
    }

    .form-group.has-error .react-tagsinput {
        border-color: $color-semantic-danger;

        &--focused {
            border-color: $color-ink;
        }
    }
}

.weekday-selection {
    .c-control-label {
        border-radius: 4rem;

        font-weight: $bold;
    }
}

// switch control
body .c-control--switch {
    .c-control-input:checked ~ .c-control-label::before {
        background-color: $color-interactive;
    }
}

// field labels
.control-label {
    @include fieldLabel;

    .text-optional {
        @include fieldOptional;
    }
}

// control inline label
label.c-control-label {
    @include controlValueLabel;
}

// datepicker
.react-datepicker {
    &__current-month {
        color: $color-ink;
    }

    &__header {
        background-color: $color-layoutLight;
    }

    &__day {
        color: $color-ink;
    }

    &__day--disabled {
        color: $color-inkDisabled;
    }

    &__day-name {
        color: $color-ink;
    }

    &__day--today {
        color: $color-ink; //$brand-primary;
    }

    &__day--keyboard-selected,
    &__day--selected,
    &__day--in-selecting-range,
    &__day--in-range {
        color: $color-interactive;

        &,
        &:hover {
            background-color: $color-layout; //$brand-primary;
        }
    }

    &__navigation {
        background-color: $color-interactive;
    }
}

.login-desktop-wrapper {
    .btn.btn-only-icon {
        width: 2.5rem;
        padding: 0.4rem;
        margin: 0 0.5rem;

        border-radius: 2.5rem;
        .svg-image {
            width: 100%;
            height: 100%;
            margin: 0;
        }
    }
}

@include respond-to(mobile) {
    .login-background {
        .input-group .btn.btn-only-icon {
            width: 2.5rem;
            padding: 0.4rem;
            margin: 0 0.5rem;

            border-radius: 2.5rem;
            .svg-image {
                width: 100%;
                height: 100%;
                margin: 0;
            }
            &:focus {
                outline: none;
                box-shadow: 0 0 0 4px rgba($color-interactive, 0.4);
            }
        }
    }
}
