// ==========================================================================
// The grid

// App (>=860)
//  860 px, 4 cols, 32 gutter, 32 margin
//     mobile (max-width:  859px)
//     xs     (max-width: 859px)

// Web (> 860)
//  860 px,  4 cols, 32 gutter, 88 margin
//  1024 px,  8 cols, 32 gutter, 88 margin
// 1200 px, 12 cols, 32 gutter, 88 margin
// 1920 px, 12 cols, 32 gutter, 88 margin
//     desktop (min-width: 860px) 
//     sm      (min-width: 860px) and (max-width: 991px)
//     md      (min-width: 1024px) and (max-width: 1199px)
//     lg      (min-width: 1200px)

// @mixin respond-to
// ==========================================================================

.app-footer .app-footer {
    .container {
        padding: 0 2rem;
    }
}

.default-layout .app-content,
.app-content {
    @include respond-to(sm) {
        padding-right: 4.25rem;
        padding-left: calc(25% + 1.5rem);
    }
    @include respond-to(md) {
        padding-right: 4rem;
        padding-left: calc(25% + 1.5rem);
    }
    @include respond-to(lg) {
        padding-right: 3.75rem;
        padding-left: calc(16.66667% + 2rem);
    }
    @include respond-to(fullHD) {
        flex-basis: calc(66.66667%);

        padding-right: 3.5rem;
        padding-left: calc(12.5% + 2rem);
        margin-right: auto;
        margin-left: auto;
    }
    @extend .col;
}


.enrollment-layout .app-page .app-content {
    padding-right: 1rem;
    padding-left: 1rem;
}

.app-header .navbar {
    @include respond-to(lg) {
        padding: 0 5.5rem;
    }
    @include respond-to(md) {
        padding: 0 6rem;
    }
    @include respond-to(sm) {
        padding: 0 6.25rem;
    }
}


/* ==========================================================================
   Sidebar fixed width
   ========================================================================== */

.app-sidebar {
    @include respond-to(sm) {
        flex-basis: 15rem;

        max-width: 15rem;
        margin-left: 2.75rem;
    }
    @include respond-to(md) {
        flex-basis: 15rem;

        max-width: 15rem;
        margin-left: 2.5rem;
    }
    @include respond-to(lg) {
        flex-basis: 15rem;

        max-width: 15rem;
        margin-left: 2rem;
    }
    @include respond-to(fullHD) {
        flex-basis: 15rem;

        max-width: 15rem;
    }
    @extend .col;
}

.sidebar-collapsed {
    &.app-page .app-content {
        @include respond-to(sm) {
            padding-left: 4.25rem;
        }
        @include respond-to(md) {
            padding-left: 4rem;
        }
        @include respond-to(lg) {
            padding-left: 3.75rem;
        }
        @include respond-to(fullHD) {
            padding-left: 3.5rem;
        }
    }

    .app-sidebar {
        transform: translate3d(-12rem, 0, 0);

        .menu-list {
            transform: translate3d(12rem, 0, 0);
        }
    }
}

/* ========================================================================== */

.app-sidebar {
    padding: 0;

    background-color: rgba($color-layoutLight, 0.95);
    box-shadow: 0 0 4px 2px rgba($color-layoutLight, 0.95);
}

.sidebar-collapsed {
    .scrollable-sidebar {
        overflow-x: hidden;
    }

    .app-sidebar {
        .menu-list {
            span {
                opacity: 0;

                @include respond-to(lg) {
                    opacity: 1;
                }
            }
        }

        .menu-list-item.dropdown {
            &.open > .dropdown-menu {
                display: none;

                @include respond-to(lg) {
                    display: block;
                }
            }
        }

        &:hover {
            transform: translate3d(0, 0, 0);

            .menu-list {
                transform: translate3d(0, 0, 0);

                span {
                    opacity: 1;
                }
            }

            .menu-list-item.dropdown {
                &.open > .dropdown-menu {
                    display: block;
                }
            }
        }
    }
}


.default-layout .container--layout {
    max-width: initial;
}

// Logo
.navbar-header .navbar-brand {
    flex-basis: 10rem;

    max-width: 10rem;
    padding-right: 0;

    color: $color-ink;

    .svg-wrapper svg {
        width: 100%;
    }
}

.video-background {
    .video-controls,
    .login-video-text {
        @include respond-to(sm) {
            right: calc(62% + 2rem);
        }
        @include respond-to(md) {
            right: calc(48% + 2rem);
        }
        @include respond-to(lg) {
            right: calc(37.5% + 2rem);
        }
        @include respond-to(fullHD) {
            right: calc(37.5% + 2rem);
        }
    }
}