/*
   Header Commands
   ========================================================================== */

.header-command-pallette li a {
    > span {
        color: $headerCommandLabel-color;

        @include headerCommandLabel;
    }
}

.header-command-pallette li > a {
    .svg-wrapper {
        color: $menuItemIcon-stroke;
    }

    &:hover,
    &:focus {
        .svg-wrapper {
            .icon-stroke-color-a {
                color: $menuItemIcon-stroke-1--active;
            }

            .icon-stroke-color-b {
                color: $menuItemIcon-stroke-2--active;
            }
        }
    }
}

.header-command-pallette .rounder-content {
    background-color: transparent;

    &:hover {
        background-color: transparent;
    }
}

.header-command-pallette .dropdown.open .rounder-content {
    background-color: transparent;
}

.header-command-pallette {
    .corp-icon {
        .st0,
        .class-1 {
            stroke: $headerCommandIcon-stroke !important;
        }
    }

    .corp-icon:hover .fill-icon-button,
    .dropdown.open .corp-icon .fill-icon-button,
    .dropdown.open .corp-icon .fill-icon-body {
        fill: transparent;
    }

    .corp-icon:hover .fill-icon-body,
    .dropdown.open .corp-icon .fill-icon-body {
        fill: transparent;
    }
}

// mailBoxAnimation
.header-command-pallette {
    &:hover {
        fill: $color-layoutLight !important;
    }
}

.dropdown-inHeader-list {
    .dropdown-menu {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    }

    .menu-list-item {
        margin: 0;

        > span {
            padding-top: 0.75rem;
            padding-bottom: 0.75rem;
        }
    }
}

// layout
.header-command-pallette li a {
    flex-direction: row;

    .rounder-content {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 0.5rem;
        margin-bottom: 0;

        .svg-icon {
            width: 1.5rem;
            height: 1.5rem;
        }

        .svg-wrapper {
            padding: 0;
        }
    }
}

@include respond-to(desktop) {
    .view-content,
    .scrollable-sidebar {
        &::-webkit-scrollbar {
            width: 0.5rem;
        }

        &::-webkit-scrollbar-track {
            background-color: rgb(249, 249, 249);
        }

        &::-webkit-scrollbar-thumb {
            border: 1px solid rgb(249, 249, 249);
            border-radius: 0.5rem;

            background-color: rgb(228, 228, 228);
        }
    }
}

.dropdown-inHeader .dropdown-menu {
    top: 3.5rem;
}

// Header Commands
.dropdown-inHeader-list .menu-list-item {
    a,
    > span {
        span {
            color: $color-ink !important;
            font-weight: $light;

            @include fontSize5;
        }

        &:hover {
            span {
                color: $color-inkOpaque !important;
            }
        }
    }

    > span {
        border-radius: 0;

        cursor: pointer;

        .svg-wrapper {
            color: $menuItemIcon-stroke;
        }

        &:hover,
        &:focus {
            .svg-wrapper {
                .icon-stroke-color-a {
                    color: $menuItemIcon-stroke-1--active;
                }

                .icon-stroke-color-b {
                    color: $menuItemIcon-stroke-2--active;
                }
            }
        }

        &:hover {
            background-color: transparent !important;
        }
    }

    &:last-child {
        > span {
            border-bottom: 0;
        }
    }
}

// profile popup
.dropdown-inHeader .dropdown-menu {
    h4 {
        font-weight: $light;
        text-transform: uppercase;

        @include fontSize4;

        + p {
            color: $color-ink;

            @include fontSize5;
        }
    }

    .data-label {
        display: block;
    }

    .data-desc {
        @include fontSize4;
    }

    p {
        a {
            color: $color-ink;
            text-decoration: underline;

            &:hover {
                color: $color-inkHover;
            }

            &:active {
                color: $color-interactive;
                text-decoration: none;
            }

            &:focus {
                color: $color-interactive;

                outline: none;
            }
        }
    }

    .ellipsis {
        margin-bottom: 1.1rem;
    }

    .btn-primary {
        margin-top: 1.125rem;
    }
}

.shareIcon svg,
.mailIcon svg {
    width: 1.5rem;
    height: 1.5rem;
}

.app-header .navbar-toggle,
.view-header .navbar-toggle {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
    margin-top: -0.25rem;

    background-size: 1.5rem;
}
