@import "enrollment.scss";

h1,
.h1 {
    @include fontSize1;
}

h2,
.h2 {
    @include fontSize2;
}

h3,
.h3 {
    @include fontSize3;
}

h4,
.h4 {
    @include fontSize4;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
    font-family: $titleFontFamily;
    font-weight: $light;
}

// -------------------------

// Page title
.toolbar-product-name .view-title .product-title,
.toolbar-product-name .product-title .product-title,
.view-title h1,
.modal-dialog .modal-title {
    @include pageTitle;
}

.toolbar-product-name .view-title .title-content,
.toolbar-product-name .product-title .title-content,
.view-title .title-content,
.modal-dialog .modal-title {
    @include pageTitle;
}

.col,
p {
    font-family: $copyFontFamily;
    font-weight: $light;
}

// feedback messages
.icon-message-page h1,
.icon-message-page h2 {
    color: $feedbackMessageTitle-color;

    @include feedbackMessageTitle;
}

// Text lead
.text-lead {
    @include textLead;
}

// General message
.icon-message-page {
    &::after,
    &::before {
        content: none;
    }
}

// App header
.app .app-header .navbar {
    border: none;
}

// Brand
.navbar-brand svg {
    color: $color-ink;
}

.list-item-inner {
    font-weight: $light;

    .btn-quiet {
        padding: 0.5rem 0 !important;
    }
}

// App footer
.app-footer .legal-nav li:not(:last-child) {
    margin: 0;
}

// Illustrations
body .illustration-wrapper {
    background-color: transparent;
}

.svg-big-icon {
    .cls-1,
    .cls-2,
    .cls-3,
    .cls-4,
    .cls-5 {
        stroke: $feedbackMessageIconStroke-color !important;
        stroke-linecap: round !important;
    }
}

// button
.btn-only-icon.payment-icon {
    // background-color: $color-interactive;
}

.btn,
.nav-pills > li > a {
    border-radius: $buttonRadius;
}

.btn.is-loading {
    border-color: $color-interactive;

    color: $color-inkInversedOpaque !important;

    background: $color-interactive !important;
}

.btn.btn-link {
    border-color: transparent;

    color: $color-interactive;

    background-color: transparent;

    &:hover {
        color: $color-interactiveShade;
    }

    &:active {
        color: $color-interactiveShade;
    }
}

.btn.btn-primary.btn-circle-bg {
    border-color: $color-interactive;

    background-color: $color-interactive;
}

// product tag
.product-name {
    color: $color-ink;

    background-color: $color-layout;
}

// -------
.data-label {
    color: $color-inkTranslucent;

    @include fieldOutputKey;
}

.widget .data-name,
.newProduct .data-name {
    @include productBoxName;
}

h3.data-title,
.data-title {
    @include formLegend;
}

// TODO: some fields on ticket
.data-wrapper > span:not(.data-label),
.data-aux,
.data-desc,
.data-amount {
    @include fieldOutputValue;
}

// fit currency with amount size
.data-amount-currency {
    font-size: 1em;
}

// app indicators
.loader > div:nth-child(1),
.loader > div:nth-child(2) {
    background-color: $appLoadingIndicator-color;
}

// vectors
.icon-stroke {
    fill: none;
    stroke: currentColor;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    stroke-width: 1;
}

// We need to fix button stroke, but only in specific cases
.btn .icon-stroke {
    // stroke-width: 2;
}

// adjust general line width
.stroke {
    stroke-width: 1px;
}

//TODO: consider the collapsible state on the nav
@import "widgets";
@import "sidebar";
@import "table";
@import "grid";
@import "headerCommands";
@import "products";
@import "login";

.toolbar-item .view-close:hover {
    border-color: transparent;

    background-color: transparent;
}

// ---
// Common actions on product detail
.nav-pills li .btn {
    border: 1px solid currentColor;

    text-transform: uppercase;
}

// More information (product detail)
.align-product-head {
    &::before {
        content: none;
    }

    > .text-lead {
        margin-left: 3.5rem;

        font-weight: $bold;
        text-transform: uppercase;

        background-color: transparent;

        @include fontSize6;
    }

    > .btn {
        text-transform: uppercase;

        background-color: transparent;
    }
}

// Administration thing detail (Legends)
.col-header {
    .btn-quiet {
        align-self: flex-end;

        margin: 0.5rem 0 0.5rem 1rem;

        text-transform: uppercase;
    }

    h4,
    h3 {
        @include formLegend;
    }
}

#modal,
.modal-dialog,
.theme-auth {
    color: $color-ink;

    .control-label {
        color: $color-inkTranslucent;
    }
}

// Colorear la aplicacion
// General appeareace
.app-page,
.app .app-header .navbar,
.view-header,
.app .view-header .navbar,
.modal-dialog .app-footer,
.theme-auth .app-footer {
    // background-color: $color-layoutLight;
}

// Enrollment
.enrollment-layout {
    background-image: none !important;
    // background-color: $color-paperValue;

    .view-header {
        background-color: $color-layoutLight;
    }

    .text-lead {
        margin-top: 0.375em;
    }
}

// Product detail on mobile
@include respond-to(mobile) {
    .toolbar-product-name .product-name {
        background-color: rgba($color-inkOpaque, 0.125);

        & > span,
        & > .svg-wrapper,
        & > .svg-wrapper > div {
            background-color: transparent;
        }
    }

    .toolbar-product-name .toolbar-btn {
        color: $color-interactive;
    }

    .theme-product-detail {
        &.view-header .navbar {
            background-color: transparent; // $color-layoutLight;
        }

        .text-lead,
        .page-title,
        .view-title {
            color: $color-ink;
        }

        &.view-morphing {
            color: $color-ink;

            background-color: transparent; // $color-layoutLight;
        }

        .toolbar-item.toolbar-item--fixed {
            color: $color-interactive;
        }

        .section-content-heading {
            margin-bottom: 0;
        }

        .slick-dots li.slick-active button:before {
            color: $color-ink;
        }
    }

    .theme-product-detail + .container--layout .react-tabs__tab--selected {
        border-bottom: 2px solid $color-interactive;

        color: $color-inkOpaque;
    }

    .react-tabs__tab {
        border: transparent;
        border-bottom: 2px solid $color-layout;

        color: $color-ink;
        font-size: $mobileSize-3;
        font-weight: $light;
        text-transform: unset;

        background-color: transparent;

        &:focus {
            box-shadow: 0 0 0 4px rgba($color-interactive, 0.4);

            outline: none;
            border-radius: 0.5rem;
            margin-left: 0.25rem;
        }
    }
}

// product detail mobile options
@include respond-to(mobile) {
    .navigational-list .navigational-list-item {
        a {
            padding-right: 0;
            padding-left: 0;
        }

        .btn {
            font-weight: $light;
            text-transform: initial;

            &:hover {
                background-color: transparent;
            }
        }
    }

    .list--permissions .navigational-list-item {
        &:last-of-type {
            border: none;
        }

        a {
            padding-right: 0;
            padding-left: 0;

            font-weight: $bold;
            text-transform: uppercase;

            @include fontSize6;
        }

        .btn {
            font-weight: $light;
            text-transform: initial;

            &:hover {
                background-color: transparent;
            }
        }
    }

    .navigational-list > .navigational-list-item:last-child {
        border-bottom: none;
    }

    .navigational-list > .navigational-list .navigational-list-item:last-of-type {
        border-bottom: 1px solid $color-layout;
    }

    .navigational-list > .navigational-list:last-child .navigational-list-item:last-of-type {
        border-bottom: none;
    }
}

.navigational-list > .navigational-list-downLoad:last-of-type {
    border-bottom: none;
}

.list-item--poi {
    h4 {
        color: $listItemTitle-color;

        @include listItemTitle;
    }

    .data-label p {
        color: $listItemDesc-color;
        text-transform: $listItemDesc-text-transform;

        @include listItemDesc;
    }
}

.data-wrapper > span.content-data-strong,
.content-data-strong,
.content-data-strong.data-amount {
    font-family: $copyFontFamily;
    font-weight: $light;

    @include fontSize3;
}

.content-data-small .data-desc {
    font-family: $copyFontFamily;

    @include fontSize5;
}

// footer links
.app-footer .legal-nav li a {
    color: $color-ink;
    font-family: $copyFontFamily;
    font-weight: $light;

    @include fontSize5;

    &:hover {
        // color: $color-interactiveShade;
        color: $color-inkHover;
    }

    &:active {
        color: $color-interactive;
        text-decoration: none;
    }

    &:focus {
        color: $color-interactive;

        outline: none;
    }
}

.form-section-title {
    h3 {
        @include formLegend;
    }

    p {
        font-weight: $light;
    }
}

// tags
.table--products .text-muted,
.is-expired .data-tag > span {
    font-weight: $bold;
    text-transform: uppercase;

    @include fontSize5;
}

// success tag
.table--products .text-muted {
    color: $color-semantic-success;
}

.table--products .quiet-label {
    color: $color-semantic-success;
    color: $color-ink;
    text-transform: none;
}

// expired tag
.is-expired .data-tag > span {
    padding: 0;

    color: $color-semantic-danger;

    background-color: transparent;
}

// status tag
.data-tag > span {
    color: $color-semantic-success;

    background-color: transparent;
}

.data-tag-blocked > span {
    background-color: $color-layout;
}

.text-label {
    display: flex;
    align-items: center;

    font-weight: $bold;
    text-transform: uppercase;
}

.text-label.success-label {
    color: $color-semantic-success;

    .svg-wrapper {
        color: inherit;
    }
}

.text-label.danger-label {
    color: $color-semantic-danger;

    .svg-wrapper {
        color: inherit;
    }
}

.text-label.warning-label {
    color: $color-semantic-warning;

    .svg-wrapper {
        color: inherit;
    }
}

.text-label.in-progress-label {
    color: $color-semantic-progress;

    .svg-wrapper {
        color: inherit;
    }
}

// language selector
.theme-auth .check-list {
    .c-control-label {
        padding: 0;

        color: $color-ink;

        @include fontSize3;

        &:hover {
            color: $color-inkOpaque;
        }

        .c-control-mark {
            color: $color-interactive;
        }

        .c-control-mark {
            right: 0;
            left: unset;
        }

        &::before {
            content: none;
        }
    }

    .c-control {
        .c-control-label {
            margin: 0;
        }
    }

    .c-control-input:checked {
        .c-control-label {
            color: $color-inkOpaque;
        }
    }
}

.theme-auth .form-group--scheduler .check-list {
    .c-control-label {
        @include fontSize4;
    }
}

// environment selector
.theme-auth .selection-list {
    .c-control-input:checked ~ .c-control-label {
        color: $color-ink;

        background-color: rgba($color-ink, 0.05);

        .svg-wrapper {
            .icon-stroke-color-a {
                color: $menuItemIcon-stroke-1--active;
            }

            .icon-stroke-color-b {
                color: $menuItemIcon-stroke-2--active;
            }
        }
    }

    .c-control-label {
        color: $color-ink;

        @include fontSize5;

        h4 {
            font-weight: $light;

            @include fontSize5;
        }

        .svg-wrapper {
            color: $menuItemIcon-stroke;
        }

        svg {
            width: 1.5rem;
            height: 1.5rem;
            min-width: 1.5rem;
        }

        &:hover,
        &:focus {
            .svg-wrapper {
                .icon-stroke-color-a {
                    color: $menuItemIcon-stroke-1--active;
                }

                .icon-stroke-color-b {
                    color: $menuItemIcon-stroke-2--active;
                }
            }
        }

        &:hover {
            color: $color-inkOpaque;

            background-color: transparent;
        }

        .c-control-mark {
            color: $color-interactive;
        }

        .c-control-mark,
        &::before {
            right: 0;
            left: unset;
        }
    }
}

.login-background {
    .selection-list {
        .c-control-input:checked ~ .c-control-label {
            color: $color-ink;
            background-color: $color-inkSelected;

            .svg-wrapper {
                .icon-stroke-color-a {
                    color: $menuItemIcon-stroke-1--active;
                }

                .icon-stroke-color-b {
                    color: $menuItemIcon-stroke-2--active;
                }
            }
        }

        .c-control-input:focus ~ .c-control-label {
            box-shadow: 0 0 0 4px rgba($color-interactive, 0.4);
        }

        .c-control-label {
            justify-content: left;

            padding-left: 1rem;
            // color: $color-inkInversed;

            color: $color-ink;

            @include fontSize5;

            h4 {
                font-weight: $light;

                @include fontSize5;
            }

            .svg-wrapper {
                // color: $color-inkInversed;
                color: $color-ink;
            }

            &:hover,
            &:focus {
                .svg-wrapper {
                    .icon-stroke-color-a {
                        color: $menuItemIcon-stroke-1--active;
                    }

                    .icon-stroke-color-b {
                        color: $menuItemIcon-stroke-2--active;
                    }
                }
            }

            &:hover {
                color: $color-inkValue;

                background-color: transparent;
            }

            .c-control-mark {
                color: $color-interactive;
            }
        }

        .c-control {
            margin-top: 1rem;
            margin-bottom: 0;
        }

        .env-disabled {
            opacity: 0.5;

            .c-control-label {
                &:hover {
                    color: $color-ink;

                    background-color: transparent;

                    .icon-stroke-color-a {
                        color: $color-ink;
                    }

                    .icon-stroke-color-b {
                        color: $color-ink;
                    }
                }
            }
        }
    }
    .c-control--switch {
        .c-control-input:focus ~ .c-control-label:not(.c-control--switch) {
            box-shadow: none;
        }
    }
}

// security image description
.security-image {
    p {
        @include textLead;
    }
}

.mailing .message-list li {
    padding-right: 0;
    padding-left: 0;
}

// Button on products featured content
.content-data-item {
    .btn-primary {
        float: right;
    }
}

.dropdown__item > div,
.dropdown__item > .btn.btn-quiet {
    font-weight: $bold;
    text-transform: uppercase;

    @include fontSize6;
}

.dropdown__item > .btn.btn-quiet {
    border: none;
}

// progress bar
.progress-wrapper {
    .progress-label {
        color: $color-inkTranslucent;

        @include fontSize5;
    }

    .progress {
        bottom: -1rem;
        height: 0.75em;

        @include respond-to(mobile) {
            margin: 0 1rem;
            height: 0.25em;
        }
    }
}

.environment-section {
    align-items: center;

    background-color: transparent;

    .data-desc {
        color: $color-inkTranslucent;
    }

    &:hover,
    &:focus {
        .data-desc {
            color: $color-inkOpaque;
        }

        .svg-wrapper {
            .icon-stroke-color-a {
                color: $menuItemIcon-stroke-1--active;
            }

            .icon-stroke-color-b {
                color: $menuItemIcon-stroke-2--active;
            }
        }
    }

    .svg-wrapper:not(.svg-wrapper-right) {
        margin-right: 0.5rem;

        color: $menuItemIcon-stroke;

        &,
        svg {
            width: 1.5rem;
            height: 1.5rem;
        }
    }

    .data-desc {
        @include fontSize5;
    }
}

// coloring list item delete icon
.list-item--deleteable {
    .close--absolute {
        color: $color-interactive;

        &:hover {
            border-color: $color-interactiveShade;

            color: $color-interactiveShade;

            background-color: transparent;
        }

        &:focus {
            border-color: $color-interactive;

            color: $color-interactive;

            box-shadow: 0 0 0 4px rgba($color-interactive, 0.4);
            outline: none;
        }

        &:active {
            border-color: $color-interactiveShade;

            color: $color-interactiveShade;

            box-shadow: 0 0 4px rgba($color: $color-interactive, $alpha: 0.5);
            outline: none;
        }
    }

    .btn-quiet {
        display: block;
        width: 100%;
        flex-direction: unset;
        text-align: left;

        small {
            font-weight: $light;

            @include fontSize5;
        }

        span {
            display: block;

            color: $color-ink;
            font-weight: $light;

            @include fontSize4;

            overflow-wrap: break-word;
            width: calc(100% - 3.5rem);
        }
    }
}

// Column titles on profile hub
.navigational-list-title {
    @include formLegend;
}

.list--permissions,
.navigational-list {
    .navigational-list-item .is-active {
        &.collapsable-button,
        .c-control-label {
            color: $color-inkOpaque;

            background-color: transparent;
        }
    }

    .c-control + span {
        font-weight: $light;
    }
}

// profile links & some admin lists
.list--permissions {
    .navigational-list-item {
        .collapsable-button {
            font-weight: $light;
        }
    }
}

.navigational-list {
    .navigational-list-item {
        font-weight: $light;

        @include fontSize4;

        a {
            padding-left: 0;

            color: $color-ink;

            .svg-wrapper {
                color: $color-interactive;
            }

            &:hover {
                color: $color-inkOpaque;
            }
        }
    }
}

.list-item-hint {
    font-family: $copyFontFamily;

    @include fontSize5;
}

.separator {
    font-weight: $light;

    span {
        font-family: $copyFontFamily;

        background-color: $color-layoutLight;
    }
}

@include respond-to(desktop) {
    .theme-auth .theme-auth .view-page::after {
        background: linear-gradient($color-layoutLight, rgba(255, 255, 255, 0));
    }
}

// app general color
.mailing .message-list li,
.modal-dialog .app-footer,
.theme-auth .app-footer,
.app .app-header .navbar,
.theme-auth .view-header,
.theme-auth .view-header .navbar {
    background-color: $color-layoutLight;
}

.theme-auth .view-header.theme-product-detail,
.theme-auth .navbar.navbar-default {
    background-color: transparent;
}

.theme-auth.enrollment-layout {
    @include respond-to(desktop) {
        .app-footer {
            background-color: white;
        }
    }

    .view-header {
        @include respond-to(desktop) {
            .navbar.navbar-default {
                background-color: $color-layoutLight;
            }
        }

        @include respond-to(mobile) {
            box-shadow: 0 -30px 0 20px $color-layoutLight;
        }
    }
}

// group wizard tabs
.nav-tabs {
    border: none;

    li {
        .tab {
            padding: 1rem 0;

            border: none;
            border-bottom: 2px solid transparent;

            color: $color-ink;
            font-weight: $light;
            text-transform: unset;

            background-color: transparent;

            @include fontSize5;

            &:hover,
            &.is-active {
                border-color: $color-interactive;

                color: $color-inkOpaque;

                background-color: transparent;
            }
        }
    }
}

.navigational-list-subtitle {
    color: $color-inkTranslucent;
    text-transform: uppercase;
}

.panel-title {
    @include fontSize3;
}

.above-the-fold .container--box,
.main-container .panel {
    border-bottom: 1px solid $color-layout;
    border-radius: 0;

    background-color: transparent;
}

.rc-table-fixed-header .rc-table-body {
    background-color: $color-layoutLight;
}

.btn.btn-asLink {
    color: $color-ink;
    font-family: $copyFontFamily;
    font-weight: $light;

    &:hover {
        color: $color-inkHover;
    }

    &:active {
        color: $color-interactive;
        text-decoration: none;

        box-shadow: none;
    }

    &:focus {
        color: $color-interactive;

        box-shadow: none;
        outline: none;
    }
}
.btn.btn-asLink.color-red{
    color: $color-interactive;
    text-decoration: initial;
}

.radio-overdraft{
    margin-top:2rem;
    margin-bottom:2rem;
}
.link-overdraft{
    margin-top:1rem;
}
.accountOpening{
    .overdraft{
        display: none;
    }
}

.list-item--poi button:focus,
.list-item--poi button.isActive {
    background-color: rgba($color-interactive, 0.05);
}

// fields value text style
.react-tagsinput .react-autosuggest__container .react-tagsinput-input,
.Select-menu-outer,
.input-group,
input,
textarea {
    font-family: $copyFontFamily;
    font-weight: $light;
}

.product-detail-commands {
    margin-top: 2rem;
}

.list-item--deleteable .btn-quiet:hover,
.list-item--deleteable .btn-quiet:active,
.list-item--deleteable .btn-quiet:focus {
    color: $color-interactive !important;

    background-color: rgba($color-interactive, 0.05) !important;
}

.form-group--scheduler {
    .scheduler-frequency-suboptions {
        .control-label {
            color: $color-ink;
            font-family: $copyFontFamily;
            font-weight: $light;
            text-transform: initial;
        }
    }

    .scheduler-message {
        font-family: $copyFontFamily;
        font-weight: $light;

        @include fontSize3;
    }
}

// @include respond-to(mobile) {
//     .view-header {
//         background-color: transparent !important;
//     }
// }

.table--products {
    a:not(:last-of-type) {
        .Product {
            // border-bottom: 1px solid $color-inkTranslucent;
            border-bottom: 1px solid $gray-lighter;
        }
    }
}

.color-reference {
    border-top: 0.125rem solid transparent;
}

.table .table {
    background-color: transparent;
}

.btn-circle-bg {
    span:empty {
        display: none;
    }
}

.Product {
    display: flex;
    flex-flow: wrap;

    width: 100%;

    color: $color-ink;

    &.economic-group {
        justify-content: space-between;

        padding-top: 1.5rem;
        padding-bottom: 1.5rem;

        .Product-row {
            flex: inherit;

            &:first-of-type {
                align-self: center;
                flex: 1;
            }
        }

        .data-wrapper {
            display: flex;
            align-items: baseline;
            justify-content: flex-start;

            margin: 0;

            > * {
                flex: inherit;

                margin-right: 0.5rem;
            }
        }
    }

    .Product-label {
        flex: 100%;

        text-align: right;
    }

    .data-amount {
        @include fontSize3;
    }

    .data-label {
        @include fontSize5;
    }

    .data-desc {
        @include fontSize3;
    }

    .data-name {
        flex: 100%;

        font-weight: $light;

        @include fontSize4;
    }

    .Product-row-action {
        .btn {
            margin-left: 1rem;

            &:hover {
                svg {
                    color: $color-inkInversed;
                }
            }

            svg {
                color: $color-interactive;
            }
        }
    }

    .Product-row {
        display: inline-flex;
        flex: 1;
        flex-direction: column;

        margin: 0 0 10px;

        .data-desc {
            display: flex;
            align-items: center;

            .svg-wrapper {
                width: 2.5rem;
                margin-right: 1.125rem;
            }
        }

        p {
            display: block;

            margin: 0;
        }

        &:last-of-type {
            align-items: flex-end;
        }
    }
}

// remove login buttons overlay
.login-splash .container--layout:nth-child(2)::before {
    content: none;
}

@include respond-to(mobile) {
    .view-content {
        width: 100%;
    }
}

// Select multi
.Select--multi .Select-value {
}

.data-name {
    display: flex;
    align-items: center;

    .svg-wrapper {
        width: auto;
        margin-right: 1rem;
    }
}

//
// global notifications
//
.notifications-tc .notification {
    padding: 2rem;
    margin-top: 0;

    color: $color-ink;

    background-color: $color-layout;
}

.notification-error {
    border-left: 2px solid $color-semantic-danger;
}

.notification-success {
    border-left: 2px solid $color-semantic-success;
}

.notifications-wrapper .notification {
    display: flex;
    justify-content: space-between;
}

.notification-dismiss {
    width: 1rem;
    height: 1rem;
    margin-left: 0.5rem;

    color: transparent;
    text-decoration: none;

    background-image: url(../images/cancel_red.svg);
    background-repeat: no-repeat;

    &:hover {
        color: transparent;

        cursor: pointer;
    }
}

.default-layout {
    .notifications-tc {
        padding-left: 17rem;
    }

    .sidebar-collapsed {
        .notifications-tc {
            padding-left: 6rem;
        }
    }
}

@import "forms.scss";

// product field on ticket
.data-wrapper > .newProduct {
    padding: 0;
    margin: 0;

    border: none;

    .data-name {
        margin: 0;
    }
}

// caret icon on tables
a.table-row svg.svg-caret,
.svg-caret {
    width: 1.5rem;
    height: 1.5rem;
    min-width: 1.5rem;
}

// caret icon on pseudo links and collapsibles
.list--permissions .collapsable-button .svg-wrapper,
.list--permissions .collapsable-button .svg-wrapper svg,
.navigational-list .collapsable-button .svg-wrapper,
.navigational-list .collapsable-button .svg-wrapper svg {
    width: 1.5rem;
    height: 1.5rem;
    min-width: 1.5rem;

    color: $color-interactive;
}

// permissions collapsible field
.navigational-list-item .collapsable-button {
    color: $color-ink;
}

// permissions level one field
.navigational-list-item.list-item--noChilds > .c-control:only-child .c-control-label {
    color: $color-ink;
    font-weight: $light;
}

// close button on header mobile position
@include respond-to(mobile) {
    .btn.toolbar-btn {
        font-size: 1.5rem;
    }
}

// fix transfer data on ticket
.transfer-data .data-label {
    padding: 0;
}

// reduce separation between app and page headers
@include respond-to(desktop) {
    .view-header .navbar .navbar-header {
        margin-top: 0;
    }
}

// Tablas en salary payment
.tabs {
    display: flex;

    padding: 0;
    margin-bottom: 3rem;

    list-style: none;

    @include respond-to(desktop) {
        > li + li {
            margin-left: $s;
        }
    }

    li .btn {
        padding: 0.5rem;
    }
}

// nav nav-pills movement-commands
.btn-tab {
    padding-right: 0 !important;
    padding-left: 0 !important;

    border: none;
    border-bottom: 2px solid transparent;
    border-radius: 0;

    color: $tableFilterTabs-color;
    font-weight: $light;
    text-transform: none;

    background-color: transparent;

    @include tableFilterTabs;

    &:focus {
        box-shadow: none;
    }

    &:hover,
    &:focus {
        border-color: $tableFilterTabs-highlight-border-color--hover;

        color: $tableFilterTabs-color !important;

        background-color: transparent;
    }

    &.is-active {
        border-color: $tableFilterTabs-highlight-border-color--active;

        color: $tableFilterTabs-color;

        background-color: transparent;
    }
}

@media (min-width: 860px) and (max-width: 1920px) {
    .app-content .theme-auth {
        padding-left: 2rem;
    }
}

// correccion para pantalla de error
@include respond-to(mobile) {
    .enrollment-layout .app-page {
        background-color: $color-layoutLight;
    }
}

.my-devices-name {
    @include respond-to(mobile) {
        .svg-wrapper svg {
            margin-right: 0.5rem;
        }
        
    }
    .svg-wrapper {
        width: auto;
    }

    .svg-wrapper svg {
        height: 1.5em;
    }
}

.environment-IconName {
    display: flex;
    align-items: center;

    .environment-Icon {
        margin-right: 0.5rem;

        .svg-icon {
            width: 1.5rem;
            height: 1.5rem;
        }
    }
}

.section-disabled {
    opacity: 0.5;
}

.restrictions-warning {
    display: flex;
    align-items: center;

    margin-bottom: 0.5rem;

    color: $brand-warning;

    .svg-wrapper {
        width: auto;
    }

    .svg-icon {
        width: 0.75rem;
        height: 0.75rem;
        min-width: 0.75rem;
        margin-right: 0.5rem;
    }
}

.col-User {
    display: flex;
    align-items: baseline;

    .btn {
        margin-left: 1rem;
    }

    .btn-quiet {
        align-self: center;

        margin: 0.125rem 0 0.5rem 1rem;

        text-transform: uppercase;
    }
}

.environtment-disabled-message {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 0.5rem;

    color: $color-semantic-danger;
    font-size: 0.75em;

    .svg-wrapper {
        width: auto;
        margin-right: 0.25rem;
    }

    .svg-icon {
        width: 0.75rem;
        height: 0.75rem;
        min-width: 0.75rem;
        //margin-right: 0.5rem;
    }
}

// Transformation
.text-lowercase {
    text-transform: lowercase;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.restriction-ip-section .tagsClass {
    background-color: transparent;

    cursor: default;
}

.restrictions-save-cancel-btns {
    margin-top: 2rem;
}

.header-dropdown-button.btn {
    padding: 0.75rem 0.25rem 1rem 0.25rem;

    margin-right: 1rem;

    border-radius: 0.25rem;
    border: 0;

    color: $color-ink;
    font-family: $helveticaNeue;
    font-weight: $light;
    line-height: 1;
    text-transform: none;

    background-color: transparent;

    @include fontSize5;

    .svg-icon,
    svg {
        width: 1.5rem;
        height: 1.5rem;
    }

    &:hover,
    &:focus {
        .icon-stroke-color-a {
            stroke: $color-interactive;
        }

        .icon-stroke-color-b {
            stroke: $color-interactiveShade;
        }
    }
    &:hover {
        color: $color-inkHover;
    }
}

.header-dropdown-item.btn {
    border-radius: 0;

    color: $color-ink;
    font-family: $helveticaNeue;
    font-weight: $light;
    line-height: 1.125;
    text-transform: none;

    background-color: transparent;

    @include fontSize5;

    .svg-icon,
    svg {
        width: 1.5rem;
        height: 1.5rem;
    }

    &:hover,
    &:focus {
        color: $color-ink;

        .icon-stroke-color-a {
            stroke: $color-interactive;
        }

        .icon-stroke-color-b {
            stroke: $color-interactiveShade;
        }
    }
}

.paperless-item {
    display: flex;
    .Product {
        cursor: pointer;
    }
    .Product .data-desc {
        font-size: 1.2rem;
    }
    .table-row {
        padding: 0 !important;
    }
    .paperless-label {
        width: 100%;
    }
}

.pending-actions {

    .illustration-text {

        text-align: center;

        h1 {
            font-size: 1.33em;
        }

        p:nth-child(2) {
            font-size: 1em;
        }
    }

    .centered {
        margin: 0 auto;
    }
    
    .text-centered {
        text-align: center;
    }

    .pending-actions-item {
        border-bottom: 1px solid #d8d7da;
        width: 100%;
        margin: auto;

        p {
            text-align: left;
            strong {
                color: $brand-info;
            }
        }

        h5, h6 {
            text-align: left;
            strong {
                color: $brand-info;
            }
        }

        .svg-wrapper {
            color: $brand-info;
        }
        .table-data {
            border-bottom:none;
        }
        cursor: pointer;
    }
}