.login-desktop-wrapper {
    > .row {
        flex-direction: column;

        min-height: 100%;

        > .col {
            flex: 1;
        }
    }
}

.login-background .view-page {
    .view-content {
        align-self: center;
    }
}

.login-background {
    @include respond-to(desktop) {
        .panel.login-desktop-wrapper {
            // background-color: transparentize($color-inkOpaque, 0.25);
            background-color: $color-inkInversed;
        }

        .justify-content-center {
            justify-content: initial;

            > .svg-wrapper {
                justify-content: unset;

                width: 50%;
                padding: 0 1rem;
                margin-bottom: 2rem;
            }
        }

        .text-lead,
        .view-title {
            text-align: left;
        }
        h2 span {
            &:focus {
                outline: none;
                box-shadow: 0 0 0 4px rgba($color-interactive, 0.4);
                border-radius: 0.25rem;
            }
        }
    }

    @include respond-to(mobile) {
        .app-header .navbar,
        .view-header .navbar {
            padding: 0;
            .container-fluid {
                padding: 0;
            }
        }
    }
    .view-wrapper {
        background-color: $color-inkInversed;
    }

    .app-header .navbar,
    .view-header .navbar {
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .app > .container--layout {
        justify-content: flex-end;

        padding: 0;
        margin: 0;

        .col-lg-6,
        .col-6 {
            flex: 0 0 100%;

            max-width: 100%;
        }

        .panel.login-desktop-wrapper {
            min-height: 100vh;
            margin: 0;

            border-radius: 0;

            @include respond-to(lg) {
                width: 37.5%;
                padding-right: 6rem;
                padding-left: 6rem;
            }
            @include respond-to(md) {
                width: 50%;
                padding-right: 5rem;
                padding-left: 5rem;
            }
            @include respond-to(sm) {
                width: 62.5%;
                padding-right: 4rem;
                padding-left: 4rem;
            }
        }
    }

    .toolbar-item--fixed {
        padding: 0;

        .toolbar-btn {
            border: none;

            > span {
                @include visually-hidden;
            }
        }
    }

    .app-footer {
        margin-top: 2rem;

        .legal-nav li a {
            // color: $color-inkInversed;
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    .app a,
    .view-wrapper a {
        padding: 0.25rem;

        // color: $color-inkInversedOpaque;
        color: $color-ink;
        text-decoration: underline;

        outline: none;

        &:hover {
            border-radius: 100px;

            text-decoration: underline;

            color: $color-inkHover;
        }

        &:active {
            text-decoration: none;
            color: $color-interactive;
        }

        &:focus {
            color: $color-interactive;
            outline: none;
        }
    }

    .container--layout .container--layout:last-child {
        background-color: transparent;
    }

    .main-container {
        padding: 0;
    }

    h2 span {
        &:focus {
            outline: none;
            box-shadow: 0 0 0 4px rgba($color-interactive, 0.4);
            border-radius: 0.25rem;
            padding: 0 1rem;
        }
    }
    .footer--mobile {
        display: flex;
        justify-content: center;

        a {
            padding-left: 0.5rem;
            padding-right: 0.5rem;

            .svg-wrapper {
                padding-right: 0.25rem;
                width: 24px;
            }
        }
    }
}
.region-relection {
    .two-columns {
        flex: 0 0 50%;
        max-width: 50%;
    }
}
.container--layout-regions {
    padding: 0.5rem !important;
}
