// TODO: this is so bad, it to make the grid full width
.table-body--grid {
    .col.col-md-6 {
        flex-basis: 100%;

        width: 100%;
        max-width: 100%;

        &:last-of-type {
            .newProduct {
                border: none;
            }
        }
    }

    .newProduct {
        display: flex;
        flex-direction: row;

        padding-right: 0;
        padding-left: 0;

        border-bottom: 1px solid $color-layoutDark;
        border-radius: 0;

        background-color: transparent;

        @include respond-to(desktop) {
            .newProduct-row {
                align-items: center;

                max-width: 50%;
                margin: 0;

                &:not(.newProduct-row--header) {
                    align-items: center;
                }

                &:only-child {
                    max-width: 100%;
                }
            }
        }
    }
}

.account-sobregiro-label {
    top: unset;
    right: 1rem;
    bottom: 5rem;

    @include respond-to(mobile) {
        bottom: 4rem;
    }
}

// product box

.table--products {
    a.col {
        &:last-child .newProduct {
            border-bottom: none;
        }
    }
}

.newProduct {
    padding-right: 0;
    padding-left: 0;

    border-bottom: 1px solid $color-layoutDark;
    border-radius: 0;

    background-color: transparent;

    &.is-expired {
        background-color: transparent;
    }

    .data-name {
        color: $color-ink;

        @include productBoxName;
    }
}

.widget > .newProduct {
    border: none;
}

.newProduct-cell {
    > [class*=" data-"],
    > [class^="data-"],
    > .svg-wrapper {
        padding: 0;
    }
}

.table-data {
    &:first-of-type {
        padding-left: 0.5rem;
    }

    &:last-of-type {
        padding-right: 0.5rem;
        justify-content: stretch;
        @include respond-to(mobile) {
            padding-right: 0.25rem;
        }
    }
}

.newProduct-cell > [class*=" data-"],
.newProduct-cell > [class^="data-"] {
    color: $color-ink;

    @include productBoxDesc;

    &.data-name {
        color: $color-ink;

        @include productBoxName;
    }

    &.data-label {
        color: $color-inkTranslucent;

        @include fieldLabel;
    }

    &.data-product {
        color: $color-ink;

        @include productBoxName;

        > span {
            > span {
                color: $color-inkTranslucent;

                @include fieldLabel;
            }
        }
    }
}

.widget {
    .newProduct-cell .data-product {
        color: $color-inkTranslucent;

        @include fieldLabel;

        .data-desc {
            color: $color-ink;

            @include productBoxName;
        }
    }
}
