/*
   Sidebar & Main Menu
   ========================================================================== */

.app-sidebar {
    border: none;

    background-color: transparent;
}

// sideMenu (mobile)
.view-header .navbar-default .navbar-collapse,
.view-header .navbar-default .navbar-form {
    background-color: transparent;
}

// Sidebar
.toggle-menu-button,
.menu-list .menu-list-item > a,
.menu-list .menu-list-item > span {
    @include menuItemLabel;
}

// MenuItems labels
.menu-list .menu-list-item > a {
    > span {
        color: $menuItemLabel-color;
    }

    &:hover,
    &:focus {
        > span {
            color: $menuItemLabel-color--active;
        }
    }

    // MenuItems icons

    .svg-wrapper {
        color: $menuItemIcon-stroke;
    }

    &:hover,
    &:focus {
        .svg-wrapper {
            .icon-stroke-color-a {
                color: $menuItemIcon-stroke-1--active;
            }

            .icon-stroke-color-b {
                color: $menuItemIcon-stroke-2--active;
            }
        }
    }
}

// First level items
.toggle-menu-button,
.menu-list .menu-list-item {
    border: none;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus,
.toggle-menu-button:hover,
.toggle-menu-button:focus,
.menu-list .menu-list-item > a:hover,
.menu-list .menu-list-item > a:focus {
    background-color: transparent;
}

// Second level
.menu-list .dropdown.open .dropdown-menu li > a,
.menu-list .dropdown.open .dropdown-menu li > span {
    color: $menuItemLabel-color;

    background-color: transparent;

    @include menuItemLabel;
}

// secondLevel ---

// Second level item - hover
.menu-list .menu-list-item .menu-list-item span:hover,
.menu-list .dropdown.open .dropdown-menu li > a:hover,
.menu-list .dropdown.open .dropdown-menu li > span:hover {
    color: $menuItemLabel-color--active;

    background-color: transparent;
}

// Second level item (that´s a first level route)
.menu-list .menu-list-item .menu-list-item span {
    color: $menuItemLabel-color;
}

.menu-list .dropdown.open .dropdown-menu li {
    border: none;
}

// menuItems opened (mobile)
.view-header .navbar-default .navbar-nav > li.open > a {
    background-color: transparent;
}

// toggleMenuButton
.toggle-menu-button {
    color: $menuItemLabel-color;
    text-align: left;

    .svg-wrapper {
        color: $menuItemIcon-stroke;
    }

    &:hover,
    &:focus {
        color: $menuItemLabel-color--active;

        .svg-wrapper {
            color: $menuItemIcon-stroke-1--active;
        }
    }
}

// environmentLink (mobile)
.environment-section {
    color: $color-interactive;
}

.menu-list .svg-wrapper {
    width: 1.5em;
    margin-right: 0.5em;

    svg {
        width: 1.5em;
        height: 1.5em;
    }
}

// app version
.app-version {
    color: $color-ink;
    font-family: $copyFontFamily;
    font-weight: $light;

    @include fontSize6;
}