.enrollment-layout {
    .enrollmentSteps {
        padding-left: 2rem;
        margin: 0.375em 0 1.25rem 0;

        li {
            margin-bottom: 1.25rem;

            color: $color-inkTranslucent;

            list-style: none;

            @include fontSize4;

            &.active {
                color: $color-interactive;
            }

            &.done {
                color: $color-ink;
            }
        }

        li.active {
            list-style: decimal-leading-zero;
        }
    }

    .enrollmentSteps-mobile {
        margin-top: 26px;

        border-bottom: 1px solid $color-inkTranslucent;

        .active {
            width: 18%;
            height: 8px;
            margin-top: -3px;
            margin-bottom: 0;

            border-radius: 5px;

            background-color: #c30000;

            &.step1 {
                position: absolute;
                left: 1rem;
            }

            &.step2 {
                position: absolute;
                left: calc(20% - 10%);
            }

            &.step3 {
                position: absolute;
                left: calc(28% - 10%);
            }

            &.step4 {
                position: absolute;
                left: calc(36% - 10%);
            }

            &.step5 {
                position: absolute;
                left: calc(44% - 10%);
            }

            &.step6 {
                position: absolute;
                left: calc(53% - 10%);
            }

            &.step7 {
                position: absolute;
                left: calc(61% - 10%);
            }

            &.step8 {
                position: absolute;
                left: calc(70% - 10%);
            }

            &.step9 {
                position: absolute;
                left: calc(80% - 10%);
            }

            &.step10 {
                position: absolute;
                left: calc(85% - 10%);
            }

            &.step11 {
                position: absolute;
                right: 1rem;
            }
        }

        .active-no-ob {
            width: 25%;
            height: 8px;
            margin-top: -3px;
            margin-bottom: 0;

            border-radius: 5px;

            background-color: #c30000;

            &.step1 {
                position: absolute;
                left: 1rem;
            }

            &.step2 {
                position: absolute;
                left: calc(30% - 10%);
            }

            &.step3 {
                position: absolute;
                left: calc(50% - 10%);
            }

            &.step4 {
                position: absolute;
                left: calc(60% - 10%);
            }

            &.step5 {
                position: absolute;
                right: 1rem;
            }
        }

        li {
            text-align: center;

            list-style: none;

            span {
                position: relative;
                top: -26px;

                width: 100%;

                color: $color-ink;
                font-size: 0.9rem;
                font-weight: lighter;
            }
        }
    }

    .newEnrollmentSteps-mobile {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 0;
        margin: 1rem 0 0 0;

        > li {
            flex: 1;

            min-height: 2px;

            background-color: $color-inkTranslucent;

            list-style: none;
            &:first-child {
                &.active {
                    margin-left: 1rem;
                }
            }
            &:last-child {
                &.active {
                    margin-right: 1rem;
                }
            }
            &.active {
                max-width: 2rem;
                min-height: 1rem;

                text-align: center;

                background-color: transparent;

                transform: translate3d(0rem, -1rem, 0);
                list-style: decimal-leading-zero inside;

                &::before {
                    position: absolute;

                    display: block;

                    width: 4rem;
                    height: 0.625rem;

                    border-radius: 1rem;

                    content: "";

                    background-color: $color-interactive;

                    transform: translateX(-1rem);
                }
                // &::before {
                //     position: relative;

                //     display: block;

                //     content: "";

                //     background-color: $color-interactive;
                // }
            }

            &.done {
                background-color: $color-ink;
            }
        }
    }
}
