// ==========================================================================
// table
// ==========================================================================

// table caret
a.table-row .svg-wrapper .svg-caret {
    color: $color-interactive;
}

a.table-row .svg-wrapper {
    color: $color-ink;
}

.table-row:last-child {
    .table-data {
        border: none;
    }
}

.table-body a {
    &:hover,
    &:focus {
        background-color: rgba($color-interactive, 0.05);
    }
    &:active {
        background-color: rgba($color-interactive, 0.08);
    }
}

.table-end + span {
    font-family: $copyFontFamily;
    font-weight: $light;
}

// table legend
.table-legend {
    width: 100%;

    @include tableLegend;

    &:empty {
        display: none;
    }
}

// table data head
.rc-table th,
.table .table-data-head {
    color: $color-inkTranslucent;

    @include tableDataHead;
}

.table-data,
.table-data [class*="data-"] {
    font-family: $copyFontFamily;
    font-weight: $light;

    @include fontSize5;

    &.data-label {
        font-weight: $bold;
    }

    .data-amount-currency {
        @include fontSize5;
    }
}

.table-data,
.table-data .data-name {
    font-family: $copyFontFamily;
    font-weight: $light;

    @include fontSize4;
}

.table--products .table-data .data-amount {
    font-weight: $light;

    @include fontSize3;
}

// table data
// .table .table-data [class*="data-"],
.rc-table-tbody {
    @include tableData;

    &.data-label {
        font-weight: $fieldLabel-font-weight;
    }
}

.rc-table tr:hover {
    background: transparentize($color: $color-interactive, $amount: 0.95);
}

.rc-table tr.rc-table-row-hover {
    background: transparentize($color: $color-interactive, $amount: 0.95);
}

// table filter tabs
.nav-pills.movement-commands li {
    .btn {
        padding-right: 0 !important;
        padding-left: 0 !important;

        border: none;
        border-bottom: 2px solid transparent;
        border-radius: 0;

        color: $tableFilterTabs-color;

        @include tableFilterTabs;

        &:hover {
            border-color: $tableFilterTabs-highlight-border-color--hover;

            color: $tableFilterTabs-color !important;

            background-color: transparent;
        }

        &.is-active {
            border-color: $tableFilterTabs-highlight-border-color--active;

            color: $tableFilterTabs-color;

            background-color: transparent;
        }
    }
}

.table-data.data-label,
.table-data [class*="data-"].data-label {
    color: $color-inkTranslucent;
}

.rc-table-row {
    .data-wrapper > span {
        @include fontSize5;
    }
}
.rc-table .rc-table-row.clicked {
    background-color: transparentize($color: $color-interactive, $amount: 0.95);
}
