// Widgets

// transactions widget
a.table-row .table-data {
    color: $color-ink;
}

// widget loader indicators
.widget-preloader {
    color: $widgetLoadingIndicator-color;
}

// productBox (table) widgets
.table--products .table-row {
    .table-data {
        border-bottom: 1px solid $color-layout;

        color: $color-ink;

        &:first-child {
            padding-left: 0;

            border-radius: 0;

            [class*="data-"] {
                padding-left: 0;
            }
        }

        &:last-child {
            padding-right: 0;

            border-radius: 0;

            [class*="data-"] {
                padding-right: 0;
            }
        }
    }
}

.table--products .table-row .table-row:last-of-type {
    .table-data {
        border-bottom: none;
    }
}

.draggable-list__item-container .widget,
.widget {
    padding: 0 1rem;
    margin-right: -1rem;
    margin-left: -1rem;

    .flex-container {
        padding-top: 2rem;

        border-top: 1px solid $color-layoutDarkest;
    }
}

.draggable-list__item-container .widget h3 {
    padding: 0;
}

.widget--exchangeRates {
    span.data-name,
    .data-wrapper .data-amount {
        font-size: $desktopSize-3;

        @include respond-to(mobile) {
            font-size: $mobileSize-3;
        }
    }
}

.widget--portfolio {
    .chart,
    .empty {
        cursor: default;
    }

    ul {
        width: 100%;
        padding-left: 0;

        cursor: default;
    }

    .portfolio-item {
        .data-title {
            padding-right: 1.125rem;

            color: $color-inkTranslucent;
            font-weight: $bold;
            text-transform: uppercase;

            @include fontSize5;
        }

        .data-aux {
            font-size: $desktopSize-5;
            text-transform: uppercase;
        }

        .data-amount {
            font-size: $desktopSize-3;

            @include respond-to(mobile) {
                font-size: $mobileSize-3;
            }
        }
    }

    .data-chart {
        small {
            color: $color-inkTranslucent;
            font-size: $desktopSize-5;
            text-transform: uppercase;

            @include respond-to(mobile) {
                font-size: $mobileSize-5;
            }
        }

        .amount .data-amount {
            font-size: $desktopSize-3;

            @include respond-to(mobile) {
                font-size: $mobileSize-3;
            }
        }

        .products {
            font-family: $helveticaNeue;
            font-size: $desktopSize-5;
            font-weight: $light;
            text-transform: uppercase;

            @include respond-to(mobile) {
                font-size: $mobileSize-5;
            }
        }
    }
}

.widget--portfolio .portfolio-item {
    padding: 0;
    padding: 0.5rem;
    margin-bottom: 1rem;

    border-radius: 0;
    border-radius: 4px;

    color: $color-ink;

    &:last-child {
        margin-bottom: 0;
    }



    &:hover,
    &:focus {
        background-color: rgba($color-interactive, 0.05);
    }

    &:disabled,
    &[disabled] {
        background-color: transparent;
    }

    &.liquidity {
        .flex-container_portfolio-Items {
            border-top: 0.125rem solid map-get($color-alternative, airForceBlue);

            color: $color-ink;

            background-color: transparent; //map-get($color-alternative, airForceBlue);


            &:hover,
            &:focus {
                border-color: darken(map-get($color-alternative, airForceBlue), 10%);

                background-color: transparent; //darken(map-get($color-alternative, airForceBlue), 5%);
            }
        }
    }

    &.fixedIncomes {
        .flex-container_portfolio-Items {
            border-top: 0.125rem solid map-get($color-alternative, selectiveYellow);

            color: $color-ink;

            background-color: transparent; //map-get($color-alternative, selectiveYellow);

            &:hover,
            &:focus {
                border-color: darken(map-get($color-alternative, selectiveYellow), 5%);

                background-color: transparent; //darken(map-get($color-alternative, selectiveYellow), 5%);
            }
        }
    }

    &.variableIncomes {
        .flex-container_portfolio-Items {
            border-top: 0.125rem solid map-get($color-alternative, paleAqua);

            color: $color-ink;

            background-color: transparent; //map-get($color-alternative, paleAqua);

            &:hover,
            &:focus {
                border-color: darken(map-get($color-alternative, paleAqua), 5%);

                background-color: transparent; //darken(map-get($color-alternative, paleAqua), 5%);
            }
        }
    }

    &.others {
        .flex-container_portfolio-Items {
            border-top: 0.125rem solid map-get($color-alternative, rossoCorsa);

            color: $color-ink;

            background-color: transparent; //map-get($color-alternative, rossoCorsa);

            &:hover,
            &:focus {
                border-color: darken(map-get($color-alternative, rossoCorsa), 5%);

                background-color: transparent; //darken(map-get($color-alternative, rossoCorsa), 5%);
            }
        }
    }

    &.empty {
        .flex-container_portfolio-Items {
            border-top: 0.125rem solid $color-layout;

            color: $color-inkTranslucent;

            background-color: transparent; //$color-layout;

            &:hover,
            &:focus {
                border-color: $color-layout;

                color: $color-inkTranslucent;

                background-color: transparent; //darken($color-layout, 5%);
            }
        }

        &:hover,
        &:focus {
            box-shadow: none;
        }
    }
}

.widget .widget__title,
.widget h3 {
    padding: 0;

    border-radius: 0;

    background-color: transparent;

    @include widgetTitle;
}