.chatbot-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chatbot-messages-container {
    flex-grow: 1;
    min-height: 0;
    height: 100%;
}

.chatbot-bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: #c30000;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 5px 1px;
}