.dropdown {
    position: relative;
    z-index: 100;

    will-change: transform;
}

.menu-list .dropdown__menu {
    position: static;
}
.dropdown__menu {
    box-sizing: content-box;
    position: absolute;
    top: 110%;
    left: 0;
    z-index: 1000;

    min-width: 250px;
    padding: 0;

    border: 1px solid $dropdown-menu--border-color;
    border-radius: 0.5rem;

    font-size: 10px;

    background-color: $dropdown-menu--background-color;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.175);

    list-style: none;
    // border-top: 1px solid $dropdown-menu--border-color !important;

    &--right {
        right: 0;
        left: auto;
    }
}

.dropdown__item {
    box-sizing: content-box;

    margin-right: 0 !important;
    margin-left: 0 !important;

    border-bottom: 1px solid $dropdown-menu-item--border-color;

    @include respond-to(mobile) {
        &:first-child {
            border-top: 1px solid $dropdown-menu--border-color;
        }
    }
    @include respond-to(desktop) {
        &:last-child {
            border-bottom: none;
        }
    }

    > div,
    > .btn.btn-quiet {
        display: block;

        padding: 0 !important;
        padding: 0.8rem !important;

        border-radius: 0;

        color: $brand-info;
        font-family: $font-family-base;
        font-size: 0.875rem;
        font-weight: normal;
        text-align: left;

        &:hover {
            color: white;

            background-color: $brand-info;
        }
    }

    .btn {
        span {
            display: block;

            font-family: $helveticaNeue;
            font-family: $font-family-base;
            text-align: left;
        }
    }
}

.dropdown .dropdown__menu .dropdown__item .dropdown__item-btn.btn.btn-link {
    justify-content: start;

    width: 100%;
    margin-top: 0;

    border-radius: 0;
    &:focus {
        border-bottom: solid 4px rgba($color-interactive, 0.4);

        background-color: $color-inkSelected;
        box-shadow: none;
    }
}
