$menu-list-item-badge--background-color: $brand-info;

.navbar-header .header-command-pallette > li > a {
    padding-bottom: 0.375rem;
}

.header-command-pallette {
    margin-top: 0.5rem;
    .caret {
        display: none;
    }

    li a {
        display: flex;
        align-items: center;
        flex-direction: column;

        color: $color-ink;

        text-decoration: none;

        .rounder-content {
            position: relative;

            flex-basis: initial;

            margin-bottom: 0.375rem;

            color: $header-command-icon--color;

            em {
                line-height: 3rem;
            }
        }

        > span {
            color: $header-command--color;
            font-family: $headings-font-family;
            font-size: 0.875rem;

            &:hover {
                color: $color-inkHover;
            }
        }

        &:hover {
            color: $color-inkHover;
        }

        &:active {
            color: $color-interactive;
            text-decoration: none;
        }
    }

    .dropdown {
        text-align: center;

        &.open .rounder-content {
            color: $header-command-icon-active--color;

            background-color: $header-command-icon-active--background-color;
        }

        li a > span {
            color: $gray-darker; //?? donde aplica esto
            font-family: sans-serif;
        }
    }

    .rounder-content:hover {
        background-color: $header-command-icon-active--background-color;
    }

    .dropdown.open .corp-icon .class-1 {
        stroke: $brand-color-base;
    }

    .corp-icon:hover .fill-icon-body,
    .dropdown.open .corp-icon .fill-icon-body {
        fill: #c4e8f2;
        stroke: $brand-primary;
    }

    .corp-icon:hover .fill-icon-button,
    .dropdown.open .corp-icon .fill-icon-button {
        fill: $header-command-icon-active--background-color;
        stroke: $brand-primary;
    }

    > .dropdown-header.open {
        > a {
            &,
            &:hover,
            &:focus {
                background-color: transparent;
            }
        }
    }

    .dropdown-menu {
        position: absolute;
        z-index: 1;

        border: 2px solid $header-dropdown--border-color;
        border-radius: 5px;

        box-shadow: none;

        a {
            display: inline-block;
            /* Se hace este cambio que afecta al link del dropdow del perfil*/
        }
    }

    .popup-panel .data-desc {
        a {
            text-decoration: underline;
        }
    }
}

.dropdown-menu .st0 {
    stroke: $brand-info;
}

.dropdown-menu .menu-list-item {
    a,
    span {
        &:hover .st0 {
            stroke: white;
        }
    }
}

.svg-stroke-color {
    stroke: $brand-primary;
}

.rounder-content {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 3rem;
    height: 3rem;

    border-radius: 50%;

    color: $gray-dark;

    background-color: $header-command-icon--background-color;

    .svg-wrapper {
        padding: 0.625rem;
    }
}

// redisenar este componente con flex
.dropdown-inHeader {
    .dropdown-menu {
        top: 5.5rem;
        right: 1rem;

        width: 320px;

        border-radius: 5px !important;

        color: $gray-darker;

        .svg-wrapper {
            width: 1.625rem;
        }
    }

    &:not(.dropdown-inHeader-list) .dropdown-menu {
        padding: 1rem;
    }
}

.menu-list .menu-list-item {
    > a.with-badge,
    > span.with-badge {
        padding: 0.75em 3.5em 0.75em 3.5rem;
    }

    .badge {
        top: initial;
        right: 1rem;
        bottom: initial;
        left: initial;

        background-color: $menu-list-item-badge--background-color;
    }
}

// badge in inHeader buttons
.badge {
    position: absolute;
    top: -0.75rem;
    right: -0.75rem;
    z-index: 2;

    height: 1.125rem;
    min-width: 1.5rem;
    padding: 0.125rem;

    border-radius: 1.5rem;

    line-height: 0.875rem;

    background-color: $communications-badge--background-color;

    @include when-inside(".toolbar-btn") {
        position: absolute;

        span {
            position: initial;
        }
    }
    @include respond-to(mobile) {
        right: -0.6rem;

        span {
            padding: 0;

            font-size: 0.75rem;
        }
    }

    span {
        top: 0;
        left: 0;

        width: 100%;
        padding: 0.25rem;

        color: $communications-badge--color;
        font-size: 0.75rem;
        line-height: 0.875rem;
        text-align: center;
    }
}

$menu-list-item--color: $brand-info;
$menu-list-item--color--hover: white;
$menu-list-item--color--active: white;
$menu-list-item--background-color--hover: $menu-list-item--color;
$menu-list-item--background-color--active: $brand-primary;

.dropdown-inHeader-list {
    .dropdown-menu {
        padding: 0 ($s / 2);
    }

    .menu-list-item {
        margin: ($s / 2) 0;

        a,
        > span {
            position: relative;

            display: flex;
            align-items: inherit;
            flex-direction: column;
            justify-content: center;

            width: 100%;
            min-height: 3rem;
            padding-right: 0;
            padding-right: 1rem;
            padding-left: 2.5em;

            border-radius: 5px;

            color: $menu-list-item--color;
            font-size: 1.25rem;
            text-align: left;

            &:hover {
                color: $menu-list-item--color--hover;

                background-color: $menu-list-item--background-color--hover;
            }

            &:focus,
            &.is-selected {
                color: $menu-list-item--color--active;

                background-color: $menu-list-item--background-color--active;
            }

            span {
                color: inherit !important;
                font-family: $headings-font-family;
                font-size: 1rem;
            }

            .svg-wrapper {
                position: absolute;
                left: 0.75rem;

                width: 1.25em;
                margin-right: 0.5em;
            }
        }
    }
}
