/*
 * IMAGE CONTROL
 */

.image-control {
    margin-bottom: 0.5rem;
    position: relative;

    .glyphicon {
        height: 2em;
        line-height: 2em;
        width: 2em;
        font-size: 1.5rem;
        text-align: center;
        z-index: 1;
        transition: color 0.3s ease;

        &::before {
            transform: scale(4);
        }
    }
}

.image-control-input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.image-control-input:focus ~ .image-control-label {
    &::before {
        border-color: $brand-color-secondary;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    }
}

.image-control-label {
    text-align: center;
    position: relative;
    width: 100%;
    will-change: transform;
    font-weight: normal;
    margin-bottom: 0;

    display: inline-flex;
    flex-direction: column;
    align-items: center;

    &:hover {
        cursor: pointer;
    }
}
