//Still not being used. Planned for form image upload (?)
$image-field--color: $gray-darker;
$image-field--background:  white;
$image-field--border: $gray-lighter;

.image-fieldd {
    display: block;
    width: 100%;
    min-height: 1rem;
    font-size: 1.25rem;
    line-height: 1.4;
    color: $image-field-color;
    background-color: $image-field--background;
    background-image: none;
    border: 1px solid $image-field--border;
    border-radius: 5px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    position: relative;
    padding: 0;
    padding-top: 67.5%;
    overflow: hidden;

    img {
        position: absolute;
        top: 0;
        left: 0;
    }
}

.image-field--has-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
