$maps-light-color: $brand-color-element;
$maps-primary-color: $brand-color-base;
$maps-space-s: $s;

.sucursales {
    .slideFromBottom {
        @media (max-width: 859px) {
            .Select-option.is-focused {
                padding: 1rem 0rem 0rem 1rem;

                background-color: rgba(0, 0, 0, 0.1);
            }

            .Select-option {
                padding: 1rem 0rem 0rem 1rem;
            }
        }
    }

    &--title-sucursal {
        width: 100%;
        margin-bottom: $maps-space-s;

        background-color: #ffffff;

        h3 {
            width: 100%;
            padding: 0.5rem 1rem;
            margin-top: 0;

            border-radius: 5px;

            color: $maps-primary-color;
            color: grey;
            font-size: 1.125rem;
            font-weight: 500;
            text-transform: capitalize;

            background-color: $maps-light-color;
        }

        @media (max-width: 859px) {
            h3 {
                padding: 0.5rem 0rem;
                margin-top: 10px;

                background-color: transparent;
            }
        }
    }

    @media (max-width: 859px) {
        &--title-sucursal {
            display: flex;
            align-items: center;
        }
    }

    &--list {
        overflow: scroll;

        display: flex;
        flex-direction: column;

        max-height: 500px;
        min-height: 500px;
        padding: 0;

        border: 1px solid $maps-light-color;
    }

    @media (max-width: 859px) {
        &--list {
            position: fixed;
            overflow: unset;

            display: block;

            min-height: 0;

            border: 0 solid #efedf7;
            border-radius: 5px 5px 0 0;

            background: #ffffff;

            transition: all 0.2s linear;
        }
    }

    &--list-filter {
        display: flex;

        min-height: 64px;

        border-bottom: 1px solid $maps-light-color;

        > div:first-child {
            width: 40px;
            height: 40px;
            margin: auto 0;

            //Checkbox Size
            .svg-wrapper {
                .svg-icon {
                    width: 2rem;
                    height: 2rem;
                    min-width: 2rem;

                    fill: $maps-primary-color;
                }

                @media (max-width: 859px) {
                    .svg-icon {
                        width: 0.75rem;
                        min-width: 0.75rem;
                    }
                }
            }
        }

        > div:last-child {
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: flex-end;

            height: 40px;
            margin: auto 0;

            .c-control-block {
                width: 25%;
            }
        }

        @media (max-width: 859px) {
            > div:last-child .c-control-block {
                width: 100%;

                text-align: center;
            }

            > div:last-child {
                justify-content: space-around;
            }

            > div:first-child {
                width: 100%;
            }
        }
    }

    &--list-item {
        p {
            margin-top: 0;
            margin-bottom: 0;
        }

        strong {
            color: grey;
            font-size: 12px;
        }

        > div {
            display: flex;

            text-decoration: none;

            &:hover {
                background: #f9f9f9;
            }

            > div {
                display: flex;

                width: 100%;
                min-height: 80px;

                border-bottom: 1px solid $maps-light-color;

                > div:first-child {
                    width: 60px;
                    height: 60px;
                    margin: 8px;

                    border-radius: 5px;

                    background: $maps-light-color;
                }

                > div:last-child {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    width: 100%;
                    padding: 0 0.65rem;

                    p:first-child {
                        color: grey;
                        font-size: 1.25rem;
                        font-weight: $bold;
                        text-decoration: none;
                    }

                    p:last-child {
                        font-size: 0.65rem;
                    }
                }
            }
        }
    }

    &--list-item-mobile {
        p {
            color: $maps-primary-color;
            font-size: 1.2rem;
        }
    }

    > div:last-child {
        padding-right: 0;
    }

    &--maps {
        position: relative;

        max-height: 500px;
        min-height: 500px;
        padding: $maps-space-s;

        background: $maps-light-color;

        .googleMap {
            position: relative;

            display: flex;

            > div {
                overflow: hidden;

                min-height: 200px;
                padding: 0;

                border-radius: 5px;

                box-shadow: 0 2px 14px 4px #d6d6d6;

                > div {
                    min-height: 170px;
                }
            }
        }

        @media (max-width: 859px) {
            max-height: 100%;
            // Map 100%
            min-height: 100%;
            // Map without margins
            padding: 0rem;

            .googleMap {
                position: initial;

                height: auto;
            }

            .buttons--maps .btn-block + .btn-block {
                margin-top: 5px;
            }

            .buttons--maps .btn {
                margin-right: 5px;
            }
        }
    }

    @media (max-width: 859px) {
        //Show Collapsed Menu with Animation
        .show-sucursales--list {
            bottom: 0 !important;

            transition: all 0.2s linear;
        }

        // Select at 100%
        .form-group-row {
            display: block;
        }
    }

    // Top Map Buttons
    &--maps {
        .buttons--maps {
            position: absolute;
            right: 20px;
            bottom: 30px;
        }
    }

    @media (max-width: 859px) {
        // Top Map Buttons Mobile
        &--maps {
            .buttons--maps {
                position: absolute;
                top: 2%;
                right: 2%;

                width: 40%;
            }
        }
    }

    .Select-menu-outer {
        left: 2%;

        width: 96%;
        height: 85%;

        border-radius: 5px 5px 0 0;

        text-align: left;
    }

    //Hide info on Select Collapsed
    &--list-item-mobile {
        p {
            span {
                display: none;
            }
        }
    }
}

//Open Select Menu Styles
.is-open {
    .sucursales {
        &--list-item-mobile {
            border-bottom: 3px solid #eeeeee;

            p {
                margin: 0;

                color: #44377b;
                font-size: 1.2rem;

                span {
                    //Show Info on Select UnCollpased
                    display: block;

                    margin-bottom: 15px;
                }
            }

            strong {
                color: grey;
                font-size: 1rem;
                font-weight: 500;
            }
        }
    }
}

@media (min-width: 860px) {
    .googleMap {
        > div {
            width: 100%;
            max-width: 40rem;
            max-width: initial;
            padding: 0 20px;

            > div {
                position: relative !important;

                height: 300px;
            }
        }
    }
}

@media (max-width: 859px) {
    .container--map {
        align-items: initial;

        height: 100%;

        > .container {
            min-height: 100%;
        }
    }

    .googleMap {
        height: auto;
        margin: 0;

        > div {
            padding: 0;
        }
    }
}

.googleMap .google-map-button-wrapper .btn {
    position: absolute;
    z-index: 1;

    width: auto;
}

.google-map-wrapper {
    position: relative;

    min-height: 100%;
}

.google-map-button-wrapper {
    position: absolute;
    z-index: 10;

    display: flex;

    width: 100%;

    @include respond-to(mobile) {
        justify-content: center;
    }
}

.view-wrapper .google-map-button-wrapper .btn {
    margin: 1rem;
}
