// sizing
.menu-list,
.dropdown.open .dropdown-menu {
    font-size: 1rem;
    // margin-top: 1px;
}

// Main Navigation
.menu-list {
    flex-direction: column;

    width: 100%;
    margin: 0;

    @include respond-to(desktop) {
        margin-top: 0;
    }

    @media (min-width: 576px) {
        max-width: 100%;
        margin-bottom: auto;
    }

    /* First level nav items */
    > .menu-list-item {
        font-size: 1em;

        > a,
        > span {
            font-family: $headings-font-family;
            font-size: 1em;
        }
    }

    .svg-wrapper {
        position: absolute;
        left: 1.5rem;

        width: 1.25em;
        margin-right: 0.5em;

        svg {
            width: 1.25em;
            height: 1.25em;
        }
    }

    .menu-list-item {
        z-index: 0;

        > a,
        > span {
            display: flex;
            align-items: center;
            justify-content: space-between;

            padding-left: 2.5em;

            color: $navbar-default-color;

            .caret {
                position: absolute;
                right: 1.25rem;

                width: 1.5rem;
                height: 1.5rem;

                border: none;

                background: url("../../images/styledmenu-arrow-down.svg") center center no-repeat;
            }

            &.is-active {
                color: $brand-primary;
            }
        }
    }

    .dropdown.open {
        .caret {
            background: url("../../images/styledmenu-arrow-up.svg") center center no-repeat;
        }

        .dropdown-menu {
            position: relative;
            float: none;

            border: none;

            background-color: transparent;
            box-shadow: none;

            li {
                font-size: 1em;

                a {
                    padding: 0.75em 0.625em;

                    border-radius: 0;

                    color: $navbar-default-color;
                    white-space: normal;
                }

                &:last-child a {
                    border: none;
                }
            }
        }
    }
}

.login-desktop-wrapper {
    .view-header .navbar .container-fluid {
        padding: 0;
    }
}

@include respond-to(mobile) {
    .view-header {
        // BSselector
        .container > .navbar-header,
        .container > .navbar-collapse,
        .container-fluid > .navbar-header,
        .container-fluid > .navbar-collapse {
            margin: 0;
        }

        .navbar-header {
            &::before,
            &::after {
                content: none;
            }
        }

        .navbar-toggle {
            position: absolute;
            right: 0;

            margin-right: 0.625rem;

            border: none;

            .icon-bar {
                background-color: $brand-info;
            }

            &:hover,
            &:focus {
                border-radius: 4rem;

                background-color: transparent;
                box-shadow: 0 0 0 4px rgba($color-interactive, 0.4);

                .icon-bar {
                    background-color: darken($brand-info, 10%);
                }
            }
        }
    }
}

.toggle-menu-button {
    position: relative;
    z-index: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    min-height: 2.875rem;
    padding: 0.75em 2em 0.75em 3.5rem;

    border: none;
    border-bottom: 1px solid white;

    color: #44377b;
    font-family: $headings-font-family;
    font-size: 1em;
    line-height: 1.4;
    text-decoration: none;
    white-space: normal;

    background-color: transparent;

    cursor: pointer;

    &:focus,
    &:hover {
        color: #44377b;

        background-color: #dbd7e4;
        outline: none;
    }
}

.scrollable-sidebar {
    position: relative;
    overflow: auto;

    display: flex;
    flex: 1;
    flex-direction: column;
}

//---

.menu-list {
    @include respond-to(desktop) {
        width: $sidebar-width;
        min-width: auto;
    }
}

.menu-list-item {
    a:focus {
        outline: none;
    }
}

.default-layout {
    .app-content {
        padding-left: $sidebar-width;

        transition: all 1.5s $sidebar-easing;
    }
}

.app-sidebar {
    transition: transform 0.75s $sidebar-easing;

    .menu-list {
        transition: transform 0.75s $sidebar-easing;

        span {
            transition: opacity 0.75s $sidebar-easing;
        }
    }
}

.menu-list {
    .menu-list-item {
        .dropdown {
            .toggle-menu-button {
                position: relative;

                padding: 0;
                padding-right: 1.25em;

                text-transform: none;

                background-color: transparent;

                @include respond-to(mobile) {
                    &,
                    & span {
                        width: 100%;
                    }
                }
                &:focus,
                &:hover {
                    box-shadow: none;

                    .svg-wrapper {
                        .icon-stroke-color-a {
                            color: $menuItemIcon-stroke-1--active;
                        }

                        .icon-stroke-color-b {
                            color: $menuItemIcon-stroke-2--active;
                        }
                    }
                }
                .svg-wrapper {
                    height: 1.5rem;
                    margin: 0;
                }
                span {
                    padding: 0.75em 2em 0.75em 3.5rem;
                    margin: 0;

                    text-align: left;
                }
            }
            .dropdown__menu {
                box-sizing: border-box;

                min-width: auto;

                border: none;
                border-radius: 0;

                background-color: transparent;
                box-shadow: none;
            }
            .dropdown__item {
                border: none;

                a {
                    display: flex;

                    min-height: auto;
                    padding: 0.75em 2em 0.75em 3.5rem;

                    &:hover,
                    &:focus {
                        background-color: transparent;
                    }
                }
            }
        }
    }
}

.navbar-collapse .menu-list .menu-list-item {
    > a {
        &:focus {
            border: none;

            background-color: transparent;
            box-shadow: none;
        }
    }
}

[aria-expanded="true"].toggle-menu-button,
[aria-expanded="false"].toggle-menu-button {
    &::after {
        width: 1.5rem;
        height: 1.5rem;

        content: "";

        background: url("../../images/styledmenu-arrow-down.svg") center center no-repeat;

        transition: transform 250ms ease;
    }
}

[aria-expanded="true"].toggle-menu-button {
    &::after {
        transform: rotate(180deg);
    }
}

[aria-expanded="false"].toggle-menu-button {
    &::after {
        transform: rotate(0deg);
    }
}
