/* Deprecated => list--separated */

/**
 * Este titulo se utiliza unicamente en settiengs, por lo que no se esta 
 * reutilizando y podriamos mergearlo con otro
 */

.navigational-list-title {
    margin-top: 1.5rem;

    color: $navigational-list-title--color;
}

.navigational-list-item {
    border-bottom: 1px solid $gray-lighter;

    list-style: none;

    .btn + .btn {
        margin-top: 1rem;
    }

    > .form-group {
        button > .c-control .c-control-label {
            padding: 0;
            margin-right: 0.25rem;
        }

        .c-control .c-control-label {
            padding-left: 2.25rem;
        }

        .form-group-control-list {
            button > .c-control {
                min-width: 1.25rem;
                padding: 0;
                margin-right: 0.5rem;
            }

            .c-control {
                padding-left: 0.5rem;
            }
        }
    }
}

.list--permissions,
.navigational-list {
    padding-left: 0;
    margin-bottom: 0;

    list-style: none;

    .navigational-list-item {
        font-family: $headings-font-family;

        a {
            display: flex;
            align-items: center;
            justify-content: space-between;

            width: 100%;
            padding: 1rem;

            text-decoration: none;

            .svg-wrapper,
            svg {
                width: 1.5rem;
                height: 1.5rem;
                min-width: 1.5rem;
            }

            svg path {
                // stroke-width: 3px;
            }
        }
    }

    .c-control + span {
        flex-grow: 1;

        padding-right: 0.5rem;
        padding-left: 0.5rem;

        text-align: left;
    }

    .c-control-label .c-control-icons {
        .c-control-mark {
            .svg-wrapper,
            svg,
            path {
                width: 0.75rem;
                height: 0.75rem;
                min-width: 0.75rem;

                stroke-width: 3px;
            }
        }
    }

    .navigational-list-subtitle {
        padding: 0 1rem;
        margin: 1rem 0 0.25rem 0;

        font-weight: $bold;
    }

    .collapse-open {
        color: $brand-primary;
    }

    .collapsable-button {
        cursor: pointer;

        &:focus {
            outline: none;
        }
    }

    .collapsable-button {
        // display: none;

        .svg-wrapper {
            &,
            svg {
                width: 0.75rem;
                height: 0.75rem;
                min-width: 0.75rem;
            }

            .stroke {
                color: $brand-info;

                stroke-width: 3px;
            }
        }

        .c-control {
            .svg-wrapper {
                .stroke {
                    color: $brand-primary;
                }
            }
        }
    }

    .collapse-open {
        .svg-wrapper {
            .stroke {
                color: $brand-primary;
            }
        }
    }

    .c-control-label .form-group-text {
        margin: 0;
    }

    > .form-group .form-group-control-list .c-control {
        padding-left: 0.5rem;
    }

    .list-item--noChilds {
        .collapsable-button.is-active {
            font-weight: 700;

            .list-item-hint {
                font-weight: 400;
            }
        }

        & > .c-control:only-child .c-control-label {
            padding-left: 2.25rem;
            margin-left: 0.5rem;
        }
    }

    .form-group-control-list {
        margin-top: 0;

        .collapsable-button {
            padding-top: 0.25rem;
            padding-bottom: 0.25rem;

            color: #222222;
        }

        .navigational-list-subtitle {
            padding-left: 0;
        }

        .c-control {
            padding-left: 0.25rem;
        }

        .list-item {
            padding-right: 0.5rem;
            padding-left: 0.5rem;

            .list-item {
                padding: 0;
            }
        }

        > .navigational-list-subtitle {
            padding-left: 0.5rem;
        }
    }
}

.navigational-list--notifications {
    .c-control-label::before {
        content: none;
    }
}

.navigational-list {
    .navigational-list-item.navigational-list-downLoad {
        font-size: $desktopSize-5;

        a {
            &:hover {
                color: $color-inkOpaque;

                .svg-wrapper {
                    color: $color-interactiveShade;
                }
            }
            &:focus {
                border-radius: 0.25rem;

                box-shadow: 0 0 0 4px rgba($color-interactive, 0.4);
                outline: none;
                padding-left: 0.25rem;
                margin-left: -0.25rem;
            }
            &:active {
                background-color: $color-inkSelected;
            }
            span:first-child + span {
                color: $color-inkDisabled;
                margin-left: 1rem;
            }
        }
    }
}
