.table-data--truncate {
    width: 50%;

    .newProduct-cell--ellipsis {
        overflow: hidden;

        display: flex;
        flex-direction: column;

        text-overflow: ellipsis;
    }
}

.table-data.ellipsis {
    .data-text {
        @include ellipsis;
    }
}

.widget .table--products {
    box-sizing: initial;

    .col {
        padding: 0 0.5rem;
        margin: 0 -0.5rem;
    }
}

@include respond-to(desktop) {
    .table.table--products,
    .table--products .table-body,
    .table--products .table-body .table-row {
        display: block;
    }

    .table--products .table-body .table-row {
        width: 100%;
    }

    .table-body .table-row {
        padding: 0 0.5rem;
        margin: 0 -0.5rem;
    }
}

.table--products {
    .table-row {
        padding: 0 0.5rem;
        margin: 0 -0.5rem;

        border-radius: 5px;

        .table-data {
            border: none;

            &:first-child {
                border-bottom-left-radius: 5px;
                border-top-left-radius: 5px;
            }

            &:last-child {
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }
        }
    }

    .table-data {
        max-width: 0;
    }

    .table-data .newProduct-row {
        margin: 0.25rem 0;

        &.newProduct-row--header {
            align-items: center;

            margin-bottom: 0;
        }

        .newProduct-cell--icon {
            flex: 0;

            padding-right: 0.5rem;
        }

        .newProduct-cell--ellipsis {
            flex: 1;
        }

        // TODO fix this component
        .data-desc {
            display: inline;
        }
    }
}

.newProduct {
    display: flex;
    flex-direction: column;

    height: 100%;
    padding: 0.75rem;

    border-radius: 5px;

    color: $gray;

    background-color: #efedf7;

    @include respond-to(desktop) {
        margin: 1rem 0rem;
    }
    @include respond-to(mobile) {
        display: inline-block !important;

        width: 100%;
    }

    &.is-expired {
        background-color: lighten($brand-danger, 35%);

        .data-name {
            color: $brand-danger;
        }
    }

    .data-name {
        white-space: initial;
    }
}

.newProduct-relation .newProduct:last-child .data-name {
    justify-content: flex-end;
}

.newProduct-cell {
    & > [class*=" data-"],
    & > [class^="data-"],
    & > .svg-wrapper {
        padding: 0 0.25rem;
    }

    .data-name {
        font-family: $font-family-base;
    }
}

.newProduct-row--header {
    flex-grow: 1;
}

.newProduct-row {
    display: flex;
    justify-content: space-between;

    width: 100%;

    &.newProduct-row--header {
        align-items: flex-start;

        margin-bottom: 0.5rem;
    }

    &:not(.newProduct-row--header) {
        align-items: flex-end;

        .newProduct-cell {
            display: flex;
            flex-wrap: wrap;

            &.text-right {
                align-items: baseline;
                justify-content: flex-end;

                .data-label {
                    width: 100%;
                    padding-left: 1rem;
                }
            }
        }
    }
}

.newProduct-row:only-child {
    align-items: center;

    .newProduct-cell {
        display: block;
    }
}

.newProduct-cell {
    flex-grow: 1;
}

.newProduct-cell--ellipsis {
    min-width: 0;

    .product-title,
    .data-name {
        overflow: hidden;

        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.newProduct-row--header .svg-wrapper {
    float: right;
}

.newProduct-cell .data-tag {
    padding: 0.25rem;
}

.newProduct-row {
    align-items: center;
}

.newProduct-cell--icon {
    flex-grow: 0;
}

@include respond-to(mobile) {
    .newProduct-card-mobile .newProduct-cell--icon {
        order: 1;
    }
}

.transfer-data .newProduct {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;

    .newProduct-row {
        margin-bottom: 0;
    }
}

.table--products {
    .table-body--grid {
        display: flex;
        flex-wrap: wrap;
    }
}
