.progress-wrapper {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 2.4em;
    font-family: $brand-font-family;

    @include respond-to(desktop) {
        margin-top: 1rem;
        margin-bottom: 20px;
    }

    .progress {
        position: relative;

        width: 100%;
        height: 2.4em;
        margin-bottom: 0;

        background-color: lighten($brand-primary, 60%) !important;
        box-shadow: none;

    }

    span {
        left: 0em;
        font-size: 0.85em;
        font-weight: $bold;
        text-transform: uppercase;
    }

    span + span {
        right: 2.5em;
    }
}

.form-group {
    .progress {
        height: 1rem;
    }
}

.progress-bar {
    background-color: $ui-color-success !important;
}

.progress-bar-danger {
    background-color: $brand-danger !important;
}

.progress-label {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;

    color: white;
    line-height: 2rem;
}

.progress-below-half {
    right: 0;
    left: initial;

    color: $gray-darker;
}

.error {
    color: $brand-color-red;
    font-weight: $bold;
}