.product-item {
    display: flex !important;
    align-items: center;
    flex-direction: column;

    span {
        display: inline;

        text-align: center;
    }

    .data-label {
        font-size: 1rem;
    }

    .data-desc {
        font-size: 1rem;
    }

    .data-name {
        color: $brand-primary;
        font-size: 1.25rem;
        font-weight: $bold;
    }

    .data-amount {
        font-size: 2rem;
        text-align: right;
    }
}


@include respond-to(mobile) {
    .view-title + .product-item {
        margin-top: 0.5rem;
    }
}

.table-body > a {
    margin-bottom: 1rem;

    text-decoration: none;

    @include respond-to(mobile) {
        display: flex;
    }
}

// Product card

.product {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;

    height: 100%;
    padding: 1rem 2rem;
    margin: 0.5rem 0;

    border-radius: 0.2rem; // ??

    color: $gray-darker;
    text-align: center;
    text-decoration: none;

    background-color: lighten($brand-primary, 60%);

    &.is-expired {
        color: $product-expired--color;

        background-color: $product-expired--background-color;

        .product-name {
            background-color: $product-expired--color;
        }

        .data-name {
            color: $product-expired--color;
        }
    }

    .data-amount {
        font-size: 2.25rem;
    }

    .data-wrapper {
        align-items: center;

        width: 100%;
        margin: 0;
    }

    .product-title {
        overflow: hidden;

        margin: 0;

        text-overflow: ellipsis;
    }
}

/**
 * Label de producto, usualmente el nombre asociado a este; cuyo estilo se 
 * diferencia del resto, para este caso con un fondo de color.
 * Cuenta con varias partes que conforman este label.
 */

@include respond-to(mobile) {
    .toolbar {
        .product-name {
            margin-bottom: 0;
        }
    }
}

.table-row {
    &.is-expired .product-name span {
        padding: 0.125rem;

        border-radius: 0.125rem;
    }

    .product-name {
        padding: 0;
    }
}

.product-name {
    overflow: hidden !important;

    display: flex;
    align-items: stretch;
    flex-flow: wrap;
    justify-content: center;

    padding: 0;
    // padding: 0.75em 1em;
    padding: 0.25rem;
    margin: 0.25rem 0;

    border-radius: 5px;

    color: $product-name-tag--color;
    font-size: 1.25rem;
    text-transform: none;
    white-space: nowrap;

    background-color: initial;
    background-color: $product-name-tag--background-color;

    @include respond-to(desktop) {
        margin: 0;
    }
    @include when-inside(".product") {
        margin: $m 0;
    }
    @include respond-to(mobile) {
        margin: 0.5rem auto;
    }

    > span {
        padding: 0 0.25em;

        color: inherit;

        &:first-child {
            font-weight: $bold;
        }
    }

    .svg-wrapper {
        position: relative;

        display: inline-flex;

        width: 2.25em;
        padding: 0 0.375em;

        > div {
            margin: 0 -0.25rem;

            border-radius: 0.25rem;
        }

        .svg-logo {
            width: 1.75em;
            height: 0.75em;
        }
    }

    .visa-color {
        // fill: white;
    }

    .mastercard-typo {
        // fill: white;
    }

    .mastercard-color0,
    .mastercard-color1,
    .mastercard-color2 {
        // fill: white;
        // stroke: $product-name-tag--background-color;
        stroke-width: 6px;
    }
}

.toolbar-product-name {
    @include respond-to(mobile) {
        .product-name {
            background-color: $product-name-tag--background-color--external;

            > span {
                background-color: $product-name-tag--background-color--external;
            }
        }

        .mastercard-color0,
        .mastercard-color1,
        .mastercard-color2 {
            stroke: $product-name-tag--background-color--external;
        }

        .product-name .svg-wrapper,
        .product-name .svg-wrapper > div {
            background-color: $product-name-tag--background-color--external;
        }
    }
}

@include respond-to(desktop) {
    .product-item,
    .product-item span,
    .product-item .data-amount {
        align-items: initial;

        text-align: initial;
    }
}

.product-label {
    display: flex;
    align-items: center;

    font-size: 1rem;
}

.product-label-info {
    font-size: 0.875rem;
}

.product-label-icon {
    display: flex;

    margin-right: 0.5rem;
}

/* Checkbox de producto */
.c-control-product {
    font-family: sans-serif;

    .product-name {
        font-size: 1rem;
    }

    .product-help {
        font-size: 0.75rem;
    }
}