/**
 * Soluciona un bug de react slick en un contendor, (incluso con ancestros flex)
 * al intentar calcultar el ancho de los elementos.
 */

.app-content {
    min-width: 0;
}

.widget {
    position: relative;

    margin-bottom: $l;

    &:empty {
        display: none;
    }

    .widget__title,
    h3 {
        width: 100%; //border-bottom: 1px solid $brand-color-element;
        padding: 0.5rem ($l / 2);
        margin-top: 0;

        border-radius: 5px;

        color: $widget-title--color;
        font-size: 1.125rem;
        font-weight: normal;
        text-transform: uppercase;

        background-color: lighten($brand-primary, 60%);
    }
}

.widget--notifications {
    @include respond-to(mobile) {
        .table-data {
            max-width: 80%;
        }
    }
}

.widget--exchangeRates {
    padding: 0;

    border-radius: 10px;

    @include respond-to(mobile) {
        .data-wrapper {
            .data-label {
                width: 100%;
                margin-top: 1rem;

                text-align: center;
            }

            .data-amount {
                width: 100%;

                text-align: center;
            }
        }

        .slick-slide > div {
            display: flex;

            padding: 0;
        }

        .slick-dots {
            position: relative;

            margin-top: 1rem;
        }
    }

    .exchenge-data {
        margin: auto;

        text-align: center;

        @include respond-to(mobile) {
            display: flex;
            align-items: center;
            justify-content: center;

            .flag {
                margin: 0 1rem;

                .svg-wrapper,
                svg {
                    width: 3rem;
                    height: 3rem;
                    min-width: 3rem;
                }
            }

            span.data-name {
                position: initial;
                top: initial;
                left: initial;
                float: initial;

                display: initial;
                align-self: initial;

                height: initial;
                max-width: initial;

                text-align: initial;
            }
        }
        @include respond-to(desktop) {
            .flag {
                float: left;

                height: $s;
            }
        }

        .data-name {
            position: relative;
            top: 13px;
            left: 0.5rem;
            float: left;

            display: flex;
            align-self: center;

            height: 3rem;
            max-width: 75%;

            text-align: left;
        }
    }

    h4 {
        align-self: center;

        margin-left: -1rem;

        font-size: 1rem;
        line-height: 1.125rem;
    }

    .flag {
        max-width: 8rem;
    }
}

.widget--bio-banner {
    font-family: $headings-font-family;

    background-color: transparent;

    h4 {
        color: $widget-title--color;

        @include fontSize3;
    }

    p,
    label {
        margin-bottom: 1.25rem;

        color: $gray-darker;

        @include fontSize4;
    }
}

.widget__box {
    padding: 1rem;

    // border-radius: 10px;
}

.widget--portfolio {
    height: 100%;

    .chart {
        min-height: 300px;
    }

    .chart .row {
        height: 100%;

        > div {
            align-self: center;

            width: 100% !important;
        }
    }

    /* Reset sizing on chart */
    #DonutChart,
    #DonutChart > div,
    #DonutChart [dir] {
        width: 100% !important;
        height: 100% !important;
    }

    #DonutChart [dir] [aria-label] {
        display: flex;
        justify-content: center;
    }

    #DonutChart,
    .data-chart {
        // max-width: 400px;

        @media (max-width: 575px) {
            max-width: initial;
            margin: auto;
        }
    }

    .data-chart {
        position: absolute;
        z-index: initial;

        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        height: 100%;
        margin-top: initial;

        text-align: center;

        .amount {
            margin: 0;

            font-size: 1.125rem;
            text-align: right;
        }

        .products {
            margin-top: 0;

            font-size: 0.75rem;
        }

        small {
            font-size: 0.75rem;
            font-weight: $bold;
        }

        /* Stack vertically chart and references */
        @media (max-width: 575px) {
            right: 0;
            left: 0;
        }
    }

    .portfolio-item {
        display: block;

        padding: 1rem;
        margin-top: 1.325rem;
        margin-bottom: 0.1rem;

        border-radius: 5px;

        color: $widget-porfolio-items--color;
        font-size: 1.25rem;
        text-decoration: none;

        > .row {
            align-items: center;
            justify-content: space-between;
        }

        .data-title {
            font-family: sans-serif;
            font-size: 1.125rem;
        }

        .data-aux {
            font-size: 0.75rem;
        }

        .data-wrapper {
            margin: 0;
        }

        .chart {
            min-height: 300px;
        }

        #DonutChart,
        .data-chart {
            max-width: initial;
            margin: auto;
        }

        .data-chart {
            .amount .data-amount {
                font-size: 1.625rem;
            }
        }

        .data-chart {
            right: 0;
            left: 0;
        }
    }
}

/* Prevent google charts to create layer n perf issues */
#DonutChart [aria-label] > div[aria-label] {
    left: initial !important;

    @include visually-hidden;
}

/* estilos para widgets en estado de edición */
.draggable-list .draggable-list__item {
    padding: 0;
    margin: 0;

    border: solid 1px lighten($brand-primary, 60%);
    border-radius: 10px;
}

.draggable-list__item-container {
    height: 100%;

    .widget {
        height: 100%;
        padding: 0.25rem;
        margin-bottom: 1rem !important;
        &:last-of-type {
            margin-bottom: 0 !important;
        }
        h3 {
            padding: 0.5rem (($l / 2) - 0.25rem);
            margin: 0 0 1rem;
        }

        &:active,
        &:focus {
            box-shadow: 0 0 0 4px rgba($color-interactive, 0.4);
            border-radius: 1rem;
            outline: none;
            border: solid 1px transparent;
        }

        .container,
        .container-fluid {
            padding: 0 (($l / 2) - 0.25rem);
        }

        .widget-close-button {
            position: absolute;
            top: 0.4rem;
            right: 12px;

            height: 2rem;
            width: 2rem;
            padding: 0.05rem;
            margin-top: 0.125rem;
            z-index: 2;

            .svg-wrapper {
                svg {
                    width: 1.25em;
                    height: 1.25em;
                }
            }
        }

        .overlay {
            position: absolute;
            top: 2.3rem;
            right: 0;
            bottom: 0;
            left: 0;

            display: block;

            background-color: $color-BkgTranslucent;
            border-radius: 1rem;

            &:hover {
                background-color: $color-inkInversedDisabled;
            }
        }
    }
}

.widget-preloader {
    position: relative;
    top: 0;
    left: 0;
    z-index: 5;

    display: flex;

    width: 100%;
    height: 100%;
    min-height: 120px;

    border-radius: 0;

    color: red;

    opacity: 1;
    background-color: rgba(239, 237, 247, 0.2);

    animation: overlayAppear 0.5s ease;
    animation-fill-mode: forwards;
    transition: 0.1s ease;
    pointer-events: all;

    > div {
        margin: auto;
    }

    span:nth-child(1),
    span:nth-child(2),
    span:nth-child(3) {
        top: 0.25em;
        left: -1rem;

        display: inline-block;

        width: 1rem;
        height: 1rem;
        margin: 0 0.3em;

        border-radius: 100%;

        content: "";

        background-color: currentColor;

        animation: bouncedelay 1.4s infinite ease-in-out both;
    }

    span:nth-child(2) {
        left: 0;

        animation-delay: 0.16s;
    }

    span:nth-child(3) {
        left: 1rem;

        animation-delay: 0.32s;
    }
}
