// Accordion
$accordion-border-color: $gray-400;
$accordion-border-height: 0.0625rem;
$accordion-font-size: $font-text-size-lg;
$accordion-item-header-padding: 1rem 0;
$accordion-item-content-padding: 0 0 1rem 0;
$accordion-icon-color: $gray-500;
$accordion-icon-color-hover: $primary;

.accordion {

    &__item {
        &:not(:last-child){
            border-bottom: 
                $accordion-border-height solid 
                $accordion-border-color;
        }
    }

    &__header{ 
        position: relative;
    
        .btn {
            @include flex(center, space-between);   
            font-size: $accordion-font-size;      
            padding: $accordion-item-header-padding;   
            width: 100%;      
            
            .icon {
                background: $accordion-icon-color;                
            }
        }

        &:hover, &:focus {
            .icon {
                background: $accordion-icon-color-hover;
            }
        }

        &--active {
            .icon {
                background: $accordion-icon-color-hover;
                transform: rotate(180deg);
            }
        }
    }

    &__content {
        display: none;
        padding: $accordion-item-content-padding;        

        &--active {
            display: block;
        }
    }
}