// Variables
$alert-border-radius: 0.25rem;
$alert-box-shadow: 0 0.5rem 2rem -0.5rem rgba(11, 37, 89, 0.24);
$alert-color: white;
$alert-font-size: $font-text-size-lg;
$alert-font-weight: $font-weight-bold;
$alert-padding: 1rem;
$alert-max-width: 50%;
$alert-icon-bg: white;
$alert-icon-margin: 0 1rem 0 0;
$alert-icon-height: 3rem;
$alert-icon-width: 3rem;

// Alerts
.alert {
    @include position(fixed, $top: 1rem, $left: 50%, $right: 0, $width: 100%);

    border-radius: $alert-border-radius;
    display: flex;
    box-shadow: $alert-box-shadow;
    padding: $alert-padding;
    max-width: $alert-max-width;
    z-index: 6;
    transform: translate(-50%, 0);

    &__title {
        font-weight: $alert-font-weight;
    }

    &__msg {
        color: $alert-color;
        font-size: $alert-font-size;
        margin: 0;

        p {
            color: $alert-color;
            margin: 0;
        }
    }

    &__icon {
        background: $alert-icon-bg;
        flex-basis: $alert-icon-width;
        margin: $alert-icon-margin;
        height: $alert-icon-height;
        width: $alert-icon-width;

        &--success {
            @include mask("i-alert-success.svg");
        }
        &--danger {
            @include mask("i-alert-error.svg");
        }
        &--warning {
            @include mask("i-alert-caution.svg");
        }
    }

    &__close {
        @include mask("i-close.svg");

        background: $alert-icon-bg;
        cursor: pointer;
        flex-basis: 1rem;
        margin-left: auto;
        height: 1rem;
        width: 1rem;
    }

    &--success {
        background: $states-success-color;
    }
    &--danger {
        background: $states-error-color;
    }
    &--warning {
        background: $states-caution-color;
    }
}

// Mixin
$msg-alert-border-radius: 0.5rem;
$msg-alert-font-weight: $font-weight-bold;
$msg-alert-padding: 1rem;
$msg-alert-margin: 0 0 1.5rem 0;

@mixin msg-alert($states-color, $states-background) {
    background: $states-background;
    color: $states-color;
}

.msg-alert {
    border-radius: $msg-alert-border-radius;
    font-weight: $msg-alert-font-weight;
    margin: $msg-alert-margin;
    padding: $msg-alert-padding;

    &--success {
        @include msg-alert($states-success-color, $states-success-bg);
    }
    &--error {
        @include msg-alert($states-error-color, $states-error-bg);
    }
    &--info {
        @include msg-alert($states-info-color, $states-info-bg);
    }
    &--caution {
        @include msg-alert($states-caution-color, $states-caution-bg);
    }
    &--disabled {
        @include msg-alert($states-disabled-color, $states-disabled-bg);
    }
}
