// Breadcrumb
$breadcrumb-margin: 0 0 1.5rem 0;
$breadcrumb-item-font-size: $font-text-size-lg;
$breadcrumb-item-margin: 0 0.5rem 0 0;

.breadcrumb {
    @include flex(center, flex-start);
    margin: $breadcrumb-margin;

    &__item {
        margin: $breadcrumb-item-margin;
    }

    &__link {
        cursor: pointer;
        font-size: $breadcrumb-item-font-size;
        margin: $breadcrumb-item-margin;
    }
}
