// Variables
$btn-box-shadow: 0 0.5rem 1.5rem rgba($shadow-color, 0.15);
$btn-border-radius: 0.625rem;
$btn-font-family: $font-family-base;
$btn-font-size: $font-text-size-base;
$btn-font-weight: $font-weight-bold;
$btn-padding: 0.7rem 1.25rem;
$btn-primary-bg: $primary;
$btn-primary-bg-hover: $secondary;
$btn-disabled-background: $disabled-bg;
$btn-disabled-border: $disabled-bg;
$btn-disabled-color: $disabled-color;
$btn-border: 0.125rem;
$btn-border-radius: 0.625rem;
$btn-border-radius-sm: 0.25rem;
$btn-font-size: 0.85rem;
$btn-font-size-sm: 0.75rem;
$btn-height: 2.5rem;
$btn-height-sm: auto;
$btn-padding: 0.625rem 1.25rem;
$btn-padding-sm: 0.25rem 1rem;
$btn-margin: 1.5rem 0 1.5rem 1.5rem;

.btn {
    background: transparent;
    border: none;
    border-radius: $btn-border-radius;
    cursor: pointer;
    display: flex;
    font: {
        family: $btn-font-family;
        size: $btn-font-size;
        weight: $btn-font-weight;
    }
    padding: $btn-padding;
    line-height: normal;
    @include transition(all 0.5s ease);

    &.disabled {
        background-color: $disabled-bg;
        border-color: $disabled-bg;
        color: $disabled-color;

        &:hover,
        &:focus {
            background-color: $disabled-bg;
            border-color: $disabled-bg;
            box-shadow: none;
            color: $disabled-color;
            cursor: not-allowed;
            text-decoration: none;
        }
    }

    &:hover,
    &:focus {
        outline: none;
    }
}

.btn-primary {
    background: $btn-primary-bg;
    border: $btn-border solid $btn-primary-bg;
    color: white;

    &:hover,
    &:focus {
        background: $btn-primary-bg-hover;
        border: $btn-border solid $btn-primary-bg-hover;
        box-shadow: $btn-box-shadow;
    }
}

.btn-secondary {
    background: white;
    border: $btn-border solid $btn-primary-bg;
    color: $btn-primary-bg;

    &:hover,
    &:focus {
        border: $btn-border solid $btn-primary-bg-hover;
        color: $btn-primary-bg-hover;
        box-shadow: $btn-box-shadow;
    }
}

.btn-text {
    color: $btn-primary-bg;

    &:hover,
    &:focus {
        color: $btn-primary-bg-hover;
        text-decoration: underline;
    }

    &.disabled {
        background: transparent;
    }
}

.btn-text-secondary {
    @extend .btn-text;
}

.btn-sm {
    background: $gray-300;
    border: none;
    border-radius: $btn-border-radius-sm;
    font: {
        size: $btn-font-size-sm;
        weight: $font-weight-bold;
    }
    padding: $btn-padding-sm;

    &.active {
        background: $states-info-bg;
        color: $primary;
    }
}

.btn-arrow {
    height: $btn-height;
    padding: $btn-padding;
    &--add {
        @include background(
            $background-img: "caret-right.svg",
            $background-size: 1.25rem,
            $background-position: center center
        );
    }
    &--remove {
        @include background(
            $background-img: "caret-left.svg",
            $background-size: 1.25rem,
            $background-position: center center
        );
    }

    &:hover,
    &:focus {
        background-color: $gray-400;
    }
}

.btn-link {
    cursor: pointer;
    color: $primary;
    padding: 0;

    &:hover,
    &:focus {
        color: $secondary;
        text-decoration: underline;
    }

    &.disabled {
        background: transparent;

        &:hover,
        &:focus {
            background: transparent;
        }
    }
}

.btn-icon {
    &--trash {
        @include mask-icon("i-trash.svg");
        background: $btn-primary-bg;
        padding: 0;
        height: 1.25rem;
        width: 1rem;
    }
}

.loading-button:before {
    content: setUrlFolders("loading-button.svg");
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
    vertical-align: middle;
    @include animation(0, 1s, spinner-rotate);
}

// Btn icons
$btn-icon-width: 1rem;
$btn-icon-height: 1rem;

// Export
.btn--export {
    @extend .btn-secondary;
}

// Add
.btn--add {
    @extend .btn-primary;
}

.icon-btn {
    margin-left: 0.5rem;
    height: $btn-icon-width;
    width: $btn-icon-height;

    &--export {
        background: $primary;
        @include mask-icon("i-export.svg");
    }

    &--add {
        background: white;
        @include mask-icon("i-add.svg");
    }

    &--list {
        background: white;
        @include mask-icon("i-arrow.svg");
        transition: transform 0.2s linear;

        &.clicked {
            transform: rotateX(180deg);
        }
    }

    &--reset {
        background: $primary;
        @include mask-icon("i-reset.svg");
    }

    &--edit {
        margin-right: 0.5rem;
        background: $primary;
        @include mask-icon("i-edit-blue.svg");
    }
}
