@use "sass:math";

// Card
$card-background: white;
$card-border-radius: 1rem;
$card-box-shadow: $shadow;
$card-padding: 1.5rem;
$card-header-margin: 0 0 1rem 0;
$card-content-padding: 1rem 0;

// Card title
$card-title-color: $font-color-base;
$card-font-size: $font-text-size-base;
$card-font-weight: $font-weight-bold;

// Card data
$card-data-color: $gray-700;
$card-data-font-size: $font-text-size-lg;

// Card icon
$card-icon-user: "i-user.svg";
$card-icon-user-off: "i-user-off.svg";
$card-icon-radius: 50%;
$card-icon-margin: 0 0 0.5rem 0;
$card-icon-height: 3rem;
$card-icon-width: 3rem;

// Card
.card {
    background: $card-background;
    border-radius: $card-border-radius;
    box-shadow: $card-box-shadow;
    padding: $card-padding;

    &__header {
        margin: $card-header-margin;
        @include flex(flex-end, space-between);

        .title {
            @extend .card-title;
        }
    }

    &__content {
        padding: $card-content-padding;
    }

    & + .card {
        margin: 2rem 0;
    }
}

// Card title
.card-title {
    color: $card-title-color;
    font: {
        size: $card-font-size;
        weight: $card-font-weight;
    }
    text-transform: uppercase;
}

// Card data
.card-data {
    color: $card-data-color;
    font-size: $card-data-font-size;
    margin: 0;
}

.card-link {
    font-size: $card-data-font-size;
    display: block;
    margin-bottom: 0.5rem;
}

// Card icon
.card-icon {
    @include flex(center, center);
    flex-direction: column;

    .icon-users {
        @include flex(center, center);
        border-radius: $card-icon-radius;
        margin: $card-icon-margin;
        height: $card-icon-height;
        width: $card-icon-width;

        .icon {
            height: math.div($card-icon-width, 2);
            width: math.div($card-icon-width, 2);
        }

        &--active {
            background: $states-success-bg;
            .icon {
                @include mask-icon($card-icon-user);
                background: $states-success-color;
            }
        }

        &--blocked {
            background: $states-error-bg;
            .icon {
                @include mask-icon($card-icon-user-off);
                background: $states-error-color;
            }
        }
    }
}

// Card flex
.card-flex {
    @include flex(flex-start, space-between);
}

// Card group
.group-card {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);

    .card {
        margin: 0;
        height: fit-content;
        min-height: 12rem;

        &--general {
            grid-row: 1/4;
        }

        &--products {
            height: 100%;
            grid-row: 1/2;
            grid-column: 2/4;
            height: 100%;
        }

        .loading {
            @extend .loading-spinner;
            margin: 4rem auto;
            position: relative;
        }

        .card {
            margin: 0;
            padding: $card-content-padding;
            min-height: auto;
        }

        .number-total {
            margin: 0 1rem;
        }
    }
}
