$dropdown-box-shadow: 0 0 2rem 0 rgba($shadow-color, 0.15);
$input-focus-box-shadown: 0 0 0 3px $primary-focus;
$input-hover-box-shadown: 0 0 0 3px rgba($primary-focus, 0.5);

.dropdown {
    position: relative;
    margin-left: 1rem;

    &-item {
        color: $primary;
        cursor: pointer;
        font-size: $font-text-size-lg;

        &:not(:last-child) {
            margin-bottom: 0.5rem;
        }

        &[disabled] {
            pointer-events: none;
            color: $gray-600;
        }
    }

    &-menu {
        box-shadow: $dropdown-box-shadow;
        border-radius: 10px;
        padding: 1rem;
        display: none;
        @extend .box;
        @include position(absolute, $width: max-content);
        z-index: 10;
        &.right {
            @include position(absolute, $left: auto, $right: 0);
        }
        &.show {
            display: block;
        }
    }

    .listdown-menu {
        @extend .dropdown-menu;
    }

    .dropdown-button-bulk-actions {
        border-radius: 0.5rem;
        padding: 0.25rem 0.5rem;

        .dropdown-menu-bulk-icon {
            @include mask("menu-bulk-deshabilitado.svg");
            display: block;
            background: $gray-600;
            background: $primary;
            padding: 0;
            height: 1.25rem;
            width: 1rem;
        }

        &:hover,
        &:focus {
            .dropdown-menu-bulk-icon {
                background: $secondary;
            }
        }

        &.disabled {
            background: transparent;
            box-shadow: none;

            .dropdown-menu-bulk-icon {
                background: $gray-600;
            }
        }
    }

    .dropdown-button-single-actions {
        @extend .dropdown-button-bulk-actions;

        .dropdown-button-single-action-icon {
            @extend .dropdown-menu-bulk-icon;
        }
    }

    .dropdown-button-single-actions-big {
        @extend .dropdown-button-bulk-actions;

        &:hover {
            box-shadow: $input-hover-box-shadown;
            .dropdown-menu-bulk-icon {
                background: $secondary;
            }
        }

        &:focus {
            box-shadow: $input-focus-box-shadown;
        }

        .dropdown-button-single-action-icon-active {
            @extend .dropdown-menu-bulk-icon;
        }
    }
}
