$filters-box-shadow: 0 0 2rem 0 rgba($shadow-color, 0.15);
$filters-padding: 2rem;

.advance-filters-container {
    @extend .box;
    @include position(absolute, $width: max-content);
    box-shadow: $filters-box-shadow;
    padding: $filters-padding;
    margin-top: 1rem;
    z-index: 2;
    max-width: 50rem;

    .fields-label {
        margin-left: 1rem;
    }

    .footer {
        max-width: inherit;
        &__container {
            padding: 0;
        }
    }

    .search-box {
        margin: 0;
    }
}

.static-filters-container {
    .advanced-search-inline {
        margin-bottom: 1rem;
    }
    .footer {
        max-width: inherit;
        &__container {
            padding: 0;
        }
    }
}

a.advanced-search-inline {
    color: $primary;
    cursor: pointer;
    font-weight: $font-weight-bold;
    display: flex;
    align-items: center;
    margin-right: 1rem;

    .advanced-search-icon {
        background: $primary;
        @include mask-icon("arrow-link.svg");
        margin: 0.5rem 0.5rem 0.25rem 0.5rem;
        height: 0.8rem;
        width: 0.8rem;

        &.active {
            transform: rotate(180deg);
        }
    }

    &:hover {
        color: $secondary;
        .advanced-search-icon {
            background: $secondary;
        }
    }
}

.search-entity-field {
    .links-containers {
        display: flex;
        margin-top: 1rem;

        .link-icon {
            background: $primary;
            display: block;
            margin-right: 1rem;
            cursor: pointer;
            height: 1.25rem;
            width: 1.25rem;

            &.search {
                @include mask-icon("i-search-filter.svg");
            }
            &.remove {
                @include mask-icon("i-trash.svg");
            }
            &.edit {
                @include mask-icon("i-edit.svg");
            }
        }
    }
}

.filters {
    align-items: center;
    display: flex;

    &__item {
        align-items: center;
        display: flex;
        margin-right: 1rem;

        &--buttons {
            margin: 0;
            flex: 1;
            justify-content: flex-end;

            .environments-subtitle-container {
                @include flex(flex-end, space-between);
                position: relative;
                width: 100%;

                h3 {
                    margin-bottom: 0;
                }

                button {
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }
        }
    }

    &__tags {
        align-items: center;
        display: flex;

        .btn--reset {
            margin-left: 1rem;
        }
    }

    & + .tableWrap {
        margin-top: 2rem;
    }

    &--select {
        .select {
            min-width: 20rem;
        }
    }
}
