// Variables
$icon-checkbox-height: 1rem;
$icon-checkbox-width: 1rem;
$check-border-color: $gray-500;
$check-disabled-border: $gray-400;
$check-disabled-bg: $gray-200;

// Checkbox
.icon-checkbox {
    border: 2px solid $check-border-color;
    height: $icon-checkbox-height;
    width: $icon-checkbox-width;
    position: absolute;
    cursor: pointer;
    line-height: 1;

    &:hover,
    &:focus {
        border-color: $blue-input;
    }

    &.disabled {
        background: $check-disabled-bg;
        border-color: $check-disabled-border;
        cursor: not-allowed;

        + span {
            color: $input-text-disabled-color;
        }

        &:hover,
        &:focus {
            background: $check-disabled-bg;
            border-color: $check-disabled-border;
        }
    }

    + span {
        line-height: 1;
        padding-left: 2rem;
        font: {
            size: $font-text-size-base;
            weight: $font-weight-light;
        }
        text-transform: initial;
        vertical-align: top;
    }
}

.icon-checkbox {
    border-radius: 3px;
    padding: 2px;
    &.check {
        border-color: $blue-input;
        background: $blue-input;
        &:after {
            content: "";
            background: white;
            display: block;
            @include mask-icon("i-checkbox.svg");
            height: 100%;
            width: 100%;
        }
    }
}

.custom-checkbox-container {
    display: block;
    position: relative;
    bottom: 0.5rem;
    width: 2rem;
}
