// Variables
$icon-radio-height: 1rem;
$icon-radio-width: 1rem;

// Radio
.icon-radio {
    appearance: none;
    background: $primary;
    border: none;
    height: $icon-radio-height;
    width: $icon-radio-width;
    padding: 0;
    position: absolute;
    cursor: pointer;
    @include mask-icon("radio-button.svg");

    &.check {
        @include mask-icon("check-circle.svg");
    }

    + span {
        line-height: 1;
        padding-left: 2rem;
        font: {
            size: $font-text-size-base;
            weight: $font-weight-light;
        }
        text-transform: initial;
        vertical-align: top;
    }

    &.disabled {
        background: $check-disabled-bg;
        border-color: $check-disabled-border;
        cursor: not-allowed;

        + span {
            color: $input-text-disabled-color;
        }

        &:hover,
        &:focus {
            background: $check-disabled-bg;
            border-color: $check-disabled-border;
        }
    }
}

.custom-radio-container {
    display: block;
    position: relative;
    bottom: 0.5rem;
    width: 2rem;
}

.rowDirection {
    @include flex(center, flex-start);
    flex-flow: row wrap;
}

.radio-button-group {
    @include flex(center, flex-end);
    flex-direction: row-reverse;
    margin: 0 2rem 0.5rem 0;

    label {
        margin: 0 0 0 2rem;
    }

    input {
        @extend .icon-radio;
        &:checked {
            @include mask-icon("check-circle.svg");
        }
    }
}
