$label-font-family: $font-family-base;
$label-font-color: $gray-700;
$label-font-size: $font-text-size-base;
$label-font-weight: $font-weight-normal;

// Label
.label,
label {
    color: $label-font-color;
    font: {
        family: $label-font-family;
        size: $label-font-size;
        weight: $label-font-weight;
    }
    display: block;
    margin-bottom: 0.5rem;

    .optional {
        font-style: italic;
        font-weight: $font-weight-light;
        line-height: 1;
    }
}

.data-read {
    color: $font-color-base;
    font: {
        size: $input-font-size;
        weight: $input-font-weight;
    }
    &--lg {
        max-height: 12rem;
        overflow-y: auto;
    }
    word-break: break-all;
}

// Feedback
small,
.feedback {
    color: $gray-800;
    display: block;
    font-size: $font-text-size-sm;
    margin: 0.25rem 0 0 0;
}

// Feedback invalid
.invalid-feedback {
    color: $input-invalid-color;
    font: {
        size: $font-text-size-sm;
        weight: $font-weight-bold;
    }
    margin: 0.25rem;

    &:before {
        @include background(
            $background-img: "warning.svg",
            $background-size: contain,
            $background-position: center center
        );
        content: "";
        display: inline-block;
        margin-right: 0.5rem;
        height: 1rem;
        width: 1rem;
        vertical-align: bottom;
    }
}
