// Variables
$input-background: white;
$input-border-color: $grey-border;
$input-border-size: 0.0625rem;
$input-border-radius: 0.625rem;
$input-color: $font-color-base;
$input-font-family: $font-family-base;
$input-placeholder-color: $grey-disabled;
$input-height: 2.5rem;
$input-padding: 0.625rem 1rem;

// Hover
$input-hover-border-color: $primary;
$input-hover-box-shadown: 0px 1px 10px #e0e0e0;

// Focus
$input-focus-border-color: $primary;
$input-focus-box-shadown: 0 0 0 3px $primary-focus;

// Disabled
$input-disabled-background: $grey-background;

// Error
$input-error-border-color: $states-error-color;
$input-error-box-shadown: 0 0 0 3px $states-error-bg;

// Form control
.form-control {
    @include font($font-text-size-lg, $font-weight-normal);
    @include transition(all 0.5s ease);
    background: $input-background;
    border: $input-border-size solid $input-border-color;
    border-radius: $input-border-radius;
    font-family: $input-font-family;
    height: $input-height;
    padding: $input-padding;
    outline: none;
    width: 100%;

    &::placeholder {
        color: $input-placeholder-color;
    }

    &:hover {
        border-color: $input-hover-border-color;
        box-shadow: $input-hover-box-shadown;
    }

    &:focus {
        border-color: $input-focus-border-color;
        box-shadow: $input-focus-box-shadown;
    }

    &:disabled,
    &[readonly] {
        cursor: not-allowed;
        background-color: $input-disabled-background;

        &:hover {
            border-color: $input-border-color;
            box-shadow: none;
        }
    }

    &.is-invalid {
        border-color: $input-error-border-color;

        &:focus {
            box-shadow: $input-error-box-shadown;
        }
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 2rem white inset !important;
}

// Select
.select {
    appearance: none;
    @include background(
        $background-img: "i-arrow.svg",
        $background-size: 1.25rem,
        $background-position: right 0.5rem center
    );
}

// Select list wrapper
.selectable-list-wrapper {
    .selectable-list {
        &__control {
            @extend .form-control;
            @extend .select;
            padding: 0;
            line-height: 1;
        }
        &__indicators {
            display: none;
        }
    }
}

// Datapicker
.datetimepicker-input {
    @include background(
        $background-img: "i-calendar.svg",
        $background-size: 1rem,
        $background-position: right 0.5rem center
    );
    padding-right: 2rem;
}

.input-group > .custom-file:not(:first-child) .custom-file-label {
    @extend .form-control;
    border-radius: $input-radius;
    &:after {
        display: none;
    }
}

// Rich text editor
.rich-text-editor {
    height: auto;
    padding: 0;

    .ql-snow {
        border: none;

        &.ql-container {
            height: 5rem;
            margin-bottom: 1rem;
        }
    }

    &.is-focused {
        border-color: $input-focus-border-color;
        box-shadow: $input-focus-box-shadown;
    }

    .ql-editor {
        @include font($font-text-size-lg, $font-weight-normal);
        font-family: $input-font-family;
    }
}
