@use "sass:math";

// Forms groups
$form-groups-margin: 2rem;

.form-group {
    margin-bottom: $form-groups-margin;

    &--child {
        .data-read:not(:first-child) {
            margin-bottom: math.div($form-groups-margin, 2);
        }
    }
}

// Field Group
$field-group: 1rem;
$field-group-padding: 1rem;
$field-group-width: 100%;
$field-group-columns: 4;

.field-group {
    grid-template-columns: repeat(4, 1fr);
    display: grid;
    flex-wrap: wrap;
    margin: 0 -1rem 2rem -1rem;
    padding: 0;

    &--full {
        grid-template-columns: 1fr;

        // When we change componente we delete this declaration
        .multiselect-search-box {
            .form-control {
                width: calc(($field-group-width/4) - (1.5rem));
            }
        }
        textarea {
            width: 75%;
        }
    }

    .form-group {
        padding: 0 $field-group-padding;
        &--user-photo {
            grid-row: 1/4;
        }
    }

    @for $col from 1 to $field-group-columns {
        &--col-#{$col} {
            grid-template-columns: repeat($col, 1fr);
            width: math.div(($field-group-width * $col), $field-group-columns);
        }
    }
}
