@import "styles/_variables.scss";

#___reactour {
    font-family: inherit;

    rect {
        fill: $secondary;
        opacity: 0.8;
    }

    .helper {
        min-width: 26.25rem;
        min-height: 13.875rem;
        box-shadow: 0px 3px 6px $black;
        border-radius: 0.2rem;
        display: grid;
        padding-left: 2.875rem;
        .see-it-later {
            display: flex;
            flex-direction: row-reverse;
            width: max-content;
            grid-column: 1 / 2;
            grid-row: 2/2;
            margin: auto 0 0.625rem 0;

            label {
                margin: 0 0.5rem;
                font-weight: $font-weight-bold;
                color: $primary;
                letter-spacing: -0.07px;
                font-size: 0.875rem;
            }

            input[type="checkbox"] {
                -moz-appearance: none;
                -webkit-appearance: none;
                -o-appearance: none;
                border: 2px solid $secondary;
                width: 20px;
                height: 20px;
                border-radius: 5px;
                margin: 0;
            }
        }

        .step-0.content ~ [data-tour-elem="badge"] {
            display: none;
        }

        .content {
            margin-top: 0;
            grid-column: 1 / 3;
            letter-spacing: -0.14px;
            font-size: 1.25rem;
            &:before {
                content: "";
                display: block;
                width: 0;
                height: 0;
                position: absolute;

                border-top: 8px solid transparent;
                border-bottom: 8px solid transparent;
                border-right: 8px solid $white;
                left: -7px;

                top: 7px;
            }

            &.step-0 {
                .hr-2 {
                    margin-bottom: 1.75rem;
                }
                h1 {
                    letter-spacing: -0.22px;
                }
                .content-wrapper {
                    margin-top: 3.125rem;
                    display: flex;
                    font-size: 1.75rem;
                    .rocket-icon {
                        background: setUrlFolders("rocket.svg") no-repeat center left;
                        background-size: 6rem;
                        width: 18rem;
                        height: 7rem;
                    }
                }

                &:before {
                    display: none;
                }
            }

            &.step-3::before {
                bottom: 1rem;
                top: inherit;
            }

            &.step-4 {
                &:before {
                    border-right: none;
                    border-left: 8px solid $white;
                    right: -7px;
                    left: inherit;
                }

                ~ [data-tour-elem="controls"] button {
                    &:first-child {
                        display: none;
                    }

                    margin-left: auto;
                }
            }
        }

        [data-tour-elem="controls"] {
            grid-column: 2 / 2;
            grid-row: 2/2;
            margin-top: auto;

            button {
                margin: 0;

                &:first-child {
                    margin: 0 1rem 0 auto;
                }

                .btn-text,
                .btn-text-secondary {
                    margin: 0;
                    box-shadow: none;
                }

                .btn-text {
                    &:hover {
                        color: $white;
                        background-color: $primary;
                    }
                }

                .btn-text-secondary {
                    border: 2px solid $secondary;

                    &:hover {
                        color: $white;
                        background-color: $secondary;
                    }
                }
            }
        }

        [data-tour-elem="badge"] {
            font-family: inherit;
            bottom: 1.75rem;
            top: auto;
            left: 1.5rem;
            background-color: transparent;
            color: $secondary;
            letter-spacing: -0.08px;
            box-shadow: none;
            font-weight: $font-weight-bold;
        }
    }
}