@import "../_variables.scss";

.sp-main-fullpage {
    background-color: $bg-body;
    height: 100vh;
}

.filters-loading {
    display: flex;

    .spinner {
        background-size: 1.8rem;
        display: flex;

        & + label {
            margin: 0 0.3rem 2rem;
            align-self: center;

            &:after {
                content: "...";
            }
        }
    }

    label {
        display: none;
    }
}

.loading-page {
    @include flex(center, center);
    @include position(fixed, $top: 0, $left: 0, $height: 100vh, $width: 100vw);
    flex-direction: column;
    z-index: 1;
}

.loading-text {
    @include animation(0, 2s, text-color, ease);
    @include position(absolute);
    font-size: $font-text-size-lg;
    margin-top: 10rem;

    &:after {
        content: ".";
        color: $secondary;
        @include animation(0, 2s, dots, ease);
    }
}

.loading-spinner {
    font-size: 1rem;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    -webkit-transform: translateZ(2);
    -ms-transform: translateZ(2);
    transform: translateZ(2);
    @include animation(0, 2s, spinner-keyframe, ease);
}

.table-loading-wrapper {
    display: flex;
    background-color: $gray-100;
    height: 29rem;
    padding: 0 1rem;
    max-height: 100%;
    .table-loading {
        flex: 1;
        height: 0;
        background-color: $gray-100;
        margin: 0 1rem;
        @include animation(0, 4s, table-color);
        padding: 0.7rem 1rem;
    }
}
