// Login
$login-border-radius: 0.625rem;
$login-padding-inner: 1.25rem;
$bank-login-img: "login_bg.svg";

// Logo Technisys
$login-logo-technisys-width: 6rem;
$login-logo-technisys-height: 2rem;
$footer-legend-size: 0.625rem;

// Logo Bank
$bank-logo-width: 75px;
$bank-logo-height: 75px;

// Login label
$login-label-left-pos: 3.313rem;
$login-label-bottom-pos: 5.188rem;
$login-label-color: $white;
$login-label-width: 314px;
$login-label-height: 180px;
$login-label-font-size: 64px;
$login-label-line-height: 100%;

// Login header
$login-header-margin-top: 4.625rem;

// Forgot password:
$forgot-password-font-size: $font-text-size-lg;
$forgot-password-font-weight: $font-weight-normal;

// Copyright
$login-copyright-font: $font-text-size-sm;
$login-copyright-color: $gray-600;

.login {
    display: flex;
    flex: 1;
    height: 100vh;
    justify-content: space-between;
    padding: $login-padding-inner;

    .row {
        margin-left: 0;
        margin-right: 0;
    }

    .form-wrapper {
        @include flex(center, center);
        flex-direction: column;
        background: white;
        border-radius: $login-border-radius;
        padding: 3% 5%;

        #login-form {
            margin-top: auto;
            width: 100%;

            .alert-danger {
                padding: 1rem;
                margin-bottom: 1rem;
            }

            .form-group {
                padding: 0;
            }

            .forgot-pass {
                margin-top: 1.5rem;
                text-align: center;
                @include font($forgot-password-font-size, $forgot-password-font-weight);
            }

            .btn {
                @include flex(center, center);
                width: 100%;
                font-size: $font-text-size-lg;
            }
        }
    }
}

.login-image-wrapper {
    position: relative;
    border-radius: $login-border-radius;
    overflow: hidden;
    margin-right: $login-padding-inner;

    @include background($background-img: $bank-login-img, $background-size: cover, $background-position: left center);

    .login-label {
        position: absolute;
        user-select: none;
        left: $login-label-left-pos;
        bottom: $login-label-bottom-pos;
        color: $login-label-color;
        width: $login-label-width;
        height: $login-label-height;
        line-height: $login-label-line-height;
        @include font($login-label-font-size, $font-weight-normal);
    }
}

.login-header {
    @include flex(center, flex-start);

    flex-flow: row nowrap;
    width: 100%;
    margin-top: $login-header-margin-top;
    margin-bottom: 1rem;

    .bank-logo {
        min-width: $bank-logo-width;
        height: $bank-logo-height;
        margin-right: 2rem;

        @include background($background-img: $bank-logo, $background-size: cover, $background-position: center);
    }

    .cybo-legend {
        font-size: 1.5rem;
        font-weight: $font-weight-bold;

        .company-name {
            font-size: 1rem;
            font-weight: $font-weight-normal;
            margin-top: 0.375rem;
        }
    }
}

.login-from-footer {
    @include flex(flex-end, space-between);
    margin-top: auto;
    width: 100%;

    .logo-technisys {
        @include background(
            $background-img: "logo-technisys-login.svg",
            $background-size: contain,
            $background-position: center center
        );

        width: $login-logo-technisys-width;
        height: $login-logo-technisys-height;
    }

    .poweredBy,
    .version-box {
        position: relative;
        color: $login-copyright-color;
        font-size: $login-copyright-font;

        .logo-technisys-footer {
            position: absolute;
            width: max-content;
            font-size: $footer-legend-size;
            text-transform: lowercase;
            left: 1.625rem;
            top: 2.75rem;
        }
    }
}
