// Variables
$modal-background:          white;
$modal-border-radius:       1rem;
$modal-margin:              4rem auto;
$modal-padding:             2rem;
$modal-full-width:          70rem;
$modal-lg-width:            50rem;
$modal-md-width:            35rem;
$modal-max-height:          80vh;
$modal-icon-height:         1.5rem;
$modal-icon-width:          1.5rem;
$modal-icon-color:          $primary;
$modal-bg-background:       rgba($black, 0.3);
$modal-bg-height:           100vh;
$modal-bg-width:            100vw;
$modal-box-shadow:          0 0.5rem 2rem -0.5rem rgba($shadow-color, 0.24);

.modal-dialog {
    background:     $modal-background;
    border-radius:  $modal-border-radius;
    margin:         $modal-margin;
    padding:        $modal-padding;
    max-width:      $modal-lg-width;
    box-shadow:     $modal-box-shadow;
    max-height:     $modal-max-height;
    overflow:       auto;
    width:          100%;
   
    &.full-screen-dialog {
        max-width: $modal-full-width;
    }

    &.modal-auth {
        max-width: $modal-md-width;
    }

    .modal-content {
        white-space: pre-wrap;
        
        .modal-header {
            position: relative;

            h2 {
                flex: 1;
                margin: 0;
            }

            .modal-close {
                background: $modal-icon-color;
                @include mask-icon ('cancel.svg');
                @include position(absolute, $right: 0, $height: $modal-icon-height, $width: $modal-icon-width);
                margin: 0;
                padding: 0;
                text-indent: -9999px;
            }
        }

        .modal-title {
            display: flex;

            .modal-icon {
                margin: 0.5rem 1rem 0 0;
                height: $modal-icon-height;
                width: $modal-icon-width;

                &--danger {
                    @include icon($icon: "modal-icon-danger.svg", $icon-x: center, $icon-y: left);
                }
                &--warning {
                    @include icon($icon: "modal-icon-warning.svg", $icon-x: center, $icon-y: left);
                }
                &--success {
                    @include icon($icon: "modal-icon-success.svg", $icon-x: center, $icon-y: left);
                }
                &--session-timeout {
                    @include icon($icon: "alarm-warning.svg", $icon-x: center, $icon-y: left);
                }
            }
        }

        .modal-body {
            margin: 2rem 0;

            .search-button {
                margin: 0;
                float: right;
            }
        }

        .modal-footer {
            @include flex(center, flex-end);
            .btn {
                margin: 0 0 0 1rem;
            }
        }
    }
}

.modal-wrapper {
    @include position(fixed, $top: 0, $left: 0, $height: $modal-bg-height, $width: $modal-bg-width);
    background: $modal-bg-background;
    z-index: 5;
}