// Variables
$pagination-color-active: $black;
$pagination-bg-active: $gray-200;
$pagination-item-bg: $gray-200;
$pagination-item-bg-hover: $gray-400;
$pagination-item-color: $primary;
$pagination-item-disabled: $gray-600;
$pagination-item-margin: 0 0.25rem;
$pagination-item-padding: 0.25rem 0.5rem;
$pagination-item-radius: 0.5rem;

.pagination {
    @include flex(center, center);
    margin-top: 1.5rem;

    &__item {
        background: $pagination-item-bg;
        border-radius: $pagination-item-radius;
        margin: $pagination-item-margin;
        padding: 0;
        cursor: pointer;
        position: relative;
        list-style-type: none;

        &:hover,
        &:focus {
            background: $pagination-item-bg-hover;
        }

        .dropdown-menu {
            bottom: 2rem;
            padding: 1rem 0;
            width: 10rem;
            .form-group {
                margin-bottom: 1rem;
                &:first-child,
                &:last-child {
                    margin: 0;
                }
            }
            .btn {
                justify-content: center;
            }
        }
    }

    &__link {
        color: $pagination-item-color;
        border: none;
        height: auto;
        margin: 0;
        padding: $pagination-item-padding;

        &--left,
        &--right {
            background: $pagination-item-color;
            text-indent: -9999px;
            width: 1rem;
            &.disabled {
                background: $pagination-item-disabled;
            }
        }

        &--left {
            @include mask("caret-left.svg");
        }
        &--right {
            @include mask("caret-right.svg");
        }

        &.active {
            background: $pagination-bg-active;
            color: $pagination-color-active;
        }

        p {
            margin: 0;
        }
    }
}
