.quick-search {
    @include flex(center, center);
    @extend .form-control;
    flex-wrap: wrap;
    padding: 0.25rem 1rem;
    width: 20rem;

    &__width-auto {
        width: auto;
    }

    &__label {
        font-weight: $font-weight-bold;
        flex: 1 1 100%;
        margin-bottom: 0.5rem;
    }

    &__input {
        background: transparent;
        border: none;
        height: auto;
        @include font($font-text-size-lg, $font-weight-normal);
        font-family: $font-family-base;
        flex: 1;
        margin: 0 0.5rem;
        outline: none;
    }

    &__icon {
        &:not(.loading) {
            @include mask-icon("search-gray-900.svg");
            background: $black;
            height: 1.25rem;
            width: 1.25rem;
        }

        &.loading {
            @include icon($icon: "loading-button.svg", $icon-x: center, $icon-y: center);
            @include animation(0, 1s, spinner-rotate);
            height: 1rem;
            width: 1rem;
        }
    }

    &__cancel {
        @include mask-icon("cancel.svg");
        cursor: pointer;
        background: $primary;
        display: none;
        height: 1.5rem;
        width: 1.5rem;

        .show {
            display: block;
        }
    }

    &:focus-within {
        border-color: $input-focus-border-color;
        box-shadow: $input-focus-box-shadown;
    }

    &:hover &,
    &:focus & {
        &__icon {
            &:not(.loading) {
                background: $primary;
            }
        }
    }

    & + .filters {
        margin-top: 1rem;
    }
}

// OLD search
.groups-quick-search,
.search-box {
    margin-bottom: 2rem;
    position: relative;
    display: block;
    max-width: 20rem;
    position: relative;

    .form-control {
        padding: 0 2.5rem;
    }
}

.groups-quick-search {
    padding: 0 2.5rem;
}

.icon-search {
    @extend .quick-search__icon;
    @include position(absolute, $left: 0.6rem, $bottom: 0.6rem);
}

.icon-search-cancel {
    @extend .quick-search__cancel;
    @include position(absolute, $right: 0.6rem, $bottom: 0.6rem);
}
