// Variables
$states-border-radius: 0.25rem;
$states-font-size: $font-text-size-sm;
$states-font-weight: $font-weight-bold;
$states-padding: 0.25rem 1rem;
$states-height: 1.5rem;
$states-width: fit-content;

// Mixin
@mixin states($states-color, $states-background) {
    background: $states-background;
    color: $states-color;
}

// States
.states {
    border-radius: $states-border-radius;
    font: {
        size: $states-font-size;
        weight: $states-font-weight;
    }
    line-height: normal;
    text-align: center;
    padding: $states-padding;
    height: $states-height;
    width: $states-width;

    &--success {
        @include states($states-success-color, $states-success-bg);
    }
    &--error {
        @include states($states-error-color, $states-error-bg);
    }
    &--info {
        @include states($states-info-color, $states-info-bg);
    }
    &--caution {
        @include states($states-caution-color, $states-caution-bg);
    }
    &--disabled {
        @include states($states-disabled-color, $states-disabled-bg);
    }
}

.status-cell-container {
    @extend .states;
    @extend .states--disabled;

    &.active {
        @extend .states--success;
    }
    &.danger {
        @extend .states--error;
    }
}

// Response code
.response-code {
    font: {
        size: $font-text-size-sm;
        weight: $font-weight-bold;
    }
}

.response-code-green {
    @extend .response-code;
    color: $states-success-color;
}

.response-code-red {
    @extend .response-code;
    color: $states-error-color;
}

.response-code-gold {
    @extend .response-code;
    color: $states-caution-color;
}
