// Variables
$table-font-size-td: $font-text-size-lg;
$table-font-size-th: $font-text-size-base;
$table-font-weight-td: $font-weight-normal;
$table-font-weight-th: $font-weight-bold;
$table-border-color: $gray-400;
$table-border-height: 0.0625rem;
$table-cell-padding: 0.5rem 0.25rem;
$table-hover-bg: $gray-200;

//Alternate Table
$table-odd-rows-color: $gray-100;
$alt-table-font-weight-th: $font-weight-normal;
$alt-table-hover-bg: $gray-400;

.tableWrap {
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;

        thead {
            th {
                border-bottom: $table-border-height solid $table-border-color;
                &,
                * {
                    font: {
                        size: $table-font-size-th;
                        weight: $table-font-weight-th;
                    }
                }
                text-align: left;
                padding: $table-cell-padding;

                &.action-select-header,
                &.action-menu-header {
                    width: 2rem;
                }

                .sortable-header-container {
                    align-items: center;
                    position: relative;
                    display: flex;

                    .sortable-icon {
                        background: $gray-600;
                        cursor: pointer;
                        @include mask("no-sort.svg");
                        margin-left: 0.5rem;
                        height: 1rem;
                        width: 1rem;

                        &:hover,
                        &:focus {
                            background: $black;
                        }

                        &.asc {
                            @include icon($icon: "sort-asc.svg", $icon-x: center, $icon-y: center);
                        }
                        &.desc {
                            @include icon($icon: "sort-desc.svg", $icon-x: center, $icon-y: center);
                        }
                    }
                }
            }
        }

        tbody {
            tr {
                &:not(:last-child) {
                    border-bottom: $table-border-height solid $table-border-color;
                }
                td {
                    font: {
                        size: $table-font-size-td;
                        weight: $table-font-weight-td;
                    }
                    padding: $table-cell-padding;

                    div.text {
                        max-width: 15rem;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    .btn-link {
                        display: block;
                        width: fit-content;
                    }

                    .dropdown-button-bulk-actions {
                        padding: 0 0.5rem;
                    }
                }

                &:hover,
                &:focus {
                    background: $table-hover-bg;
                }
                &.clickable {
                    cursor: pointer;
                }
            }
        }
    }
}

.tableWrapAlternate {
    table {
        border-spacing: 0;
        width: 100%;

        thead {
            th {
                font: {
                    size: $table-font-size-th;
                    weight: $alt-table-font-weight-th;
                }
                color: $gray-700;
                padding: $table-cell-padding;
                text-align: left;
            }
        }

        tbody {
            tr {
                &:nth-child(odd) {
                    background: $table-odd-rows-color;
                }
                td {
                    font: {
                        size: $table-font-size-td;
                        weight: $table-font-weight-td;
                    }
                    padding: $table-cell-padding;

                    div.text {
                        max-width: 20rem;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }

                &:hover,
                &:focus {
                    background: $alt-table-hover-bg;
                }
                &.clickable {
                    cursor: pointer;
                }
            }
        }
    }
}

.table-white {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    padding: 1rem 0;

    &__header {
        border-bottom: $table-border-height solid $table-border-color;
        font: {
            size: $table-font-size-th;
            weight: $table-font-weight-th;
        }
    }

    &__row {
        display: flex;

        span {
            flex: 1;
        }
    }
}
