// Variables
$tabs-active-border: $primary;
$tabs-active-color: $primary;
$tabs-hover-color: $secondary;
$tabs-active-weight: $font-weight-bold;
$tabs-border-height: 0.125rem;
$tabs-border-color: $gray-400;
$tabs-font-size: $font-text-size-lg;
$tabs-font-weight: $font-weight-light;
$tabs-item-padding: 0.75rem 1.5rem;
$tabs-error-color: $states-error-color;

.tabs {
    border-bottom: $tabs-border-height solid $tabs-border-color;
    display: flex;

    &__link {
        border-bottom: $tabs-border-height solid transparent;
        color: $font-color-base;
        margin-bottom: -1px;
        cursor: pointer;
        padding: $tabs-item-padding;
        display: block;

        font: {
            size: $tabs-font-size;
            weight: $tabs-font-weight;
        }

        &:hover,
        &:focus {
            &:not([href]) {
                color: $tabs-hover-color;
            }
        }

        &.active {
            border-color: $tabs-active-border;
            color: $tabs-active-color;
            font-weight: $tabs-active-weight;

            &:hover,
            &:focus {
                color: $tabs-active-color;
            }
        }

        &.error {
            @include flex(center, center);
            color: $tabs-error-color;

            &.active {
                border-color: $tabs-error-color;
            }

            .icon {
                margin-left: 1rem;
            }

            &:hover,
            &:focus {
                color: $tabs-error-color;
            }
        }
    }
}

.tab-content {
    padding: 1.5rem 0;

    &--bg-white {
        @extend .box;
        margin: 1rem 0;
    }

    .tab-signatures,
    .tab-json,
    .tab-audit {
        @extend .box;
        min-height: 3rem;
        padding: 2rem;

        .tableWrap table tbody > tr:not(.clickable):hover {
            background-color: transparent;
        }
    }

    .tab-ticket {
        .external-ticket-frame {
            width: 100%;
            min-height: 25rem;
        }
    }

    .tab-json {
        overflow-x: auto;
    }

    .tab-pane,
    .tab-pane.active {
        padding: 0;
    }
}

// Old tabs
.group-tabs,
.customer-search-tabs {
    .nav-tabs {
        display: flex;
        .nav-link {
            border: none;
            background: transparent;
            font: {
                size: $tabs-font-size;
                weight: $tabs-font-weight;
            }
            padding: $tabs-item-padding;
            &:not(.nav-link2) {
                background: transparent;
                @extend .tabs__link;
                @extend .active;
            }
            &.prompt {
                font-weight: bold;
                cursor: auto;
            }
        }
    }
}
