.user-photo {
    border-radius: 1.25rem;
    height: 10rem;
    width: 10rem;
    background: setUrlFolders("frame-portrait.svg") center center no-repeat $gray-200;
    background-size: cover;
}

.user-photo-btn-box {
    margin: 1rem 0;
}

.user-photo-box {
    .form-control {
        display: none;
    }
}

//Profile photo
$photo-width: 64px;
$photo-height: 64px;
$photo-border-radius: 20px;
$default-background-color: #e0e0e0;

.menu-photo-box {
    @include flex(center, flex-start);
    flex-flow: row wrap;
    margin-bottom: 2rem;

    .menu-user-photo {
        min-width: $photo-width;
        height: $photo-height;
        border-radius: $photo-border-radius;
        margin-right: 1rem;

        &.default-image {
            @include background(
                $background-img: "default-user-icon.svg",
                $background-size: auto,
                $background-position: center center
            );
            background-color: $default-background-color;
        }
    }
}
