.widget {
    @extend .card;
    &__header {
        @extend .card__header;
    }
    & + .widget {
        margin: 0;
    }
}

.widget-title {
    @extend .card-title;
}

.widget-remove {
    @include position(absolute, $height: 1.5rem, $width: 1.5rem, $top: 1rem, $right: 1rem);
    @include background($background-img: "cancel.svg", $background-size: 1rem, $background-position: center center);
    cursor: pointer;
}

.react-resizable-handle-se {
    margin: 1rem;
}

.customer-box {
    align-items: flex-end;
}

.dashboard-page {
    margin: 0 -1.25rem;
}
