// Box
$box-background: white;
$box-shadow: $shadow;
$box-radius: 1rem;

.box {
    background: $box-background;
    box-shadow: $box-shadow;
    border-radius: $box-radius;
}

// Number
.number-total {
    font: {
        size: 4rem;
        weight: $font-weight-normal;
    }
    line-height: 3.25rem;
    text-align: center;
}

// Tag
$tag-bg-blue: $blue-input;
$tag-border-radius: 0.5rem;
$tag-color: white;
$tag-margin: 0 1rem;
$tag-padding: 0.125rem 0.5rem;

.tag {
    color: $tag-color;
    border-radius: $tag-border-radius;
    margin: $tag-margin;
    padding: $tag-padding;
    height: fit-content;

    &--blue {
        background: $tag-bg-blue;
    }
}

// Notification
$notification-bg: $blue-input;
$notification-border-radius: 50%;
$notification-height: 0.5rem;
$notification-width: 0.5rem;

.notification {
    @include position(absolute, $left: 2.25rem);
    background: $notification-bg;
    border-radius: $notification-border-radius;
    display: inline-block;
    height: $notification-height;
    width: $notification-width;
    z-index: 2;
}

// List links
.list-links {
    li {
        display: flex;
        margin-bottom: 0.5rem;
        .btn-icon {
            margin-left: 1rem;
        }
    }
}

// Logo Technisys
$login-logo-technisys-width: 6rem;
$login-logo-technisys-height: 1.5rem;

.logo-technisys {
    @include background(
        $background-img: "logo-technisys-login.svg",
        $background-size: contain,
        $background-position: center center
    );

    width: $login-logo-technisys-width;
    height: $login-logo-technisys-height;
}

// Copyright
$login-copyright-font: $font-text-size-sm;
$login-copyright-color: $gray-600;

.powered-by,
.version-box {
    color: $login-copyright-color;
    font-size: $login-copyright-font;
}

// Icons
.icon-warning {
    @include background($background-img: "warning.svg", $background-size: auto, $background-position: center center);
    height: 1rem;
    width: 1rem;
}

// Padding
.p-0 {
    padding: 0 !important;
}

.pl-0,
.px-0 {
    padding-left: 0 !important;
}

.d-flex {
    display: flex !important;
}

.align-self-end {
    align-self: flex-end !important;
}

.mb-5,
.my-5 {
    margin-bottom: 3rem !important;
}

.mb-4,
.my-4 {
    margin-bottom: 1.5rem !important;
}

.mt-4,
.my-4 {
    margin-top: 1.5rem !important;
}

.mb-3 {
    margin-bottom: 1rem !important;
}

.mb-1 {
    margin-bottom: 0.5rem !important;
}

.float-right {
    float: right !important;
}

.float-left {
    float: left !important;
}

.row-direction-container {
    display: flex;
    margin-bottom: 1rem;

    div {
        margin-right: 0.5rem;
    }
}

.no-padding-left {
    padding-left: 0 !important;
}

.custom-file,
.custom-file-input {
    position: relative;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
}
.custom-file-input {
    z-index: 2;
    margin: 0;
    opacity: 0;
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.custom-file-label,
.custom-file-label:after {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
}

.input-group > .custom-file {
    display: flex;
    align-items: center;
}

.copy-to-clipboard {
    margin-left: 10px;
    cursor: pointer;
    background: setUrlFolders("copy.svg") no-repeat left center;
    display: inline-block;
    background-size: 20px;
    width: 20px;
    height: 20px;
}

.schedule-label {
    margin-bottom: 20px;
    font-weight: $font-weight-normal;
}

.response-code-container {
    align-items: center;
    display: flex;
    margin: 0.25rem 1rem;

    label {
        margin: 0 0.5rem 0 0;
    }

    span {
        margin-left: 0.5rem;
    }
}

.field-group {
    .response-code-container {
        align-items: flex-start;
        margin: 0;

        .code {
            display: flex;
            .response-code-green {
                height: 1.5rem;
            }
        }

        span {
            margin: 0;
        }
    }
}

.value_green {
    color: $states-success-color;
    font-weight: $font-weight-bold;
}

.value_orange {
    color: $states-caution-color;
    font-weight: $font-weight-bold;
}

.value_red {
    color: $states-error-color;
    font-weight: $font-weight-bold;
}

.invalid__data {
    background: setUrlFolders("warning.svg") no-repeat center right;
    font-size: 12px;
    color: $states-caution-color;
    font-weight: 400;
}

.filters__legend {
    font-size: 0.75rem;
    margin-bottom: 2rem;
}

.profiles-count-column {
    width: 20%;
}

.poi-map {
    height: 400px;
}

.poi-description {
    border: none;
    border-bottom: 2px solid $gray-900;
    margin-bottom: 8px;
    padding-top: 8px;
}

.no-data-found {
    margin: 1rem 0;
    text-align: center;
}

ul,
ul li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.hidden {
    display: none !important;
}

.show {
    display: block !important;
}

.no-visibility {
    visibility: hidden !important;
}

.visible {
    visibility: visible !important;
}

.no-mb {
    margin-bottom: 0;
}

.centered-flex-row {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.mr12 {
    margin-right: 12px;
}

.mb3 {
    margin-bottom: 3px;
}

.mtop16 {
    margin-top: 16px;
}

.mtop30 {
    margin-top: 30px;
}

.mtop37 {
    margin-top: 37px;
}

.mb32 {
    margin-bottom: 32px;
}

.mb40 {
    margin-bottom: 40px;
}

.mtop101 {
    margin-top: 101px;
}

.pl-48 {
    padding-left: 48px;
}

.no-left-padding {
    padding-left: 0;
}

.ml-2,
.mx-2 {
    margin: 0 !important;
}

.d-flex-space-between {
    justify-content: space-between;
}

.d-flex-column {
    display: flex;
    flex-direction: column;
}
