$icon-md-width: 1.25rem;
$icon-md-height: 1.25rem;

.icon {
    display: block;
    height: $icon-md-height;
    width: $icon-md-width;

    &--arrow {
        @include mask('i-arrow.svg');        
    }
}
