@mixin keyframes($animation) {
    @-webkit-keyframes #{$animation} {
        @content;
    }

    @-moz-keyframes #{$animation} {
        @content;
    }

    @-o-keyframes #{$animation} {
        @content;
    }

    @keyframes #{$animation} {
        @content;
    }
}

@mixin animation($delay, $duration, $animation, $direction: forward, $fillmode: fowards, $iteration: infinite) {
    -webkit-animation-delay: $delay;
    -webkit-animation-duration: $duration;
    -webkit-animation-name: $animation;
    -webkit-animation-fill-mode: $fillmode;
    -webkit-animation-direction: $direction;
    -webkit-animation-iteration-count: $iteration;

    -moz-animation-delay: $delay;
    -moz-animation-duration: $duration;
    -moz-animation-name: $animation;
    -moz-animation-fill-mode: $fillmode;
    -moz-animation-direction: $direction;
    -moz-animation-iteration-count: $iteration;

    animation-delay: $delay;
    animation-duration: $duration;
    animation-name: $animation;
    animation-fill-mode: $fillmode;
    animation-direction: $direction;
    animation-iteration-count: $iteration;
}

@include keyframes(text-color) {
    from {
        color: colorOpacity($secondary, 0.2);
    }

    to {
        color: colorOpacity($secondary, 0.9);
    }
}

@function calculateBoxShadow($i) {
    $shadow: null;
    $x: -$i + 10;
    $increment: 1;

    @for $j from 1 through 5 {
        $shadow: $shadow
            0em
            #{$increment *
            2.5em}
            0em
            0em
            #{if(
                $i < 10,
                #{if(
                        $j <= $i,
                        colorOpacity($gray-300, calc(0.1 * (6 - #{$j})))
                            ","
                            0em
                            #{($increment + 1) *
                            2.5em}
                            0em
                            0em
                            colorOpacity($gray-300, calc(0.1 * (6 - #{$j}))),
                        colorOpacity($gray-300, 0.1)
                            ","
                            0em
                            #{($increment + 1) *
                            2.5em}
                            0em
                            0em
                            colorOpacity($gray-300, 0.1)
                    )},
                #{if(
                        $j < 20 - $i,
                        colorOpacity($gray-300, calc(0.1 * (6 - #{$j})))
                            ","
                            0em
                            #{($increment + 1) *
                            2.5em}
                            0em
                            0em
                            colorOpacity($gray-300, calc(0.1 * (6 - #{$j}))),
                        colorOpacity($gray-300, 0.1)
                            ","
                            0em
                            #{($increment + 1) *
                            2.5em}
                            0em
                            0em
                            colorOpacity($gray-300, 0.1)
                    )}
            )}
            #{if($j !=5, ",", "")};
        $increment: $increment + 2;
    }

    @return $shadow;
}

@include keyframes(table-color) {
    @for $i from 0 through 20 {
        #{$i * 5%} {
            box-shadow: calculateBoxShadow($i);
        }
    }
}

@include keyframes(dots) {
    from {
        color: colorOpacity($secondary, 0.2);
    }

    to {
        color: colorOpacity($secondary, 0.9);
    }

    0% {
        color: rgba(0, 0, 0, 0);
        text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
    }

    12.5% {
        color: colorOpacity($secondary, 0.2);
        text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
    }

    25% {
        color: colorOpacity($secondary, 0.3);
        text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
    }

    37.5% {
        color: colorOpacity($secondary, 0.4);
        text-shadow: 0.25em 0 0 colorOpacity($secondary, 0.4), 0.5em 0 0 rgba(0, 0, 0, 0);
    }

    50% {
        color: colorOpacity($secondary, 0.5);
        text-shadow: 0.25em 0 0 colorOpacity($secondary, 0.5), 0.5em 0 0 rgba(0, 0, 0, 0);
    }

    62.5% {
        color: colorOpacity($secondary, 0.6);
        text-shadow: 0.25em 0 0 colorOpacity($secondary, 0.6), 0.5em 0 0 rgba(0, 0, 0, 0);
    }

    75% {
        color: colorOpacity($secondary, 0.7);
        text-shadow: 0.25em 0 0 colorOpacity($secondary, 0.7), 0.5em 0 0 colorOpacity($secondary, 0.7);
    }

    87.5% {
        color: colorOpacity($secondary, 0.8);
        text-shadow: 0.25em 0 0 colorOpacity($secondary, 0.8), 0.5em 0 0 colorOpacity($secondary, 0.8);
    }

    100% {
        color: colorOpacity($secondary, 0.9);
        text-shadow: 0.25em 0 0 colorOpacity($secondary, 0.9), 0.5em 0 0 colorOpacity($secondary, 0.9);
    }
}

@include keyframes(spinner-keyframe) {
    0%,
    100% {
        box-shadow: 0em -2.6em 0em 0em colorOpacity($secondary, 0.9), 1.8em -1.8em 0 0em colorOpacity($secondary, 0.8),
            2.5em 0em 0 0em colorOpacity($secondary, 0.7), 1.75em 1.75em 0 0em colorOpacity($secondary, 0.6),
            0em 2.5em 0 0em colorOpacity($secondary, 0.5), -1.8em 1.8em 0 0em colorOpacity($secondary, 0.4),
            -2.6em 0em 0 0em colorOpacity($secondary, 0.3), -1.8em -1.8em 0 0em colorOpacity($secondary, 0.2);
    }

    6.25% {
        box-shadow: 0em -2.6em 0em 0em colorOpacity($secondary, 0.9), 1.8em -1.8em 0 0em colorOpacity($secondary, 0.9),
            2.5em 0em 0 0em colorOpacity($secondary, 0.7), 1.75em 1.75em 0 0em colorOpacity($secondary, 0.6),
            0em 2.5em 0 0em colorOpacity($secondary, 0.5), -1.8em 1.8em 0 0em colorOpacity($secondary, 0.4),
            -2.6em 0em 0 0em colorOpacity($secondary, 0.3), -1.8em -1.8em 0 0em colorOpacity($secondary, 0.2);
    }

    12.5% {
        box-shadow: 0em -2.6em 0em 0em colorOpacity($secondary, 0.9), 1.8em -1.8em 0 0em colorOpacity($secondary, 0.9),
            2.5em 0em 0 0em colorOpacity($secondary, 0.9), 1.75em 1.75em 0 0em colorOpacity($secondary, 0.6),
            0em 2.5em 0 0em colorOpacity($secondary, 0.5), -1.8em 1.8em 0 0em colorOpacity($secondary, 0.4),
            -2.6em 0em 0 0em colorOpacity($secondary, 0.3), -1.8em -1.8em 0 0em colorOpacity($secondary, 0.2);
    }

    18.75% {
        box-shadow: 0em -2.6em 0em 0em colorOpacity($secondary, 0.9), 1.8em -1.8em 0 0em colorOpacity($secondary, 0.9),
            2.5em 0em 0 0em colorOpacity($secondary, 0.9), 1.75em 1.75em 0 0em colorOpacity($secondary, 0.9),
            0em 2.5em 0 0em colorOpacity($secondary, 0.5), -1.8em 1.8em 0 0em colorOpacity($secondary, 0.4),
            -2.6em 0em 0 0em colorOpacity($secondary, 0.3), -1.8em -1.8em 0 0em colorOpacity($secondary, 0.2);
    }

    25% {
        box-shadow: 0em -2.6em 0em 0em colorOpacity($secondary, 0.9), 1.8em -1.8em 0 0em colorOpacity($secondary, 0.9),
            2.5em 0em 0 0em colorOpacity($secondary, 0.9), 1.75em 1.75em 0 0em colorOpacity($secondary, 0.9),
            0em 2.5em 0 0em colorOpacity($secondary, 0.9), -1.8em 1.8em 0 0em colorOpacity($secondary, 0.4),
            -2.6em 0em 0 0em colorOpacity($secondary, 0.3), -1.8em -1.8em 0 0em colorOpacity($secondary, 0.2);
    }

    31.25% {
        box-shadow: 0em -2.6em 0em 0em colorOpacity($secondary, 0.9), 1.8em -1.8em 0 0em colorOpacity($secondary, 0.9),
            2.5em 0em 0 0em colorOpacity($secondary, 0.9), 1.75em 1.75em 0 0em colorOpacity($secondary, 0.9),
            0em 2.5em 0 0em colorOpacity($secondary, 0.9), -1.8em 1.8em 0 0em colorOpacity($secondary, 0.9),
            -2.6em 0em 0 0em colorOpacity($secondary, 0.3), -1.8em -1.8em 0 0em colorOpacity($secondary, 0.2);
    }

    37.5% {
        box-shadow: 0em -2.6em 0em 0em colorOpacity($secondary, 0.9), 1.8em -1.8em 0 0em colorOpacity($secondary, 0.9),
            2.5em 0em 0 0em colorOpacity($secondary, 0.9), 1.75em 1.75em 0 0em colorOpacity($secondary, 0.9),
            0em 2.5em 0 0em colorOpacity($secondary, 0.9), -1.8em 1.8em 0 0em colorOpacity($secondary, 0.9),
            -2.6em 0em 0 0em colorOpacity($secondary, 0.9), -1.8em -1.8em 0 0em colorOpacity($secondary, 0.2);
    }

    43.75%,
    50% {
        box-shadow: 0em -2.6em 0em 0em colorOpacity($secondary, 0.9), 1.8em -1.8em 0 0em colorOpacity($secondary, 0.9),
            2.5em 0em 0 0em colorOpacity($secondary, 0.9), 1.75em 1.75em 0 0em colorOpacity($secondary, 0.9),
            0em 2.5em 0 0em colorOpacity($secondary, 0.9), -1.8em 1.8em 0 0em colorOpacity($secondary, 0.9),
            -2.6em 0em 0 0em colorOpacity($secondary, 0.9), -1.8em -1.8em 0 0em colorOpacity($secondary, 0.9);
    }

    56.25% {
        box-shadow: 0em -2.6em 0em 0em colorOpacity($secondary, 0.9), 1.8em -1.8em 0 0em colorOpacity($secondary, 0.8),
            2.5em 0em 0 0em colorOpacity($secondary, 0.9), 1.75em 1.75em 0 0em colorOpacity($secondary, 0.9),
            0em 2.5em 0 0em colorOpacity($secondary, 0.9), -1.8em 1.8em 0 0em colorOpacity($secondary, 0.9),
            -2.6em 0em 0 0em colorOpacity($secondary, 0.9), -1.8em -1.8em 0 0em colorOpacity($secondary, 0.9);
    }

    62.5% {
        box-shadow: 0em -2.6em 0em 0em colorOpacity($secondary, 0.9), 1.8em -1.8em 0 0em colorOpacity($secondary, 0.8),
            2.5em 0em 0 0em colorOpacity($secondary, 0.7), 1.75em 1.75em 0 0em colorOpacity($secondary, 0.9),
            0em 2.5em 0 0em colorOpacity($secondary, 0.9), -1.8em 1.8em 0 0em colorOpacity($secondary, 0.9),
            -2.6em 0em 0 0em colorOpacity($secondary, 0.9), -1.8em -1.8em 0 0em colorOpacity($secondary, 0.9);
    }

    68.75% {
        box-shadow: 0em -2.6em 0em 0em colorOpacity($secondary, 0.9), 1.8em -1.8em 0 0em colorOpacity($secondary, 0.8),
            2.5em 0em 0 0em colorOpacity($secondary, 0.7), 1.75em 1.75em 0 0em colorOpacity($secondary, 0.6),
            0em 2.5em 0 0em colorOpacity($secondary, 0.9), -1.8em 1.8em 0 0em colorOpacity($secondary, 0.9),
            -2.6em 0em 0 0em colorOpacity($secondary, 0.9), -1.8em -1.8em 0 0em colorOpacity($secondary, 0.9);
    }

    75% {
        box-shadow: 0em -2.6em 0em 0em colorOpacity($secondary, 0.9), 1.8em -1.8em 0 0em colorOpacity($secondary, 0.8),
            2.5em 0em 0 0em colorOpacity($secondary, 0.7), 1.75em 1.75em 0 0em colorOpacity($secondary, 0.6),
            0em 2.5em 0 0em colorOpacity($secondary, 0.5), -1.8em 1.8em 0 0em colorOpacity($secondary, 0.9),
            -2.6em 0em 0 0em colorOpacity($secondary, 0.9), -1.8em -1.8em 0 0em colorOpacity($secondary, 0.9);
    }

    81.25% {
        box-shadow: 0em -2.6em 0em 0em colorOpacity($secondary, 0.9), 1.8em -1.8em 0 0em colorOpacity($secondary, 0.8),
            2.5em 0em 0 0em colorOpacity($secondary, 0.7), 1.75em 1.75em 0 0em colorOpacity($secondary, 0.6),
            0em 2.5em 0 0em colorOpacity($secondary, 0.5), -1.8em 1.8em 0 0em colorOpacity($secondary, 0.4),
            -2.6em 0em 0 0em colorOpacity($secondary, 0.9), -1.8em -1.8em 0 0em colorOpacity($secondary, 0.9);
    }

    87.5% {
        box-shadow: 0em -2.6em 0em 0em colorOpacity($secondary, 0.9), 1.8em -1.8em 0 0em colorOpacity($secondary, 0.8),
            2.5em 0em 0 0em colorOpacity($secondary, 0.7), 1.75em 1.75em 0 0em colorOpacity($secondary, 0.6),
            0em 2.5em 0 0em colorOpacity($secondary, 0.5), -1.8em 1.8em 0 0em colorOpacity($secondary, 0.4),
            -2.6em 0em 0 0em colorOpacity($secondary, 0.3), -1.8em -1.8em 0 0em colorOpacity($secondary, 0.9);
    }

    93.75% {
        box-shadow: 0em -2.6em 0em 0em colorOpacity($secondary, 0.9), 1.8em -1.8em 0 0em colorOpacity($secondary, 0.8),
            2.5em 0em 0 0em colorOpacity($secondary, 0.7), 1.75em 1.75em 0 0em colorOpacity($secondary, 0.6),
            0em 2.5em 0 0em colorOpacity($secondary, 0.5), -1.8em 1.8em 0 0em colorOpacity($secondary, 0.4),
            -2.6em 0em 0 0em colorOpacity($secondary, 0.3), -1.8em -1.8em 0 0em colorOpacity($secondary, 0.2);
    }
}


@keyframes icon-rotation {
    from {
        transform: rotate(180deg);
    }

    to {
        transform: rotate(0deg);
    }
}

@keyframes icon-rotation-X-axis {
    0% {
        transform: rotateX(180deg);
    }

    100% {
        transform: rotateX(0deg);
    }
}