@mixin icon($icon, $icon-x, $icon-y) {
    background: setUrlFolders($icon) $icon-x $icon-y no-repeat;
}

// Position
@mixin position($position, $top: null, $right: null, $bottom: null, $left: null, $width: null, $height: null) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    height: $height;
    width: $width;
}

// Mask
@mixin mask-icon($value) {
    mask: setUrlFolders($value) no-repeat 50% 50%;
    -moz-mask: setUrlFolders($value) no-repeat 50% 50%;
    -ms-mask: setUrlFolders($value) no-repeat 50% 50%;
    -webkit-mask: setUrlFolders($value) no-repeat 50% 50%;
}

// Transitions
@mixin transition($value) {
    -webkit-transition: $value;
    -moz-transition: $value;
    -ms-transition: $value;
    -o-transition: $value;
    transition: $value;
}

// Background
@mixin background($background-img, $background-size, $background-position) {
    background: setUrlFolders($background-img) no-repeat $background-position;
    background-size: $background-size;
}

// Transform
@mixin mask($icon) {
    mask: setUrlFolders($icon) no-repeat 50% 50%;
    -moz-mask: setUrlFolders($icon) no-repeat 50% 50%;
    -ms-mask: setUrlFolders($icon) no-repeat 50% 50%;
    -webkit-mask: setUrlFolders($icon) no-repeat 50% 50%;
}

// flex
@mixin flex($flex-x, $flex-y) {
    display: flex;
    align-items: $flex-x;
    justify-content: $flex-y;
}

// font
@mixin font($font-size, $font-weight) {
    font: {
        size: $font-size;
        weight: $font-weight;
    }
}

// Mixins
@mixin hr-line($height) {
    border: none;
    height: $height;
    color: $gray-900;
    background-color: $gray-900;
}

// Breakpoints
$breakpoints: (
    "small": (
        max-width: $break-small,
    ),
    "medium": (
        max-width: $break-medium,
    ),
    "large": (
        max-width: $break-large,
    ),
);

@mixin breakpoints($breakpoint) {
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
        @content;
    }
}
