/* OWN ANIMATIONS */

/* Animation for first card on product list */

#root,
#root > div:first-child,
.transition-wrapper {
    height: 100%;
}

@include respond-to(desktop) {
    #root > div:first-child {
        overflow: auto;
    }
}

.transition-wrapper {
    overflow: auto;
}

/* Dont show partial content until transition finish */
// .transition-appear-active .above-the-fold { opacity: 0; }

/* Solves general layer conflict */
.transition-leave {
    z-index: 100 !important;
}

.transition-appear {
    z-index: 400 !important;
}

@include respond-to(mobile) {
    .theme-auth.transition-appear {
        background-color: white;
    }
}

/* Animation for changing page */
.transition-item {
    box-sizing: border-box;
    overflow: auto;

    width: 100vw;

    &.transition-appear,
    &.transition-leave {
        position: absolute;
        top: 0;

        height: 100vh;
    }

    &.transition-leave {
        left: 0;
    }
}

.transition-down {
    .transition-item {
        &.transition-appear {
            left: 0;
            z-index: 2;

            opacity: 0.5;

            transform: translate3d(0, -100%, 0);

            &.transition-appear-active {
                opacity: 1;

                transform: translate3d(0, 0, 0);
                transition: transform 0.55s ease-in-out 0.05s, opacity 0.25s ease-in-out 0.05s;
            }
        }

        &.transition-leave {
            z-index: 2;

            transform: translate3d(0, 0, 0);

            &.transition-leave-active {
                transform: translate3d(0, 0, 0);
                transition: transform 0.55s ease-in-out 0.05s, opacity 0.25s ease-in-out 0.05s;

                @include respond-to(desktop) {
                    opacity: 0;
                }
            }
        }
    }
}

.transition-left {
    .transition-item {
        &.transition-appear {
            left: 0;
            z-index: 2;

            opacity: 0.5;

            transform: translate3d(-100%, 0, 0);

            &.transition-appear-active {
                opacity: 1;

                transform: translate3d(0, 0, 0);
                transition: transform 0.5s, opacity 0.5s ease-in-out;
            }
        }

        &.transition-leave {
            z-index: 2;

            transform: translate3d(0, 0, 0);

            &.transition-leave-active {
                transform: translate3d(100%, 0, 0);
                transition: transform 0.5s, opacity 0.5s ease-in-out;

                @include respond-to(desktop) {
                    opacity: 0;
                }
            }
        }
    }
}

.transition-right {
    .transition-item {
        &.transition-appear {
            left: 0;
            z-index: 2;

            transform: translate3d(100%, 0, 0);

            &.transition-appear-active {
                transform: translate3d(0, 0, 0);
                transition: transform 0.5s ease;
            }
        }

        &.transition-leave {
            z-index: 1;

            opacity: 1;

            transform: translate3d(0, 0, 0);

            &.transition-leave-active {
                transform: translate3d(-100%, 0, 0);
                transition: transform 0.5s, opacity 0.5s ease-in-out;

                @include respond-to(desktop) {
                    opacity: 0;
                }
            }
        }
    }
}

/* Transición de navegacion entre paginas del menu */
.transition-fade {
    .transition-item {
        &.transition-appear {
            position: absolute;

            opacity: 0;

            transition: opacity 0.55s ease-in-out;

            &.transition-appear-active {
                opacity: 1;
            }
        }

        &.transition-leave {
            position: absolute;

            opacity: 1;

            -webkit-transition: opacity 0.3s ease-in-out;
                    transition: opacity 0.3s ease-in-out;

            &.transition-leave-active {
                opacity: 0;
            }
        }
    }
}

.item-slide-enter {
    position: relative;
    left: 100vw;

    &.item-slide-enter-active {
        left: 0;

        transition: left 0.3s ease-in-out;
    }
}

.item-slide-leave {
    position: relative;
    left: 100vw;

    &.item-slide-leave-active {
        left: 0;

        transition: left 0.3s ease-in-out;
    }
}

/* Animation for popups */

.popup-slide-enter {
    .popup-overlay {
        opacity: 0;
    }

    .popup {
        bottom: -100vh;
    }

    &.popup-slide-enter-active {
        .popup-overlay {
            opacity: 1;
        }

        .popup {
            bottom: 0;

            transition: bottom 0.3s ease-in-out;
        }
    }
}

.popup-slide-leave {
    .popup-overlay {
        opacity: 1;
    }

    .popup {
        bottom: 0;
    }

    &.popup-slide-leave-active {
        .popup-overlay {
            opacity: 1;
        }

        .popup {
            bottom: -100vh;

            transition: bottom 0.3s ease-in-out;
        }
    }
}

/* Animation for showing table filter */

.chooser-element-wrapper {
    .list-filter-wrapper {
        &.filter-slide-enter {
            top: 100vh;

            &.filter-slide-enter-active {
                top: 0;

                transition: top 0.3s ease-in-out;
            }
        }

        &.filter-slide-leave {
            top: 0;

            &.filter-slide-leave-active {
                top: 100vh;

                transition: top 0.3s ease-in-out;
            }
        }
    }
}

/* Animation for full page loading state */

.loading-indicator::before {
    transform-origin: 50% 50%;
    animation: spin linear 1s;
    animation-iteration-count: infinite;
}

.page-loading-state,
.area-loading-state {
    .loading-text {
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-name: pulse;
        animation-fill-mode: both;
    }
}

.button {
    .loading-indicator {
        transform-origin: 50% 50%;
        animation: spin linear 1s;
        animation-iteration-count: infinite;
    }
}

.field-file.state-loading {
    a:after {
        transform-origin: 50% 50%;
        animation: spin linear 1s;
        animation-iteration-count: infinite;
    }
}

/* Animation for select handle rotation */

.selectize-input {
    &:not(.dropdown-active):after {
        transition: transform 0.3s;
    }

    &.dropdown-active:after {
        transition: transform 0.3s;
    }
}

/* Animation for select handle rotation for react-selectize */

.react-selectize {
    &:not(.open) {
        .react-selectize-control:after {
            transition: transform 0.3s;
        }
    }

    &.open {
        .react-selectize-control:after {
            transition: transform 0.3s;
        }
    }
}

/* ANIMATE.CSS ANIMATIONS (TEMP) */

/*!
* animate.css -http://daneden.me/animate
* Version - 3.5.2
* Licensed under the MIT license - http://opensource.org/licenses/MIT
*
* Copyright (c) 2017 Daniel Eden
*/

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.bounceInDown {
    animation-name: bounceInDown;
}

.bounceOutUp {
    animation-name: bounceOutUp;
}

/* Keyframes */

@keyframes bounceInDown {
    0%,
    60%,
    75%,
    90%,
    100% {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;

        transform: translate3d(0, -3000px, 0);
    }

    60% {
        opacity: 1;

        transform: translate3d(0, 25px, 0);
    }

    75% {
        transform: translate3d(0, -10px, 0);
    }

    90% {
        transform: translate3d(0, 5px, 0);
    }

    100% {
        transform: none;
    }
}

@keyframes bounceOutUp {
    20% {
        transform: translate3d(0, -10px, 0);
    }

    40%,
    45% {
        opacity: 1;

        transform: translate3d(0, 20px, 0);
    }

    100% {
        opacity: 0;

        transform: translate3d(0, -2000px, 0);
    }
}

@keyframes pulse {
    from {
        transform: scale3d(1, 1, 1);
    }

    50% {
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

@keyframes slidein {
    0% {
        margin-left: -10%;

        opacity: 0.5;
    }

    100% {
        margin-left: 0;

        opacity: 1;
    }
}

@keyframes inverse-slidein {
    0% {
        margin-left: 5%;

        opacity: 0.5;
    }

    100% {
        margin-left: 0;

        opacity: 1;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}

@keyframes bouncedelay {
    0% {
        transform: scale(0.6);
    }

    80% {
        transform: scale(0.6);
    }

    40% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.6);
    }
}

@keyframes bounce {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes appearSections {
    0% {
        opacity: 0;

        transform: translateY(4rem);
    }

    100% {
        opacity: 1;

        transform: translateY(0);
    }
}

@keyframes appearOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

// 5% & 10% hack: avoid reflow of the page in mobile
@keyframes slideUp {
    0% {
        opacity: 0;

        transform: translate3d(0, 0, 0);
    }

    5% {
        opacity: 0;

        transform: translate3d(0, 100%, 0);
    }

    10% {
        opacity: 1;

        transform: translate3d(0, 100%, 0);
    }

    100% {
        opacity: 1;

        transform: translate3d(0, 0, 0);
    }
}

@keyframes appearDatePicker {
    0% {
        opacity: 0;

        pointer-events: none;
    }

    100% {
        opacity: 0.7;

        pointer-events: all;
    }
}

@keyframes showLayer {
    0% {
        display: none;

        opacity: 0;

        pointer-events: none;
    }

    100% {
        display: block;

        opacity: 0.7;

        pointer-events: all;
    }
}

@keyframes hideLayer {
    0% {
        display: block;

        content: "";

        opacity: 0.7;

        pointer-events: all;
    }

    100% {
        display: none;

        content: none;

        opacity: 0;

        pointer-events: none;
    }
}

@keyframes appearFromCenter {
    0% {
        opacity: 0.5;

        transform: scale(0);
    }

    80% {
        transform: scale(1.1);
    }

    100% {
        opacity: 1;

        transform: scale(1);
    }
}

// TRANSITION GLOBAL DURATION

$transition-global-duration: 0.6;
$transition-duration: 0.55;
$transition-delay: $transition-global-duration - $transition-duration;
$transition-duration--opacity: 0.25;

// $transition-duration--change-feature: "0.95";
// $transition-duration--drill: "0.95";
// $transition-duration--flow: "0.95";
// ------------

.transition-change-feature {
    .transition-item {
        &.transition-appear {
            z-index: 2;

            opacity: 0;

            &.transition-appear-active {
                opacity: 1;

                transition: opacity #{$transition-duration}s #{$transition-delay}s;
            }
        }

        &.transition-leave {
            z-index: 2;

            opacity: 1;

            &.transition-leave-active {
                opacity: 0;

                transition: opacity #{$transition-duration}s #{$transition-delay}s;
            }
        }
    }
}

.transition-drill-in {
    .theme-auth.transition-item {
        &.transition-appear {
            @include respond-to(mobile) {
                background-color: $color-layoutLight;
            }
        }
    }
}

.transition-drill-in {
    .transition-item {
        &.transition-appear {
            left: 0;
            z-index: 2;

            opacity: 0.5;

            transform: translate3d(100%, 0, 0);

            &.transition-appear-active {
                opacity: 1;

                transform: translate3d(0, 0, 0);
                transition: transform #{$transition-duration}s cubic-bezier(0.68, 0.16, 0.27, 0.85) #{$transition-delay}s,
                opacity #{$transition-duration--opacity}s #{$transition-delay}s;
            }
        }

        &.transition-leave {
            z-index: 2;

            transform: translate3d(0, 0, 0);

            &.transition-leave-active {
                transform: translate3d(-100%, 0, 0);
                transition: transform #{$transition-duration}s cubic-bezier(0.68, 0.16, 0.27, 0.85) #{$transition-delay}s,
                opacity #{$transition-duration--opacity}s #{$transition-delay}s;

                @include respond-to(desktop) {
                    opacity: 0;
                }
            }
        }
    }
}

.transition-drill-out {
    .transition-item {
        &.transition-appear {
            left: 0;
            z-index: 2;

            opacity: 0.5;

            transform: translate3d(-100%, 0, 0);

            &.transition-appear-active {
                opacity: 1;

                transform: translate3d(0, 0, 0);
                transition: transform #{$transition-duration}s cubic-bezier(0.68, 0.16, 0.27, 0.85) #{$transition-delay}s,
                opacity #{$transition-duration--opacity}s #{$transition-delay}s;
            }
        }

        &.transition-leave {
            z-index: 2;

            transform: translate3d(0, 0, 0);

            &.transition-leave-active {
                transform: translate3d(100%, 0, 0);
                transition: transform #{$transition-duration}s cubic-bezier(0.68, 0.16, 0.27, 0.85) #{$transition-delay}s,
                opacity #{$transition-duration--opacity}s #{$transition-delay}s;

                @include respond-to(desktop) {
                    opacity: 0;
                }
            }
        }
    }
}

.transition-flow-open {
    .transition-item {
        &.transition-appear {
            left: 0;
            z-index: 2;

            opacity: 0.5;

            transform: translate3d(0, -100%, 0);

            &.transition-appear-active {
                opacity: 1;

                transform: translate3d(0, 0, 0);
                transition: transform #{$transition-duration}s cubic-bezier(0.91, 0.23, 0.78, 1.29) #{$transition-delay}s,
                opacity #{$transition-duration--opacity}s #{$transition-delay}s;
            }
        }

        &.transition-leave {
            z-index: 2;

            transform: translate3d(0, 0, 0);

            &.transition-leave-active {
                transform: translate3d(0, 0, 0);
                transition: transform #{$transition-duration}s ease-in-out #{$transition-delay}s,
                opacity #{$transition-duration--opacity}s #{$transition-delay}s;

                @include respond-to(desktop) {
                    opacity: 0;
                }
            }
        }
    }
}

.transition-flow-close {
    .transition-item {
        &.transition-appear {
            left: 0;
            z-index: 2;

            opacity: 0.5;

            transform: translate3d(0, 0, 0);

            &.transition-appear-active {
                opacity: 1;

                transform: translate3d(0, 0, 0);
                transition: transform #{$transition-duration}s ease-in-out #{$transition-delay}s,
                opacity #{$transition-duration--opacity}s ease-in-out #{$transition-delay}s;
            }
        }

        &.transition-leave {
            z-index: 2;

            transform: translate3d(0, 0, 0);

            &.transition-leave-active {
                transform: translate3d(0, 100%, 0);
                transition: transform #{$transition-duration}s ease-in-out #{$transition-delay}s,
                opacity #{$transition-duration--opacity}s ease-in-out #{$transition-delay}s;

                @include respond-to(desktop) {
                    opacity: 0;
                }
            }
        }
    }
}

.login-background-wrapper {
    top: 0;
    z-index: -1;
}

.weatherFadeOut {
    animation: fadeOutWeather 3s;
    animation-fill-mode: forwards;
}

@keyframes fadeOutWeather {
    from {
        opacity: 1;
    }

    to {
        opacity: 1;
    }
}

.login-background {
    .transition-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        overflow-x: hidden;

        width: 100%;
        height: 100%;
    }

    .app {
        position: absolute;
        top: 0;
        right: 0;

        width: 100%;
        height: auto;
        min-height: 100%;
    }
}

.camera-layout--landscape.transition-item {
    height: 100vw !important;
}
