// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

/**
 * Clear inner floats
 */
.clearfix::after {
    clear: both;

    display: table;

    content: "";
}

@include respond-to(mobile) {
    .flex-grow {
        flex-grow: 1;
    }
}

.justify-content-center {
    justify-content: center;
}

.content-center {
    justify-content: center;
}

@include respond-to(desktop) {
    .app-page .justify-content-center {
        justify-content: flex-start;
    }

    .productRequest .justify-content-center {
        justify-content: center;
    }

    .new-modal .justify-content-center {
        justify-content: center;
    }
}

@include respond-to(mobile) {
    .align-items-center {
        align-items: center;
    }
}

.align-items-end {
    align-items: flex-end;
}

[hidden] {
    display: none !important;
}

.ellipsis {
    overflow: hidden;

    text-overflow: ellipsis;
    white-space: nowrap;
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;

    border: 0;
}

.text-left {
    text-align: left !important;
}

.help-block {
    color: inherit;
}

.text-muted {
    color: inherit;

    opacity: 0.75;
}

.flex-container {
    display: flex;
    // flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;

    // padding-top: 0.75rem;
}

.flex-container_portfolio-Items {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    padding-top: 0.75rem;
}

.justify-content-end {
    justify-content: flex-end;
}

.flex {
    flex: 1;
}

/**
 * ! Debo llevar esto a las secciones y no realizar estas escepciones aqui
 */

.theme--auth:not(.enrollment-layout) {
    @include respond-to(desktop) {
        .align-items-center {
            align-items: initial;
        }
    }
}

.add-colon {
    &::after {
        display: inline;

        content: ":";
    }
}

.flex-container.flex-right {
    justify-content: flex-end;
}
