/**
 * Arreglo necesario para separar visualmente en contenido de la interfaz 
 * de la plataforma del Iphone X en particular
 */

.view-header.theme-product-detail .navbar {
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
}

.view-header:not(.theme-product-detail) {
    margin-top: constant(safe-area-inset-top);
    margin-top: env(safe-area-inset-top);
}

.view-page {
    margin-top: constant(safe-area-inset-top);
    margin-top: env(safe-area-inset-top);
}

.view-header ~ .view-page {
    margin-top: 0;
}

.container--layout:last-of-type {
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
}

.container--bottom {
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
}

.notifications-wrapper {
    top: 0;
    top: constant(safe-area-inset-top);
    top: env(safe-area-inset-top);
}

.slideFromBottom.Select-menu {
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
}

.containerDetails .col > div > div {
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
}

// Elementos sobrantes del componente react-infinite
.containerDetails .table-row ~ div:not(.table-row) {
    display: none;
}

// Contenedor del listado de movimientos
.containerDetails .col > div > div {
    -webkit-overflow-scrolling: touch;
}

// Centrar contenedor de mensaje en listado para mobile
.containerDetails .react-tabs__tab-panel > div > div {
    display: flex;
    flex-direction: column;

    min-height: 100%;
}

// Fix for MANNAZCA-7042
@include respond-to(mobile) {
    .containerDetails .react-tabs__tab-panel {
        padding-top: 0.75rem;
    }
    .containerDetails .react-tabs__tab-panel > .row > .col {
        min-height: 0;
    }
}

.height-inherit {
    height: inherit !important;
}
