/* Vector Wrappers */

.svg-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    > div {
        display: flex;
    }
}

.svg-image {
    width: 100%;
    height: 100%;
}

/* Vector styling */

.class-1,
.class-2 {
    fill: none;
    stroke: currentColor;
    stroke-linecap: round;
    stroke-linejoin: round;
    // stroke-width: 2px;
}

.class-1 {
    stroke-miterlimit: 10;
}

.transactionListVector {
    display: flex;
}

.st0 {
    fill: none;
    stroke: currentColor;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.stroke {
    fill: none;
    stroke: currentColor;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    stroke-width: 2px;
}

.transactionListVector-success .stroke-fat {
    stroke-width: 2px;
}

.stroke-fat,
.fat {
    stroke-width: 3px;
}

.svg-icon {
    width: 2.5rem;
    height: 2.5rem;
    min-width: 2.5rem;
}

/* TODO: problema de especificidad con chevroms */
a.table-row svg.svg-caret,
.svg-caret {
    width: 1rem;
    height: 1rem;
    min-width: 1rem;
}

.form-group--loanPayments {
    .c-control-mark {
        width: 1.25rem;
    }

    .svg-caret {
        width: 1rem;
        height: 1rem;
        min-width: 1rem;
    }
}

.svg-logo {
    width: 1.25rem;
    height: 1.25rem;
    min-width: 1.25rem;
}
.nav.product-detail-commands {
    li {
        a {
            display: inline-flex;
        }
    }
}

.btn.btn-only-icon {
    width: 2.5rem;
    margin: 0 0.5rem;
    padding: 0.4rem;

    border-radius: 2.5rem;
    .svg-image {
        width: 100%;
        height: 100%;
        margin: 0;
    }
}
