/*
   Base
   ========================================================================== */

html,
body {
    height: 100%;
    min-height: 100%;
}

html {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
    cursor: default;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -ms-content-zooming: none;
    touch-action: pan-y;

    font-family:
        "Helvetica Neue",
        "Segoe UI",
        "Roboto",
        "Oxygen",
        "Ubuntu",
        "Cantarell",
        "Fira Sans",
        "Droid Sans",
        sans-serif;
    ;
    background-color: #201921c2;
    color: #201921dd;
    font-size: 16px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

fieldset {
    border: none;
    padding: 0;
}

legend {
    padding: 0;
}

/*
   Button
   ========================================================================== */

.button {
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    text-align: center;
    justify-content: center;
    font: inherit;
    border-radius: 36px;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    text-transform: uppercase;

    border: 2px solid transparent;
    font-size: 14px;
    line-height: 18px;
    transition: all 125ms ease;

    background-color: transparent;
    color: #c24700;
    border-color: currentColor;

    padding: 16px 24px;
}

.button:hover {
    color: #b53000;
}

.button:disabled,
.button[disabled] {
    cursor: not-allowed;
}

.button:focus {
    outline: none;
    box-shadow: 0 0 0 4px #c2470044;
}

.button-emphasis-high {
    background-color: #c24700;
    color: white;
    border-color: transparent;
}

.button-emphasis-high:hover {
    background-color: #b53000;
    color: white;

}

.button-stretch {
    width: 100%;
}

/*
   Link
   ========================================================================== */
.link {
    color: #c24700;
    align-items: center;

    transition: all 125ms ease;
    font-family: inherit;
    text-decoration: none;
}

.link:hover {
    color: #b53000;
    text-decoration: underline;
}

.link:focus {
    outline: none;
    text-decoration: none;
    box-shadow: 0 0 0 4px #c2470044;
}

/*
   Input
   ========================================================================== */

.field-input {
    font: inherit;
    border-radius: 4px;
    width: 100%;
    background: white;
    color: black;
    transition: all 125ms ease;
    border: 1px solid #cbcaca;
    padding: 16px 12px;
}

.field-input:hover {}

.field-input:focus {
    outline: none;
    border: 1px solid #c24700;
    box-shadow: 0 0 0 4px #c2470044;
}

.field-label {
    display: inline-flex;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    margin-bottom: 12px;
}

.field-wrapper:not(:last-of-type) {
    margin-bottom: 24px;
}

/*
   Util
   ========================================================================== */

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;

    border: 0;
}

.flex {
    display: flex;
}

.flex-grow {
    flex: 1;
}

.flex-space {
    justify-content: space-between;
}

.flex-reverse {
    flex-direction: row-reverse;
}

.flex-wrap {
    flex-wrap: wrap;
}



/*
   layout
   ========================================================================== */

.container {
    margin: auto;
    display: flex;
    min-height: 100%;
    max-width: 440px;
}

.panel {
    background-color: #f9f9fb;
    padding: 36px 24px;
    display: flex;
    border-radius: 16px;
    width: 100%;
    margin: 54px auto;
    flex-direction: column;
}

@media screen and (max-width: 640px) {
    .container {
        max-width: none;
    }
    .panel {
        border-radius: 0;
        margin: 0 auto;
    }
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/*
   Typograpy
   ========================================================================== */

.view-title {
    font-size: 36px;
    font-weight: 300;
    line-height: 44px;
}

.view-subhead {
    font-size: 16px;
    line-height: 28px;
    text-transform: uppercase;
}

hgroup {
    margin: 16px 0;
}

hgroup .view-title {
    margin: 0;
}

hgroup .view-subhead {
    margin: 0 0 8px 0;
}

.text-lead {
    font-size: 20px;
    line-height: 28px;
}

.text-big {
    font-size: 20px;
    line-height: 28px;
}

.text-small {
    font-size: 14px;
    line-height: 18px;
}

.list {
    margin: 0;
    list-style: none;
    padding: 0;
}

.list h3 {
    font: inherit;
}

.list li {
    /* padding-left: 32px; */
    display: flex;
    align-items: flex-start;
}

.list li:before {
    min-width: 24px;
    content: "";
    height: 24px;
    margin-right: 8px;
    background-repeat: no-repeat;
    display: inline-block;
    background-image: url(../check-circle.svg);
}

.list li:not(:last-of-type) {
    margin-bottom: 12px;
}

/*
   Avatar
   ========================================================================== */

.avatar {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: inline-block;
    color: #c24700;
    text-align: center;
    background: transparent;
    border: 2px solid currentColor;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
}

.avatar-initials {
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    line-height: 36px;
}

.chat-message {
    background-color: #fdfdfa;
    border: 1px solid #e3e3e3;
    padding: 0 8px;
    border-radius: 6px;
    margin: 0 16px;
    font-size: 14px;
    line-height: 18px;
}

.chat-message p {
    margin: 12px 0;
}

.phrase-wrapper {
    padding: 16px 8px;
    margin: 0;
    background-color: #ffffff;
    border-radius: 8px;
}

.phrase {
    display: flex;
    margin: 12px 0;
}

.phrase:not(.phrase-user) {
    flex-direction: row-reverse;
}

/*
   Alignment
   ========================================================================== */

section:not(:last-of-type) {
    margin-bottom: 40px;
}

footer {
    margin-top: 40px;
}

footer .text-small {
    margin: 0;
}

/*
   Alert
   ========================================================================== */

/**
 * @TODO
 * the disclaimer needs to be removed from the DOM
 */

#formError .disclaimer:empty {
    display: none;
}

#formError {
    position: relative;
}

.disclaimer {
    margin: 24px 0;
    padding: 24px;
    background-color: white;
    border-radius: 4px;
}

.disclaimer-error {
    padding-left: 56px;
    border: 2px solid #E80205;
}

.disclaimer-error:before {
    min-width: 24px;
    content: "";
    position: absolute;
    left: 24px;
    height: 24px;
    margin-right: 8px;
    background-repeat: no-repeat;
    display: inline-block;
    background-image: url(../warning-triangle.svg);
}