/* Borders */

[class*=" b-"],
[class^="b-"],
[class*=" bl-"],
[class^="bl-"],
[class*=" br-"],
[class^="br-"],
[class*=" bt-"],
[class^="bt-"],
[class*=" bb-"],
[class^="bb-"] {
    outline: 2px solid orange !important;
}

/* Paddings */

[class*=" p-"],
[class^="p-"],
[class*=" pl-"],
[class^="pl-"],
[class*=" pr-"],
[class^="pr-"],
[class*=" pt-"],
[class^="pt-"],
[class*=" pb-"],
[class^="pb-"] {
    outline: 2px solid orange !important;
}

/* Margins */

[class*=" m-"],
[class^="m-"],
[class*=" ml-"],
[class^="ml-"],
[class*=" mr-"],
[class^="mr-"],
[class*=" mt-"],
[class^="mt-"],
[class*=" mb-"],
[class^="mb-"] {
    outline: 2px solid orange !important;
}

/* Displays */

[class*=" d-"],
[class^="d-"] {
    outline: 2px solid orange !important;
}

/* 
 * Rows & cols 
 * Colorea rojo solo si esta mal ubicada fuera de un row
 */

[class*=" row"],
[class^="row"] {
    outline: 4px solid scale-color(greenyellow, $alpha: -60%);

    > [class*=" col-"],
    > [class^="col-"] {
        outline: 2px solid scale-color(limegreen, $alpha: -60%);
    }
}

[class*=" col-"],
[class^="col-"] {
    outline: 2px solid red;
}
