/*------------------------------------*\
    #ALERT
\*------------------------------------*/

@mixin colorize-alert($background-color, $border-color) {
    border-color: $border-color;

    color: color-yiq($background-color);

    hr {
        border-top-color: color-yiq($background-color);
    }

    .alert-link {
        color: color-yiq($background-color);
    }
}

/*------------------------------------*\
    #BADGE
\*------------------------------------*/

@mixin colorize-badge($background-color, $text-color: color-yiq($background-color)) {
    color: $text-color;

    background-color: $background-color;

    &[href] {
        &:hover,
        &:focus {
            color: $text-color;
            text-decoration: none;

            background-color: scale-color($background-color, $lightness: 10%);
        }
    }
}

/*------------------------------------*\
    #BUTTON
\*------------------------------------*/

@mixin colorize-button($background-color, $border-color: $background-color) {
    border-color: $border-color;

    color: color-yiq($background-color);

    background-color: $background-color;

    &:hover {
        border-color: darken($border-color, 12.5);

        background-color: darken($background-color, 12.5);
    }
    &:focus {
        box-shadow: 0 0 0 4px rgba($border-color, 0.40);
    }
    &:active {
        border-color: darken($border-color, 12.5);

        background-color: darken($background-color, 12.5);
        box-shadow: 0 0 0 4px rgba($border-color, 0.40);
    }
    &:active:focus {
        border-color: $border-color;

        background-color: $background-color;
    }
}

/*------------------------------------*\
    #TABLE
\*------------------------------------*/

@mixin colorize-table-row($state, $background: $background-color) {
    // Exact selectors below required to override `.table-striped` and prevent
    // inheritance to nested tables.
    .table-#{$state} {
        &,
        > th,
        > td {
            background-color: scale-color($background, $lightness: 85%);
        }
    }

    // Hover states for `.table-hover`
    // NOTE: this is not available for cells or rows within `thead` or `tfoot`.
    .table-hover {
        $hover-background: scale-color($background, $lightness: 70%);

        .table-#{$state} {
            &:hover,
            &:focus {
                background-color: $hover-background;

                > td,
                > th {
                    background-color: $hover-background;
                }
            }
        }
    }
}

/*------------------------------------*\
    #SCOPE
\*------------------------------------*/

@mixin colorize-scope($theme-colors: ()) {
    @if "table-row" {
        @each $color,
        $value in $theme-colors {
            @include colorize-table-row($color, $value);
        }
    }

    @if "button" {
        @each $color,
        $value in $theme-colors {
            .btn-#{$color} {
                @include colorize-button($value);
            }
        }
    }

    @if "badge" {
        @each $color,
        $value in $theme-colors {
            .badge-#{$color} {
                @include colorize-badge($value);
            }
        }
    }

    @if "alert" {
        @each $color,
        $value in $theme-colors {
            .alert-#{$color} {
                $background-color: scale-color($value, $lightness: 50%);
                $border-color: scale-color($value, $lightness: 90%);

                @include colorize-alert($background-color, $border-color);
            }
        }
    }

    @if "progress" {
    }
}

/// Make a context based selector a little more friendly
/// @author Hugo Giraudel
/// @param {String} $context
@mixin when-inside($context) {
    #{$context} & {
        @content;
    }
}

@mixin respond-to($media) {
    @if $media==xs {
        @media (max-width: $screen-xs-max) {
            @content;
        }
    }

    @else if $media==sm {
        @media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
            @content;
        }
    }

    @else if $media==md {
        @media (min-width: $screen-md) and (max-width: $screen-md-max) {
            @content;
        }
    }

    @else if $media==lg {
        @media (min-width: $screen-lg) {
            @content;
        }
    }

    @else if $media==fullHD {
        @media (min-width: 1920px) {
            @content;
        }
    }

    @else if $media==mobile {
        @media (max-width: $screen-xs-max) {
            @content;
        }
    }

    @else if $media==desktop {
        @media (min-width: $screen-sm) {
            @content;
        }
    }
}

/// poly-fluid-sizing
/// Generate linear interpolated size values through multiple break points
/// @param $property - A string CSS property name
/// @param $map - A SASS map of viewport unit and size value pairs
/// @requires function linear-interpolation
/// @requires function map-sort
/// @example
///   @include poly-fluid-sizing('font-size', (576px: 22px, 860px: 24px, 1024px: 34px));
/// @author Jake Wilson <jake.e.wilson@gmail.com>
@mixin poly-fluid-sizing($property, $map) {
    // Get the number of provided breakpoints
    $length: length(map-keys($map));
    // Sort the map by viewport width (key)
    $map: map-sort($map);
    $keys: map-keys($map);
    // Minimum size

    #{$property}: map-get($map, nth($keys, 1));

    // Error if the number of breakpoints is < 2
    @if ($length < 2) {
        @error "poly-fluid-sizing() $map requires at least values";
    }

    // Interpolated size through breakpoints
    @for $i from 1 through ($length - 1) {
        @media (min-width: nth($keys, $i)) {
            #{$property}: linear-interpolation((nth($keys, $i): map-get($map, nth($keys, $i)),
            nth($keys, ($i + 1)): map-get($map, nth($keys, ($i + 1))),
            ));
        }
    }

    // Maxmimum size
    @media (min-width: nth($keys, $length)) {
        #{$property}: map-get($map, nth($keys, $length));
    }
}

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */

@mixin visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;

    border: 0;
}

@mixin ellipsis {
    overflow: hidden;

    text-overflow: ellipsis;
    white-space: nowrap;
}