#modal,
.modal-dialog,
.theme-auth {
    color: $gray-darker; // $gray-darker;

    .data {
        border-bottom: 1px solid $brand-color-element;
    }

    .app-footer {
        // background-color: white;
    }

    .check-list {
        .c-control--radio {
            .c-control-label::before {
                border: none;
            }
        }

        .c-control-label {
            color: $checks-list-type-color;
        }

        .c-control-input:checked ~ .c-control-label {
            color: $brand-primary;
        }
    }

    .c-control--radio,
    .c-control--checkbox,
    .c-control--switch {
        .c-control-label::before {
            box-shadow: none;
            // border: 1px solid $brand-primary;
        }
    }

    .app-footer {
        color: $ui-color-field; // $gray-darker;

        background-color: #ffffff;
    }

    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4 {
        // color: inherit; // $brand-primary;
    }

    h1,
    h2,
    h3,
    h4 {
        // color: $brand-primary;
    }

    &.app .main-container,
    &.view-wrapper .main-container {
        background-color: transparent;
    }

    .text-lead,
    .page-title,
    .view-title {
        color: $brand-primary; // $brand-primary;
    }

    .input-group {
        border: 1px solid $ui-color-field; // $gray-darker;
    }

    .form-control {
        color: $gray-darker; // $gray-darker;
    }

    .progress {
        background-color: $brand-color-element;

        .progress-bar {
            background-color: $brand-info; // $brand-info;
        }
    }

    .container-fluid {
        max-width: initial !important;
    }

    .form-group.has-focus {
        .input-group {
            box-shadow: 0 0 0 4px rgba($color-interactive, 0.4);
        }
    }

    .btn.btn-only-icon {
        width: 2.5rem;
        height: 2.5rem;
        padding: 0.4rem;
        color: $brand-info;
        border-radius: 2.5rem;

        &:focus {
            .svg-wrapper {
                color: $brand-info;
            }
        }

        &:hover {
            .svg-wrapper {
                color: $color-interactiveShade;
            }
        }

        &:active {
            .svg-wrapper {
                color: $color-interactiveShade;
            }
        }
    }
    :link.btn.btn-only-icon {
        margin-top: 0.75rem;
    }
}

.theme-highlight {
    color: $app--color;

    background-color: $app--background-color;

    &.view-header {
        color: $app--color;

        background-color: $app--background-color;

        .navbar {
            background-color: $app--background-color;
        }
    }

    .toolbar-item--fixed {
        color: $brand-info;
    }

    .view-title {
        color: $app--color;
    }

    .section-content-heading {
        border-color: transparent;
    }
}

.app-footer a {
    color: $brand-info;
}

@include respond-to(mobile) {
    .theme-product-detail {
        &.view-header .navbar {
            color: white;

            background-color: $brand-primary;
        }

        .text-lead,
        .page-title,
        .view-title {
            color: white;
        }

        &.view-morphing {
            color: white;

            background-color: $brand-primary;
        }

        .product-item .data-aux {
            background-color: lighten($brand-primary, 30%);
        }

        .toolbar-item.toolbar-item--fixed {
            color: white;
        }

        .section-content-heading {
            margin-bottom: 0;

            border-color: $brand-primary;
        }

        .slick-dots li.slick-active button:before {
            color: lighten($brand-primary, 30%);
        }
    }
}

@include respond-to(desktop) {
    .theme-auth .view-header .navbar > .container-fluid {
        align-items: baseline;
    }
}

.navbar-brand {
    display: flex;

    height: auto;
}

.form-group.has-focus {
    .filepond--wrapper {
        box-shadow: 0 0 0 4px rgba($color-interactive, 0.4);
        border-radius: 0.5rem;
    }
}
