// These vars were populated by brand

.text-lead,
.form-group-label {
    font-weight: normal;
}

.control-label {
    .text-optional {
        font-weight: normal;
    }
}

.login-background {
    .form-group.has-focus {
        .input-group {
            box-shadow: 0 0 0 4px rgba($color-interactive, 0.4);
        }
    }
}

a.btn {
    text-decoration: none;
}

.app-page {
    transition: all 0.3s ease;
}

.app-footer {
    p {
        margin: 0;
    }
}

.text-lead,
.view-title {
    // color: white;
    color: $color-ink;
    text-align: center;
}

.text-lead {
    margin: 0.375em 0 1.25rem 0;
}

a {
    text-decoration: underline;
}

label,
input {
    font-size: 1rem;
}

small {
    font-size: 0.75rem;
}

.btn {
    padding: $btn--padding;

    border-radius: $btn--border-radius;

    font-size: 0.875rem; //$btn--font-size;
    font-weight: $btn--font-weight;
    text-transform: $btn--text-transform;
}

.btn-small {
    padding: 0.5em;
}

.btn.btn-image.selected {
    box-shadow: 0 0 0 4px #b20000;
}

.btn.btn-image.unselected {
    opacity: 0.4;
}

.btn.btn-image {
    position: relative;
    overflow: hidden;

    width: 100%;
    padding: 0;
    padding-top: 100%;

    border: none;
    border-radius: 50%;

    background-color: transparent;
    background-position: center;
    background-size: cover;
    box-shadow: none;

    span {
        position: absolute;

        opacity: 0;
    }
}

.btn.btn-image.security-image {
    margin-bottom: 1em;
}

.btn.btn-image.img-place-holder {
    background-image: url("../../../images/imgplaceholder.png");
}

.app,
.view-wrapper {
    color: $color-ink;

    @include colorize-scope(
        $theme-colors: (
            "primary": $app-page--primary-color,
        )
    );

    .text-danger {
        color: $ui-color-text--error;
    }

    a {
        color: $color-ink;

        &:hover {
            color: $color-inkHover;
        }

        &:active {
            color: $color-interactive;
            text-decoration: none;
        }

        &:focus {
            color: $color-interactive;
            outline: none;
        }

        //mobile
        @include respond-to(mobile) {
            &:active {
                color: $color-interactiveShade;
            }
        }
    }

    a.btn-primary {
        // se pisa el color por que segun color-yiq deberia de ser oscuro
        color: white;

        &:active {
            color: white;
        }
    }
}

.text-danger {
    color: $ui-color-text--error;
}

@include colorize-scope(
    $theme-colors: (
        "primary": $app-page--primary-color,
    )
);

a {
    color: $app-page-link--color; //z-index: 101;

    // padding: 0;
    &:hover,
    &:focus {
        color: darken($app-page-link--color, 10%);
    }
}

.container--bottom {
    background-color: $container-bottom--background-color;

    @include when-inside(footer) {
        background-color: transparent;
    }
}

.app-footer {
    color: white;

    a {
        color: white;
    }

    .legal-nav {
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        justify-content: flex-end;

        height: 100%;
        margin-bottom: 0;

        list-style: none;

        li a {
            font-size: 0.8rem;

            svg {
                height: auto;
                max-width: 2rem;
                margin-right: 0.5rem;
            }
        }

        li:not(:last-child) {
            margin-right: 1rem;
        }
    }
}

.form-control {
    box-shadow: none;
}

.app-footer {
    border: none;
}

.input-group {
    border: none;
}

// revisar el scope para este elemento
body {
    .c-control--switch {
        .c-control-label {
            font-size: 1em;

            // width: 100%;
            &::after {
                width: 0.6em;
                height: 0.6em;
                margin: 0.3em;

                border-radius: 50%;

                content: "";

                background-color: white;
            }

            &::before {
                border: none !important;

                background-color: $ui-color-field;
                box-shadow: none;
            }
        }

        .c-control-input:checked ~ .c-control-label {
            &::before {
                background-color: $brand-color-accent;
            }
        }
    }

    .c-control-input:focus ~ .c-control-label {
        &::before {
            outline: 0;
            box-shadow: 0 0 0 4px rgba($color-interactive, 0.4);
        }
    }
}

.btn-link {
    border: none;
    // color: $brand-color-accent !important;

    background-color: transparent;

    &:hover {
        // color: white !important; // color-yiq($brand-color-accent; //$brand-color-accent) !important;
        text-decoration: none;

        // background-color: $brand-color-accent;
    }
}

.table-row .svg-wrapper {
    color: $brand-primary; // $brand-color-accent;
}

.table-head {
    display: table-header-group;
}

.table-head .table-data {
    border-width: 2px;

    color: $brand-primary;
}

.data-name {
    color: $brand-primary;
}

.product-item {
    .data-aux {
        color: white;

        background-color: $brand-color-secondary; // #49ccbd este color seria para app--auth
    }

    .data-name {
        color: $brand-primary;
    }
}

/* --------- */

/* Menu-list */

/* --------- */

.app-sidebar {
    background-color: lighten($brand-primary, 60%);
}

.menu-list {
    .menu-list-item {
        border-bottom: 1px solid white;

        li:hover > a {
            background-color: #8f88aa;
        }

        > a,
        > span {
            min-height: 2.875rem;
            padding: 0.75em 2em 0.75em 3.5rem;

            color: $brand-primary;
            line-height: 1.4;
            text-decoration: none;
            white-space: normal;

            cursor: pointer;

            > span {
                color: $brand-primary;
            }

            &:hover,
            &:focus {
                color: $brand-primary;

                background-color: #dbd7e4;

                .svg-wrapper {
                    color: $brand-primary;
                }
            }
        }
    }

    .dropdown.open {
        .dropdown-menu {
            padding: 0;
            margin: 0;

            li {
                border-bottom: 1px solid rgba(256, 256, 256, 0.4);

                > a,
                > span {
                    padding: 0.75em 2em 0.75em 3.5rem;

                    color: white;
                    font-size: 0.875rem;
                    line-height: 1.4;
                    text-decoration: none;

                    background-color: #a8a2c1;

                    &:hover {
                        color: white;

                        background-color: #8f88aa;
                    }
                }
            }
        }
    }
}

.menu-list {
    .menu-list-item {
        .menu-list-item span {
            color: white;
        }
    }
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    border: none;

    background-color: #dad7e4;
}

//mobile
@include respond-to(mobile) {
    .view-header .navbar-default .navbar-collapse {
        padding: 0;
    }
}

// mobile
.view-header {
    // problema de herencia para mobile
    .navbar-default .navbar-nav > li {
        &.open > a {
            color: $brand-primary;

            background-color: #dbd7e4;

            span {
                color: $gray-darker;
            }
        }

        > a {
            color: $brand-primary; // pero tambien de los comandos del cabezal
        }
    }

    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        background-color: lighten($brand-primary, 60%);
    }

    .navbar-toggle {
        .icon-bar {
            background-color: $brand-primary;
        }

        &:hover,
        &:focus {
            background-color: transparent;

            .icon-bar {
                background-color: darken($brand-primary, 10%);
            }
        }
        &:hover {
            box-shadow: none;
        }
    }
}

/* --------------- */

/* Header-commands */

/* --------------- */

/* ------------ */

/* View Toolbar */

/* ------------ */
.btn.isLoading,
.btn.is-loading {
    background-color: darken($brand-color-accent, 10%);
}

/* -------- */

/* Controls */

/* -------- */

.check-list {
    .c-control-label {
        // color: $color-ink;
    }

    .c-control-input:checked ~ .c-control-label {
        padding-right: 3rem;
        // color: $checks-list-type-color-active;

        color: $checks-list-type-color;

        // color: $checks-list-type-color-active;
    }
}

.view-header .navbar .navbar-header {
    margin-top: $l;

    @include respond-to(mobile) {
        margin-top: $m;
    }
}

.content-heading {
    a {
        text-decoration: none;
    }
}
